body{
    background-size:cover;
}

.left form{
    background-color: #3a3a3a9c;
}
.left form .login-btn{
    background-color: #ff7700;
    color: #fff;
    font-size: 18px;
    transition: 0.2s ease;
}
.left form .login-btn:hover{
    background-color: #fc8721;
}

/* .right .schedule-area{
    background-color: #292929c0;
} */
.right .schedule-area{
    background-color: #ffffffcc;
}
.login-ivibo .select-btn{
    background-color: #292929c0 !important;
}
.login-ivibo .select-btn.active{
    background-color: #ffffff !important;
}
.login-ivibo .select-btn.active span{
    color: #ff7700 !important;
}
.login-ivibo .tab-pane.active{
    background-color: #fff;
}
.login-ivibo .tab-pane{
    max-height: 250px;
    overflow: scroll;
}

