.orange {
    color: #fd7700!important;
    background: none;
}
.box-choose .col-md-4{
    width: 100px;
    height: 100px;
    text-align: center;
    background: #fd7600;
    border-radius: 50%;
    padding: 15px;
}
.box-choose .col-md-8{
    width: 66%;
    padding-left: 30px;;
}
.box-choose h4 {
    font-size: 18px;
}
.pd-div {
    padding: 0 50px;
    margin-bottom: 30px;
}
.div-choose {
    width: 100%;
    display: block;
    color: #333;
}
.welcome-home p{
    padding:0 18px;
}
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #042331;
  transition: all 0.5s ease;
   z-index:1000;
   background: #f0f0f0;
}
.sidebar.open{
    left:0px;
    top:0px;
}
.sidebar-left{
    display:flex;
    margin-top:20px;
}
.table-content tr td:first-child {
    padding-left: 15px;
    width: 50px;
}
.badge-secondary {
    background-color: #3a4048!important;
}
.table {
    font-size: inherit;
}
.form-create {
    padding: 15px 15px;
}
.btn-primary {
    color: #ffffff;
    background-color: #fe7501!important;
    border-color: #fe7501!important;
}
.form-group {
    width: auto;
}
legend {
    font-size: 18px;
}
.card .card-header {
    padding: 0px;
    background-color: #333!important;
    padding:0px;
}
.card .btn-link {
    padding: 0 16px;
    color: #fff!important;
    font-size: 18px!important;
    font-weight: 500;
}
.dataTables_info {
    margin-bottom: 0px;
    width: 50%;
}
.dataTables_paginate.paging_simple .paginate_button {
    padding-left: 0px;
    padding-right: 0px;
}
.table-member-content .dataTables_info {
    text-align: left;
}
.table-member-content .dataTables_paginate {
    width: 50%;
    text-align: right;
    margin-bottom: 0px;
}
.zoom {
    position: fixed;
    bottom: 45px;
    right: 24px;
    height: 70px;
    z-index: 10000;
}
.zoom-btn-large {
    width: 45px;
    height: 45px;
    line-height: 45px;
}
.zoom-fab {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #fe7701;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    transition: 0.2s ease-out;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
    cursor: pointer;
    color: #FFF;
}
.zoom-menu {
    position: absolute;
    right: 70px;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 500px;
    list-style: none;
    text-align: right;
}
.scale-transition.scale-out {
    transform: scale(0);
    transition: transform 0.2s !important;
}
.zoom-menu li {
    display: inline-block;
    margin-right: 10px;
}
.zoom-btn-doc {
    background-color: #ffffff;
}
.datatable-header{
    padding:0px;
    display: flex;
}
.btn-search {
    height: 100%;
    margin-top: 0px;
}
.form-check-input {
    margin-top: 5px;
}
#page_member{
    padding-left:0px;
    padding-right:10px;
    margin-bottom: 5px;
}
.table-member {
    margin-top: 5px;
    width: 100%;
    overflow: auto;
    display: block;
}
.zoom-btn-tangram {
    background-color: #ffffff;
}
.zoom-btn-person {
    background-color: #ffffff;
}
.zoom-btn-report{
    background-color: #ffffff;
}
.top-left-sidebar ul li {
    top: 11px;
}
.nav.flex-column .nav-link{
    padding-left:0px;
}
.btn-default {
    color: #777;
    text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
    background-color: #e7e7e7;
    background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
    background-repeat: repeat-x;
    border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
    padding: 6.5px 12px;
    font-size: 12px;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%);
    height: 100%;
}
.nav-pills a img {
    padding: 0 10px 0 10px;
}
.text-sidebar {
    padding-left: 10px;
}