/*------------------------------------------------------------------
[Master Stylesheet]
Project:	Indusui admin - Responsive Admin Template
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. Body, layout
2. Header
3. Sidebar
4. Form-element and progress bar
5. Box
6. User card
7. tab
8. google map
9. wizard
10. weather
11. Chat and info-box
12. timeline
13. Button
14. callout
15. tab
16. pagination
17. data table
18. direct-chat
19. modal
20. widget
21. treevie
22. mailbox
23. lockscreen
24. login-box
25. social btn
26. color Skin

-------------------------------------------------------------------*/


/*******************
import icon and fonts Styles
*******************/
@import url(../assets/vendor_components/font-awesome/css/font-awesome.css);
@import url(../assets/vendor_components/font-awesome/css/font-awesome-animation.css);
@import url(../assets/vendor_components/Ionicons/css/ionicons.css);
@import url(../assets/vendor_components/themify-icons/themify-icons.css);
@import url(../assets/vendor_components/linea-icons/linea.css);
@import url(../assets/vendor_components/glyphicons/glyphicon.css);
@import url(../assets/vendor_components/flag-icon/css/flag-icon.css);
@import url(../assets/vendor_components/material-design-iconic-font/css/materialdesignicons.css);
@import url(../assets/vendor_components/simple-line-icons-master/css/simple-line-icons.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url(../assets/vendor_components/animate/animate.css);

/*------------------------------------------------------------------

[Typography]

Body :		Poppins, sans-serif;
-------------------------------------------------------------------*/



/*box*/

.small-box {
    position: relative;
    display: block;
    margin-bottom: 30px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
}
.small-box>.inner {
    padding: 1.25rem;
}
.small-box>.small-box-footer {
    position: relative;
    text-align: right;
    padding: 3px 10px;
    color: #fff;
    color: rgba(255, 255, 255, .8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, .1);
    text-decoration: none;
}
.small-box>.small-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, .15);
}
.small-box h3 {
    font-size: 38px;
    font-weight: 700;
    margin: 0 0 10px;
    white-space: nowrap;
    padding: 0;
}
.small-box p {
    font-size: 15px;
	margin-bottom: 10px;
}
.small-box p>small {
    display: block;
    color: #f9f9f9;
    font-size: 13px;
    margin-top: 5px;
}
.small-box h3, .small-box p {
    z-index: 5;
}
.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
    position: absolute;
    top: -12px;
    right: 20px;
    z-index: 0;
    font-size: 72px;
    color: rgba(0, 0, 0, .15);
    opacity: 0.7;
}
.small-box:hover {
    text-decoration: none;
    color: #f9f9f9;
}
.small-box:hover .icon {
    font-size: 78px;
}
@media (max-width:767px) {
    .small-box {
    text-align: center;
}
.small-box .icon {
    display: none;
}
.small-box p {
    font-size: 12px;
}
}
.box {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    background: #fff;
    padding: 0px;
    -webkit-transition: .5s;
    transition: .5s;
	display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
        border: 1px solid #e6ecf5;
}
.pull-up {
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
}
.pull-up:hover {
    -webkit-transform: translateY(-4px) scale(1.02);
    -moz-transform: translateY(-4px) scale(1.02);
    -ms-transform: translateY(-4px) scale(1.02);
    -o-transform: translateY(-4px) scale(1.02);
    transform: translateY(-4px) scale(1.02);
    -webkit-box-shadow: 0 5px 10px rgba(62,57,107,.2);
    box-shadow: 0 5px 10px rgba(62,57,107,.2);
    z-index: 999;
}
.box-inverse{
  color: #fff !important;
  background-color: #353b43;
}
.box-inverse .box-header{
  color: #fff !important;
}
.box-inverse h1, .box-inverse h2, .box-inverse h3, .box-inverse h4, .box-inverse h5, .box-inverse h6,
.box-inverse .box-title,
.box-inverse small,
.box-inverse .box-controls li > a {
  color: #fff !important;
}

.box-inverse .box-title small {
  opacity: 0.8;
}

.box-inverse .box-btn-more::before,
.box-inverse .box-btn-more::after {
  border-color: #fff;
}

.box-inverse .box-header,
.box-inverse .box-footer,
.box-inverse .box-action {
  border-color: rgba(255, 255, 255, 0.15);
}

.box-primary {
  background-color: #664be0;
}

.box-primary.box-bordered {
  border-color: #664be0;
}

.box-secondary {
  background-color: #e4e7ea;
}

.box-secondary.box-bordered {
  border-color: #e4e7ea;
}

.box-success {
  background-color: #23ad9f;
}

.box-success.box-bordered {
  border-color: #23ad9f;
}

.box-info {
  background-color: #3a8af7;
}

.box-info.box-bordered {
  border-color: #3a8af7;
}

.box-warning {
  background-color: #ffb048;
}

.box-warning.box-bordered {
  border-color: #ffb048;
}

.box-danger {
  background-color: #ff4a52;
}

.box-danger.box-bordered {
  border-color: #ff4a52;
}

.box-pink {
  background-color: #E91E63;
}

.box-pink.box-bordered {
  border-color: #E91E63;
}

.box-purple {
  background-color: #7c096a;
}

.box-purple.box-bordered {
  border-color: #7c096a;
}

.box-brown {
  background-color: #8d6658;
}

.box-brown.box-bordered {
  border-color: #8d6658;
}

.box-cyan {
  background-color: #00BCD4;
}

.box-cyan.box-bordered {
  border-color: #00BCD4;
}

.box-yellow {
  background-color: #FFEB3B;
}

.box-yellow.box-bordered {
  border-color: #FFEB3B;
}

.box-gray {
  background-color: #868e96;
}

.box-gray.box-bordered {
  border-color: #868e96;
}

.box-dark {
  background-color: #353b43;
}

.box-dark.box-bordered {
  border-color: #353b43;
}

.box-outline-primary {
  background-color: #fff;
  border: 1px solid #664be0;
}

.box-outline-secondary {
  background-color: #fff;
  border: 1px solid #e4e7ea;
}

.box-outline-success {
  background-color: #fff;
  border: 1px solid #23ad9f;
}

.box-outline-info {
  background-color: #fff;
  border: 1px solid #3a8af7;
}

.box-outline-warning {
  background-color: #fff;
  border: 1px solid #ffb048;
}

.box-outline-danger {
  background-color: #fff;
  border: 1px solid #ff4a52;
}

.box-outline-pink {
  background-color: #fff;
  border: 1px solid #E91E63;
}

.box-outline-purple {
  background-color: #fff;
  border: 1px solid #7c096a;
}

.box-outline-brown {
  background-color: #fff;
  border: 1px solid #8d6658;
}

.box-outline-cyan {
  background-color: #fff;
  border: 1px solid #00BCD4;
}

.box-outline-yellow {
  background-color: #fff;
  border: 1px solid #FFEB3B;
}

.box-outline-gray {
  background-color: #fff;
  border: 1px solid #868e96;
}

.box-outline-dark {
  background-color: #fff;
  border: 1px solid #353b43;
}

.box-bordered {
  border: 1px solid #ebebeb;
}

.box-shadowed {
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.07);
}

.box-hover-shadow:hover {
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 35px rgba(0, 0, 0, 0.07);
}

.box-transparent {
  background-color: transparent;
}

.box-round {
  border-radius: 4px;
}


.box.collapsed-box .box-body, .box.collapsed-box .box-footer {
    display: none;
}
.box .flex-column>li {
    border-bottom: 1px solid #f4f4f4;
    margin: 0;
}
.box .flex-column>li:last-of-type {
    border-bottom: none;
}
.box.height-control .box-body {
    max-height: 300px;
    overflow: auto;
}
.box .border-right {
    border-right: 1px solid #f4f4f4;
}
.box .border-left {
    border-left: 1px solid #f4f4f4;
}
.box.box-solid {
    border-top: 0;
}

.box.box-solid.box-default>.box-header {
    color: #353b43;
    background: #d2d6de;
}
.box.box-solid.box-default>.box-header .btn, .box.box-solid.box-default>.box-header a {
    color: #353b43;
}

.box.box-solid.box-primary>.box-header {
    color: #fff;
    background: #664be0;
}
.box.box-solid.box-primary>.box-header .btn, .box.box-solid.box-primary>.box-header a {
    color: #353b43;
}

.box.box-solid.box-info>.box-header {
    color: #fff;
    background: #3a8af7;
}
.box.box-solid.box-info>.box-header .btn, .box.box-solid.box-info>.box-header a {
    color: #353b43;
}

.box.box-solid.box-danger>.box-header {
    color: #fff;
    background: #ff4a52;
}
.box.box-solid.box-danger>.box-header .btn, .box.box-solid.box-danger>.box-header a {
    color: #353b43;
}

.box.box-solid.box-warning>.box-header {
    color: #fff;
    background: #ffb048;
}
.box.box-solid.box-warning>.box-header .btn, .box.box-solid.box-warning>.box-header a {
    color: #ffffff;
}

.box.box-solid.box-success>.box-header {
    color: #fff;
    background: #23ad9f;
}
.box.box-solid.box-success>.box-header .btn, .box.box-solid.box-success>.box-header a {
    color: #353b43;
}
.box.box-solid>.box-header>.box-tools .btn {
    border: 0;
    box-shadow: none;
}
.box.box-solid[class*=bg]>.box-header {
    color: #fff;
}
.box .box-group>.box {
    margin-bottom: 5px;
}
.box .knob-label {
    text-align: center;
    color: #353b43;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: .3em;
}
.box>.loading-img, .box>.overlay, .overlay-wrapper>.loading-img, .overlay-wrapper>.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%}
.box .overlay, .overlay-wrapper .overlay {
    z-index: 50;
    background: rgba(255, 255, 255, .7);
    border-radius: 3px;
}
.box .overlay>.fa, .overlay-wrapper .overlay>.fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}
.box .overlay.dark, .overlay-wrapper .overlay.dark {
    background: rgba(0, 0, 0, .5);
}
/*.box-body:after, .box-body:before, .box-footer:after, .box-footer:before, .box-header:after, .box-header:before {
    content: " ";
    display: table;
}*/
.box-header {
    color: #353b43;
    display: block;
    padding: 1.5rem 1.5rem;
    position: relative;
	border-bottom: 1px solid rgba(97, 106, 120, 0.07);
}
.box-header.without-border {
    border-bottom: none;
}
.box-header.with-border {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.collapsed-box .box-header.with-border {
    border-bottom: none;
}
.box-header .box-title, .box-header>.fa, .box-header>.glyphicon, .box-header>.ion{
    display: inline-block;
    margin: 0;
}
.box-title {
    z-index: auto;
}
.box-title.box-title-bold {
    font-weight: 600;
}
.box-title code {
    font-size: 10px;
}
.box .box-header .box-subtitle {
    font-weight: 400;
    margin-bottom: 0px;
	margin-top: 5px;
    color: #99abb4;
}
.box-header>.fa, .box-header>.glyphicon, .box-header>.ion {
    margin-right: 5px;
}
.box-header>.box-tools, .box-header> .box-controls {
    position: absolute;
    right: 1.5rem;
    top: 1.7rem;
}
.box-header>.box-tools [data-toggle=tooltip], .control {
    position: relative;
}
.box-bordered {
    border: 1px solid #ebebeb;
}
.box-shadowed {
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.07);
}
.box-hover-shadow:hover {
    -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.07);
}
.box-transparent {
    background-color: transparent;
}

.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: 0 0;
    color: #97a0b3;
	cursor: pointer
}
.btn-box-tool:hover, .show .btn-box-tool {
    color: #606c84;
}
.btn-box-tool.btn:active {
    box-shadow: none;
}
.box-body {
    padding: 1.25rem 1.5rem;
	    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.box.box-transparent .box-body{
	border-radius: 0px 0px 15px 15px;
}
.no-header .box-body {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.box-body>.table {
    margin-bottom: 0;
}
.box-body .fc {
    margin-top: 5px;
}
.box-body .full-width-chart {
    margin: -10px;
}
.box-body.no-padding .full-width-chart {
    margin: -9px;
}
.box-body .box-pane {
    border-radius: 0 0 0 3px;
}
.box-body .box-pane-right {
    border-radius: 0 0 3px;
}
.box-footer {
    border-top: 1px solid #f4f4f4;
    padding: 1.5rem 1.5rem;
    background-color: #fff;
}
.box-footer > *:last-child {
    margin-bottom: 0;
}
.box-controls {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
}

.box-controls li > a, .box-controls li > button {
  font-family: themify;
  font-size: 12px;
  display: inline-block;
  padding: 0 4px;
  margin: 0 4px;
  color: #929daf;
  opacity: .8;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.box-solid .box-controls li > a, .box-solid.box-controls li > button {
  color: #ffffff;
}

.box-controls li > a:hover {
  color: #664be0;
}
.box-solid .box-controls li > a:hover {
    color: #ffffff;
	opacity: 0.5;
}
.box-controls li:first-child > a {
  margin-right: 0;
}

.box-controls .dropdown.show > a {
  color: #664be0;
}

.box-controls [data-toggle="dropdown"],
.box-controls .box-btn-reload {
  font-size: 14px;
}

.box-btn-close::before {
  content: "\e646";
}

.box-btn-slide::before {
  content: "\e648";
}

.box-btn-maximize::before {
  content: "\e6e8";
}

.box-btn-fullscreen::before {
  content: "\e659";
}

.box-btn-prev::before {
  content: "\e64a";
}

.box-btn-next::before {
  content: "\e649";
}

.box-carousel .box-footer .carousel-indicators-outside {
  padding: 6px 0;
}

.box-body > *:last-child {
  margin-bottom: 0;
}

.box-img,
.box-img-top,
.box-img-bottom {
  border-radius: 0;
}

.box-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  opacity: 0;
  z-index: -1;
  -webkit-transition: .5s;
  transition: .5s;
}

.box-loading.reveal {
  opacity: 1;
  z-index: auto;
}

.box-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    z-index: 9999;
}
.box-fullscreen .box-btn-fullscreen {
  color: #664be0;
}

.box-slided-up .box-content, .box-slided-up .box-body {
  display: none;
}

.box-slided-up .box-btn-slide::before {
  content: "\e64b";
}

.box-header-actions {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin: -4px;
}
.box-header-actions > * {
  margin: 4px;
}

.rotate-45 {
  display: inline-block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.rotate-90 {
  display: inline-block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.rotate-180 {
  display: inline-block;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/*-----------------*/

.box-comments {
    background: #f7f7f7;
}
.box-comments .box-comment {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}
.box-comments .box-comment:after, .box-comments .box-comment:before {
    content: " ";
    display: table;
}
.box-comments .box-comment:after {
    clear: both;
}
.box-comments .box-comment:last-of-type {
    border-bottom: 0;
}
.box-comments .box-comment:first-of-type {
    padding-top: 0;
}
.box-comments .box-comment img {
    float: left;
}
.box-comments .comment-text {
    margin-left: 40px;
    color: #555;
}
.box-comments .username {
    color: #353b43;
    display: block;
    font-weight: 600;
}
.box-comments .text-muted {
    font-weight: 400;
    font-size: 12px;
}
.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
}
.todo-list>li {
    border-radius: 2px;
    padding: 1rem 1.5rem;
    background: #f7f7f7;
    margin-bottom: 2px;
    color: #353b43;
}
.control, .todo-list>li:last-of-type {
    margin-bottom: 0;
}
.control {
    font-family: arial;
    display: inline;
    padding-left: 0;
    padding-top: 0;
    cursor: pointer;
    font-size: 16px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control_indicator {
    position: absolute;
    top: 2px;
    left: 5px;
    height: 15px;
    width: 15px;
    background: #fff;
}
.control-radio .control_indicator {
    border-radius: undefined;
}
.control input:focus~.control_indicator, .control:hover input~.control_indicator {
    background: #fff;
}
.control input:checked:focus~.control_indicator, .control input:checked~.control_indicator, .control:hover input:not([disabled]):checked~.control_indicator {
    background: #3a8af7;
}
.control input:disabled~.control_indicator {
    background: #e6e6e6;
    opacity: .6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked~.control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 5px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled~.control_indicator:after {
    border-color: #7b7b7b;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    line-height: initial;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
td .label {
    font-size: 100%;
}
.badge{
	font-weight: normal;
}
.todo-list>li>input[type=checkbox] {
    margin: 0 10px 0 5px;
}
.todo-list>li .text {
    display: inline-block;
    margin-left: 30px;
    font-weight: 600;
}
.todo-list>li .label {
    margin-left: 10px;
    font-size: 9px;
}
.todo-list>li .tools {
    display: none;
    float: right;
    color: #ff4a52;
}
.todo-list .handle, .todo-list>li:hover .tools {
    display: inline-block;
}
.todo-list>li .tools>.fa, .todo-list>li .tools>.glyphicon, .todo-list>li .tools>.ion {
    margin-right: 5px;
    cursor: pointer;
}
.todo-list>li.done {
    color: #353b43;
}
.todo-list>li.done .text {
    text-decoration: line-through;
    font-weight: 500;
}
.todo-list>li.done .text-line {
    text-decoration: line-through;
    font-weight: 500;
}
.todo-list>li.done .label {
    background: #d2d6de;
}
.todo-list .danger {
    border-left-color: #ff4a52;
}
.todo-list .warning {
    border-left-color: #ffb048;
}
.todo-list .info {
    border-left-color: #3a8af7;
}
.todo-list .success {
    border-left-color: #23ad9f;
}
.todo-list .primary {
    border-left-color: #3a8af7;
}
.todo-list .handle {
    cursor: move;
    margin: 0 5px;
}
.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
/*chat*/
.chat {
    padding: 5px 20px 5px 10px;
}
.chat .item {
    margin-bottom: 10px;
}
.chat .item:after, .chat .item:before {
    content: " ";
    display: table;
}
.chat .item>img {
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 5px;
}
.chat .item>.online {
    border: 2px solid #23ad9f;
}
.chat .item>.offline {
    border: 2px solid #ff4a52;
}
.chat .item>.message {
    margin-left: 55px;
    margin-top: -40px;
	color: #353b43;
}
.chat .item>.message>.name {
    display: block;
    font-weight: 600;
}
.chat .item>.attachment {
    border-radius: 3px;
    background: #d6ecff;
    margin-left: 65px;
    margin-right: 15px;
    padding: 10px;
}
.chat .item>.attachment .pull-right .btn {
    top: 10px;
    position: relative;
    border-radius: 5px;
}
.chat .item>.attachment>h4 {
    margin: 0 0 5px;
    font-weight: 600;
    font-size: 14px;
}
.chat .item>.attachment>.filename, .chat .item>.attachment>p {
    font-weight: 600;
    font-size: 13px;
    font-style: italic;
    margin: 0;
}
.chat .item>.attachment:after, .chat .item>.attachment:before {
    content: " ";
    display: table;
}
.info-box, .info-box-icon, .info-box-more, .info-box-number {
    display: block;
}
.box-input {
    max-width: 200px;
}
.modal .panel-body {
    color: #353b43;
}
.model_img {
    cursor: pointer;
}
.info-box {
    min-height: 100px;
    background: #fff;
    width: 100%;
    margin-bottom: 30px;
    padding: 1.25rem;
	-webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}
.info-box small {
    font-size: 14px;
}
.info-box .progress {
    background: rgba(0, 0, 0, .2);
    margin: 5px -10px 5px 0;
    height: 2px;
}
.info-box .progress, .info-box .progress .progress-bar {
    border-radius: 0;
}
.info-box .progress .progress-bar {
    background: #fff;
}
.info-box-icon {
    float: left;
    height: 70px;
    width: 70px;
    text-align: center;
    font-size: 30px;
    line-height: 74px;
    background: rgba(0, 0, 0, .2);
}
.info-box-icon.push-bottom {
    margin-top: 20px;
}
.info-box-icon>img {
    max-width: 100%}
.info-box-content {
    padding: 10px 10px 10px 0;
    margin-left: 90px;
}
.info-box-number {
    font-weight: 400;
    font-size: 21px;
}
.info-box-text, .progress-description {
    display: block;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-weight: 400;
}
.progress-description {
    margin: 0;
}

/*background Patterns*/
.bg-temple-white{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23353b43' fill-opacity='0.1'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.bg-temple-dark{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23ffffff' fill-opacity='0.1'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.bg-food-white{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='260' height='260' viewBox='0 0 260 260'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23353b43' fill-opacity='0.1'%3E%3Cpath d='M24.37 16c.2.65.39 1.32.54 2H21.17l1.17 2.34.45.9-.24.11V28a5 5 0 0 1-2.23 8.94l-.02.06a8 8 0 0 1-7.75 6h-20a8 8 0 0 1-7.74-6l-.02-.06A5 5 0 0 1-17.45 28v-6.76l-.79-1.58-.44-.9.9-.44.63-.32H-20a23.01 23.01 0 0 1 44.37-2zm-36.82 2a1 1 0 0 0-.44.1l-3.1 1.56.89 1.79 1.31-.66a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .86.02l2.88-1.27a3 3 0 0 1 2.43 0l2.88 1.27a1 1 0 0 0 .85-.02l3.1-1.55-.89-1.79-1.42.71a3 3 0 0 1-2.56.06l-2.77-1.23a1 1 0 0 0-.4-.09h-.01a1 1 0 0 0-.4.09l-2.78 1.23a3 3 0 0 1-2.56-.06l-2.3-1.15a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1L.9 19.22a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01zm0-2h-4.9a21.01 21.01 0 0 1 39.61 0h-2.09l-.06-.13-.26.13h-32.31zm30.35 7.68l1.36-.68h1.3v2h-36v-1.15l.34-.17 1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0L2.26 23h2.59l1.36.68a3 3 0 0 0 2.56.06l1.67-.74h3.23l1.67.74a3 3 0 0 0 2.56-.06zM-13.82 27l16.37 4.91L18.93 27h-32.75zm-.63 2h.34l16.66 5 16.67-5h.33a3 3 0 1 1 0 6h-34a3 3 0 1 1 0-6zm1.35 8a6 6 0 0 0 5.65 4h20a6 6 0 0 0 5.66-4H-13.1z'/%3E%3Cpath id='path6_fill-copy' d='M284.37 16c.2.65.39 1.32.54 2H281.17l1.17 2.34.45.9-.24.11V28a5 5 0 0 1-2.23 8.94l-.02.06a8 8 0 0 1-7.75 6h-20a8 8 0 0 1-7.74-6l-.02-.06a5 5 0 0 1-2.24-8.94v-6.76l-.79-1.58-.44-.9.9-.44.63-.32H240a23.01 23.01 0 0 1 44.37-2zm-36.82 2a1 1 0 0 0-.44.1l-3.1 1.56.89 1.79 1.31-.66a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .86.02l2.88-1.27a3 3 0 0 1 2.43 0l2.88 1.27a1 1 0 0 0 .85-.02l3.1-1.55-.89-1.79-1.42.71a3 3 0 0 1-2.56.06l-2.77-1.23a1 1 0 0 0-.4-.09h-.01a1 1 0 0 0-.4.09l-2.78 1.23a3 3 0 0 1-2.56-.06l-2.3-1.15a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01zm0-2h-4.9a21.01 21.01 0 0 1 39.61 0h-2.09l-.06-.13-.26.13h-32.31zm30.35 7.68l1.36-.68h1.3v2h-36v-1.15l.34-.17 1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.56.06l1.67-.74h3.23l1.67.74a3 3 0 0 0 2.56-.06zM246.18 27l16.37 4.91L278.93 27h-32.75zm-.63 2h.34l16.66 5 16.67-5h.33a3 3 0 1 1 0 6h-34a3 3 0 1 1 0-6zm1.35 8a6 6 0 0 0 5.65 4h20a6 6 0 0 0 5.66-4H246.9z'/%3E%3Cpath d='M159.5 21.02A9 9 0 0 0 151 15h-42a9 9 0 0 0-8.5 6.02 6 6 0 0 0 .02 11.96A8.99 8.99 0 0 0 109 45h42a9 9 0 0 0 8.48-12.02 6 6 0 0 0 .02-11.96zM151 17h-42a7 7 0 0 0-6.33 4h54.66a7 7 0 0 0-6.33-4zm-9.34 26a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-4.34a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-4.34a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-7a7 7 0 1 1 0-14h42a7 7 0 1 1 0 14h-9.34zM109 27a9 9 0 0 0-7.48 4H101a4 4 0 1 1 0-8h58a4 4 0 0 1 0 8h-.52a9 9 0 0 0-7.48-4h-42z'/%3E%3Cpath d='M39 115a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm6-8a6 6 0 1 1-12 0 6 6 0 0 1 12 0zm-3-29v-2h8v-6H40a4 4 0 0 0-4 4v10H22l-1.33 4-.67 2h2.19L26 130h26l3.81-40H58l-.67-2L56 84H42v-6zm-4-4v10h2V74h8v-2h-8a2 2 0 0 0-2 2zm2 12h14.56l.67 2H22.77l.67-2H40zm13.8 4H24.2l3.62 38h22.36l3.62-38z'/%3E%3Cpath d='M129 92h-6v4h-6v4h-6v14h-3l.24 2 3.76 32h36l3.76-32 .24-2h-3v-14h-6v-4h-6v-4h-8zm18 22v-12h-4v4h3v8h1zm-3 0v-6h-4v6h4zm-6 6v-16h-4v19.17c1.6-.7 2.97-1.8 4-3.17zm-6 3.8V100h-4v23.8a10.04 10.04 0 0 0 4 0zm-6-.63V104h-4v16a10.04 10.04 0 0 0 4 3.17zm-6-9.17v-6h-4v6h4zm-6 0v-8h3v-4h-4v12h1zm27-12v-4h-4v4h3v4h1v-4zm-6 0v-8h-4v4h3v4h1zm-6-4v-4h-4v8h1v-4h3zm-6 4v-4h-4v8h1v-4h3zm7 24a12 12 0 0 0 11.83-10h7.92l-3.53 30h-32.44l-3.53-30h7.92A12 12 0 0 0 130 126z'/%3E%3Cpath d='M212 86v2h-4v-2h4zm4 0h-2v2h2v-2zm-20 0v.1a5 5 0 0 0-.56 9.65l.06.25 1.12 4.48a2 2 0 0 0 1.94 1.52h.01l7.02 24.55a2 2 0 0 0 1.92 1.45h4.98a2 2 0 0 0 1.92-1.45l7.02-24.55a2 2 0 0 0 1.95-1.52L224.5 96l.06-.25a5 5 0 0 0-.56-9.65V86a14 14 0 0 0-28 0zm4 0h6v2h-9a3 3 0 1 0 0 6H223a3 3 0 1 0 0-6H220v-2h2a12 12 0 1 0-24 0h2zm-1.44 14l-1-4h24.88l-1 4h-22.88zm8.95 26l-6.86-24h18.7l-6.86 24h-4.98zM150 242a22 22 0 1 0 0-44 22 22 0 0 0 0 44zm24-22a24 24 0 1 1-48 0 24 24 0 0 1 48 0zm-28.38 17.73l2.04-.87a6 6 0 0 1 4.68 0l2.04.87a2 2 0 0 0 2.5-.82l1.14-1.9a6 6 0 0 1 3.79-2.75l2.15-.5a2 2 0 0 0 1.54-2.12l-.19-2.2a6 6 0 0 1 1.45-4.46l1.45-1.67a2 2 0 0 0 0-2.62l-1.45-1.67a6 6 0 0 1-1.45-4.46l.2-2.2a2 2 0 0 0-1.55-2.13l-2.15-.5a6 6 0 0 1-3.8-2.75l-1.13-1.9a2 2 0 0 0-2.5-.8l-2.04.86a6 6 0 0 1-4.68 0l-2.04-.87a2 2 0 0 0-2.5.82l-1.14 1.9a6 6 0 0 1-3.79 2.75l-2.15.5a2 2 0 0 0-1.54 2.12l.19 2.2a6 6 0 0 1-1.45 4.46l-1.45 1.67a2 2 0 0 0 0 2.62l1.45 1.67a6 6 0 0 1 1.45 4.46l-.2 2.2a2 2 0 0 0 1.55 2.13l2.15.5a6 6 0 0 1 3.8 2.75l1.13 1.9a2 2 0 0 0 2.5.8zm2.82.97a4 4 0 0 1 3.12 0l2.04.87a4 4 0 0 0 4.99-1.62l1.14-1.9a4 4 0 0 1 2.53-1.84l2.15-.5a4 4 0 0 0 3.09-4.24l-.2-2.2a4 4 0 0 1 .97-2.98l1.45-1.67a4 4 0 0 0 0-5.24l-1.45-1.67a4 4 0 0 1-.97-2.97l.2-2.2a4 4 0 0 0-3.09-4.25l-2.15-.5a4 4 0 0 1-2.53-1.84l-1.14-1.9a4 4 0 0 0-5-1.62l-2.03.87a4 4 0 0 1-3.12 0l-2.04-.87a4 4 0 0 0-4.99 1.62l-1.14 1.9a4 4 0 0 1-2.53 1.84l-2.15.5a4 4 0 0 0-3.09 4.24l.2 2.2a4 4 0 0 1-.97 2.98l-1.45 1.67a4 4 0 0 0 0 5.24l1.45 1.67a4 4 0 0 1 .97 2.97l-.2 2.2a4 4 0 0 0 3.09 4.25l2.15.5a4 4 0 0 1 2.53 1.84l1.14 1.9a4 4 0 0 0 5 1.62l2.03-.87zM152 207a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm6 2a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-11 1a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-6 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm3-5a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-8 8a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm3 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm0 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4 7a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm5-2a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm5 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4-6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm6-4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-4-3a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4-3a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-5-4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-24 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm16 5a5 5 0 1 0 0-10 5 5 0 0 0 0 10zm7-5a7 7 0 1 1-14 0 7 7 0 0 1 14 0zm86-29a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm19 9a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-14 5a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-25 1a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm5 4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm9 0a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm15 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm12-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-11-14a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-19 0a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm6 5a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-25 15c0-.47.01-.94.03-1.4a5 5 0 0 1-1.7-8 3.99 3.99 0 0 1 1.88-5.18 5 5 0 0 1 3.4-6.22 3 3 0 0 1 1.46-1.05 5 5 0 0 1 7.76-3.27A30.86 30.86 0 0 1 246 184c6.79 0 13.06 2.18 18.17 5.88a5 5 0 0 1 7.76 3.27 3 3 0 0 1 1.47 1.05 5 5 0 0 1 3.4 6.22 4 4 0 0 1 1.87 5.18 4.98 4.98 0 0 1-1.7 8c.02.46.03.93.03 1.4v1h-62v-1zm.83-7.17a30.9 30.9 0 0 0-.62 3.57 3 3 0 0 1-.61-4.2c.37.28.78.49 1.23.63zm1.49-4.61c-.36.87-.68 1.76-.96 2.68a2 2 0 0 1-.21-3.71c.33.4.73.75 1.17 1.03zm2.32-4.54c-.54.86-1.03 1.76-1.49 2.68a3 3 0 0 1-.07-4.67 3 3 0 0 0 1.56 1.99zm1.14-1.7c.35-.5.72-.98 1.1-1.46a1 1 0 1 0-1.1 1.45zm5.34-5.77c-1.03.86-2 1.79-2.9 2.77a3 3 0 0 0-1.11-.77 3 3 0 0 1 4-2zm42.66 2.77c-.9-.98-1.87-1.9-2.9-2.77a3 3 0 0 1 4.01 2 3 3 0 0 0-1.1.77zm1.34 1.54c.38.48.75.96 1.1 1.45a1 1 0 1 0-1.1-1.45zm3.73 5.84c-.46-.92-.95-1.82-1.5-2.68a3 3 0 0 0 1.57-1.99 3 3 0 0 1-.07 4.67zm1.8 4.53c-.29-.9-.6-1.8-.97-2.67.44-.28.84-.63 1.17-1.03a2 2 0 0 1-.2 3.7zm1.14 5.51c-.14-1.21-.35-2.4-.62-3.57.45-.14.86-.35 1.23-.63a2.99 2.99 0 0 1-.6 4.2zM275 214a29 29 0 0 0-57.97 0h57.96zM72.33 198.12c-.21-.32-.34-.7-.34-1.12v-12h-2v12a4.01 4.01 0 0 0 7.09 2.54c.57-.69.91-1.57.91-2.54v-12h-2v12a1.99 1.99 0 0 1-2 2 2 2 0 0 1-1.66-.88zM75 176c.38 0 .74-.04 1.1-.12a4 4 0 0 0 6.19 2.4A13.94 13.94 0 0 1 84 185v24a6 6 0 0 1-6 6h-3v9a5 5 0 1 1-10 0v-9h-3a6 6 0 0 1-6-6v-24a14 14 0 0 1 14-14 5 5 0 0 0 5 5zm-17 15v12a1.99 1.99 0 0 0 1.22 1.84 2 2 0 0 0 2.44-.72c.21-.32.34-.7.34-1.12v-12h2v12a3.98 3.98 0 0 1-5.35 3.77 3.98 3.98 0 0 1-.65-.3V209a4 4 0 0 0 4 4h16a4 4 0 0 0 4-4v-24c.01-1.53-.23-2.88-.72-4.17-.43.1-.87.16-1.28.17a6 6 0 0 1-5.2-3 7 7 0 0 1-6.47-4.88A12 12 0 0 0 58 185v6zm9 24v9a3 3 0 1 0 6 0v-9h-6z'/%3E%3Cpath d='M-17 191a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm19 9a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2H3a1 1 0 0 1-1-1zm-14 5a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-25 1a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm5 4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm9 0a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm15 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm12-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2H4zm-11-14a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-19 0a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm6 5a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-25 15c0-.47.01-.94.03-1.4a5 5 0 0 1-1.7-8 3.99 3.99 0 0 1 1.88-5.18 5 5 0 0 1 3.4-6.22 3 3 0 0 1 1.46-1.05 5 5 0 0 1 7.76-3.27A30.86 30.86 0 0 1-14 184c6.79 0 13.06 2.18 18.17 5.88a5 5 0 0 1 7.76 3.27 3 3 0 0 1 1.47 1.05 5 5 0 0 1 3.4 6.22 4 4 0 0 1 1.87 5.18 4.98 4.98 0 0 1-1.7 8c.02.46.03.93.03 1.4v1h-62v-1zm.83-7.17a30.9 30.9 0 0 0-.62 3.57 3 3 0 0 1-.61-4.2c.37.28.78.49 1.23.63zm1.49-4.61c-.36.87-.68 1.76-.96 2.68a2 2 0 0 1-.21-3.71c.33.4.73.75 1.17 1.03zm2.32-4.54c-.54.86-1.03 1.76-1.49 2.68a3 3 0 0 1-.07-4.67 3 3 0 0 0 1.56 1.99zm1.14-1.7c.35-.5.72-.98 1.1-1.46a1 1 0 1 0-1.1 1.45zm5.34-5.77c-1.03.86-2 1.79-2.9 2.77a3 3 0 0 0-1.11-.77 3 3 0 0 1 4-2zm42.66 2.77c-.9-.98-1.87-1.9-2.9-2.77a3 3 0 0 1 4.01 2 3 3 0 0 0-1.1.77zm1.34 1.54c.38.48.75.96 1.1 1.45a1 1 0 1 0-1.1-1.45zm3.73 5.84c-.46-.92-.95-1.82-1.5-2.68a3 3 0 0 0 1.57-1.99 3 3 0 0 1-.07 4.67zm1.8 4.53c-.29-.9-.6-1.8-.97-2.67.44-.28.84-.63 1.17-1.03a2 2 0 0 1-.2 3.7zm1.14 5.51c-.14-1.21-.35-2.4-.62-3.57.45-.14.86-.35 1.23-.63a2.99 2.99 0 0 1-.6 4.2zM15 214a29 29 0 0 0-57.97 0h57.96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.bg-food-dark{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='260' height='260' viewBox='0 0 260 260'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.1'%3E%3Cpath d='M24.37 16c.2.65.39 1.32.54 2H21.17l1.17 2.34.45.9-.24.11V28a5 5 0 0 1-2.23 8.94l-.02.06a8 8 0 0 1-7.75 6h-20a8 8 0 0 1-7.74-6l-.02-.06A5 5 0 0 1-17.45 28v-6.76l-.79-1.58-.44-.9.9-.44.63-.32H-20a23.01 23.01 0 0 1 44.37-2zm-36.82 2a1 1 0 0 0-.44.1l-3.1 1.56.89 1.79 1.31-.66a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .86.02l2.88-1.27a3 3 0 0 1 2.43 0l2.88 1.27a1 1 0 0 0 .85-.02l3.1-1.55-.89-1.79-1.42.71a3 3 0 0 1-2.56.06l-2.77-1.23a1 1 0 0 0-.4-.09h-.01a1 1 0 0 0-.4.09l-2.78 1.23a3 3 0 0 1-2.56-.06l-2.3-1.15a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1L.9 19.22a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01zm0-2h-4.9a21.01 21.01 0 0 1 39.61 0h-2.09l-.06-.13-.26.13h-32.31zm30.35 7.68l1.36-.68h1.3v2h-36v-1.15l.34-.17 1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0L2.26 23h2.59l1.36.68a3 3 0 0 0 2.56.06l1.67-.74h3.23l1.67.74a3 3 0 0 0 2.56-.06zM-13.82 27l16.37 4.91L18.93 27h-32.75zm-.63 2h.34l16.66 5 16.67-5h.33a3 3 0 1 1 0 6h-34a3 3 0 1 1 0-6zm1.35 8a6 6 0 0 0 5.65 4h20a6 6 0 0 0 5.66-4H-13.1z'/%3E%3Cpath id='path6_fill-copy' d='M284.37 16c.2.65.39 1.32.54 2H281.17l1.17 2.34.45.9-.24.11V28a5 5 0 0 1-2.23 8.94l-.02.06a8 8 0 0 1-7.75 6h-20a8 8 0 0 1-7.74-6l-.02-.06a5 5 0 0 1-2.24-8.94v-6.76l-.79-1.58-.44-.9.9-.44.63-.32H240a23.01 23.01 0 0 1 44.37-2zm-36.82 2a1 1 0 0 0-.44.1l-3.1 1.56.89 1.79 1.31-.66a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .86.02l2.88-1.27a3 3 0 0 1 2.43 0l2.88 1.27a1 1 0 0 0 .85-.02l3.1-1.55-.89-1.79-1.42.71a3 3 0 0 1-2.56.06l-2.77-1.23a1 1 0 0 0-.4-.09h-.01a1 1 0 0 0-.4.09l-2.78 1.23a3 3 0 0 1-2.56-.06l-2.3-1.15a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01zm0-2h-4.9a21.01 21.01 0 0 1 39.61 0h-2.09l-.06-.13-.26.13h-32.31zm30.35 7.68l1.36-.68h1.3v2h-36v-1.15l.34-.17 1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.56.06l1.67-.74h3.23l1.67.74a3 3 0 0 0 2.56-.06zM246.18 27l16.37 4.91L278.93 27h-32.75zm-.63 2h.34l16.66 5 16.67-5h.33a3 3 0 1 1 0 6h-34a3 3 0 1 1 0-6zm1.35 8a6 6 0 0 0 5.65 4h20a6 6 0 0 0 5.66-4H246.9z'/%3E%3Cpath d='M159.5 21.02A9 9 0 0 0 151 15h-42a9 9 0 0 0-8.5 6.02 6 6 0 0 0 .02 11.96A8.99 8.99 0 0 0 109 45h42a9 9 0 0 0 8.48-12.02 6 6 0 0 0 .02-11.96zM151 17h-42a7 7 0 0 0-6.33 4h54.66a7 7 0 0 0-6.33-4zm-9.34 26a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-4.34a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-4.34a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-7a7 7 0 1 1 0-14h42a7 7 0 1 1 0 14h-9.34zM109 27a9 9 0 0 0-7.48 4H101a4 4 0 1 1 0-8h58a4 4 0 0 1 0 8h-.52a9 9 0 0 0-7.48-4h-42z'/%3E%3Cpath d='M39 115a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm6-8a6 6 0 1 1-12 0 6 6 0 0 1 12 0zm-3-29v-2h8v-6H40a4 4 0 0 0-4 4v10H22l-1.33 4-.67 2h2.19L26 130h26l3.81-40H58l-.67-2L56 84H42v-6zm-4-4v10h2V74h8v-2h-8a2 2 0 0 0-2 2zm2 12h14.56l.67 2H22.77l.67-2H40zm13.8 4H24.2l3.62 38h22.36l3.62-38z'/%3E%3Cpath d='M129 92h-6v4h-6v4h-6v14h-3l.24 2 3.76 32h36l3.76-32 .24-2h-3v-14h-6v-4h-6v-4h-8zm18 22v-12h-4v4h3v8h1zm-3 0v-6h-4v6h4zm-6 6v-16h-4v19.17c1.6-.7 2.97-1.8 4-3.17zm-6 3.8V100h-4v23.8a10.04 10.04 0 0 0 4 0zm-6-.63V104h-4v16a10.04 10.04 0 0 0 4 3.17zm-6-9.17v-6h-4v6h4zm-6 0v-8h3v-4h-4v12h1zm27-12v-4h-4v4h3v4h1v-4zm-6 0v-8h-4v4h3v4h1zm-6-4v-4h-4v8h1v-4h3zm-6 4v-4h-4v8h1v-4h3zm7 24a12 12 0 0 0 11.83-10h7.92l-3.53 30h-32.44l-3.53-30h7.92A12 12 0 0 0 130 126z'/%3E%3Cpath d='M212 86v2h-4v-2h4zm4 0h-2v2h2v-2zm-20 0v.1a5 5 0 0 0-.56 9.65l.06.25 1.12 4.48a2 2 0 0 0 1.94 1.52h.01l7.02 24.55a2 2 0 0 0 1.92 1.45h4.98a2 2 0 0 0 1.92-1.45l7.02-24.55a2 2 0 0 0 1.95-1.52L224.5 96l.06-.25a5 5 0 0 0-.56-9.65V86a14 14 0 0 0-28 0zm4 0h6v2h-9a3 3 0 1 0 0 6H223a3 3 0 1 0 0-6H220v-2h2a12 12 0 1 0-24 0h2zm-1.44 14l-1-4h24.88l-1 4h-22.88zm8.95 26l-6.86-24h18.7l-6.86 24h-4.98zM150 242a22 22 0 1 0 0-44 22 22 0 0 0 0 44zm24-22a24 24 0 1 1-48 0 24 24 0 0 1 48 0zm-28.38 17.73l2.04-.87a6 6 0 0 1 4.68 0l2.04.87a2 2 0 0 0 2.5-.82l1.14-1.9a6 6 0 0 1 3.79-2.75l2.15-.5a2 2 0 0 0 1.54-2.12l-.19-2.2a6 6 0 0 1 1.45-4.46l1.45-1.67a2 2 0 0 0 0-2.62l-1.45-1.67a6 6 0 0 1-1.45-4.46l.2-2.2a2 2 0 0 0-1.55-2.13l-2.15-.5a6 6 0 0 1-3.8-2.75l-1.13-1.9a2 2 0 0 0-2.5-.8l-2.04.86a6 6 0 0 1-4.68 0l-2.04-.87a2 2 0 0 0-2.5.82l-1.14 1.9a6 6 0 0 1-3.79 2.75l-2.15.5a2 2 0 0 0-1.54 2.12l.19 2.2a6 6 0 0 1-1.45 4.46l-1.45 1.67a2 2 0 0 0 0 2.62l1.45 1.67a6 6 0 0 1 1.45 4.46l-.2 2.2a2 2 0 0 0 1.55 2.13l2.15.5a6 6 0 0 1 3.8 2.75l1.13 1.9a2 2 0 0 0 2.5.8zm2.82.97a4 4 0 0 1 3.12 0l2.04.87a4 4 0 0 0 4.99-1.62l1.14-1.9a4 4 0 0 1 2.53-1.84l2.15-.5a4 4 0 0 0 3.09-4.24l-.2-2.2a4 4 0 0 1 .97-2.98l1.45-1.67a4 4 0 0 0 0-5.24l-1.45-1.67a4 4 0 0 1-.97-2.97l.2-2.2a4 4 0 0 0-3.09-4.25l-2.15-.5a4 4 0 0 1-2.53-1.84l-1.14-1.9a4 4 0 0 0-5-1.62l-2.03.87a4 4 0 0 1-3.12 0l-2.04-.87a4 4 0 0 0-4.99 1.62l-1.14 1.9a4 4 0 0 1-2.53 1.84l-2.15.5a4 4 0 0 0-3.09 4.24l.2 2.2a4 4 0 0 1-.97 2.98l-1.45 1.67a4 4 0 0 0 0 5.24l1.45 1.67a4 4 0 0 1 .97 2.97l-.2 2.2a4 4 0 0 0 3.09 4.25l2.15.5a4 4 0 0 1 2.53 1.84l1.14 1.9a4 4 0 0 0 5 1.62l2.03-.87zM152 207a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm6 2a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-11 1a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-6 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm3-5a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-8 8a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm3 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm0 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4 7a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm5-2a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm5 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4-6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm6-4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-4-3a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4-3a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-5-4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-24 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm16 5a5 5 0 1 0 0-10 5 5 0 0 0 0 10zm7-5a7 7 0 1 1-14 0 7 7 0 0 1 14 0zm86-29a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm19 9a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-14 5a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-25 1a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm5 4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm9 0a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm15 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm12-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-11-14a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-19 0a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm6 5a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-25 15c0-.47.01-.94.03-1.4a5 5 0 0 1-1.7-8 3.99 3.99 0 0 1 1.88-5.18 5 5 0 0 1 3.4-6.22 3 3 0 0 1 1.46-1.05 5 5 0 0 1 7.76-3.27A30.86 30.86 0 0 1 246 184c6.79 0 13.06 2.18 18.17 5.88a5 5 0 0 1 7.76 3.27 3 3 0 0 1 1.47 1.05 5 5 0 0 1 3.4 6.22 4 4 0 0 1 1.87 5.18 4.98 4.98 0 0 1-1.7 8c.02.46.03.93.03 1.4v1h-62v-1zm.83-7.17a30.9 30.9 0 0 0-.62 3.57 3 3 0 0 1-.61-4.2c.37.28.78.49 1.23.63zm1.49-4.61c-.36.87-.68 1.76-.96 2.68a2 2 0 0 1-.21-3.71c.33.4.73.75 1.17 1.03zm2.32-4.54c-.54.86-1.03 1.76-1.49 2.68a3 3 0 0 1-.07-4.67 3 3 0 0 0 1.56 1.99zm1.14-1.7c.35-.5.72-.98 1.1-1.46a1 1 0 1 0-1.1 1.45zm5.34-5.77c-1.03.86-2 1.79-2.9 2.77a3 3 0 0 0-1.11-.77 3 3 0 0 1 4-2zm42.66 2.77c-.9-.98-1.87-1.9-2.9-2.77a3 3 0 0 1 4.01 2 3 3 0 0 0-1.1.77zm1.34 1.54c.38.48.75.96 1.1 1.45a1 1 0 1 0-1.1-1.45zm3.73 5.84c-.46-.92-.95-1.82-1.5-2.68a3 3 0 0 0 1.57-1.99 3 3 0 0 1-.07 4.67zm1.8 4.53c-.29-.9-.6-1.8-.97-2.67.44-.28.84-.63 1.17-1.03a2 2 0 0 1-.2 3.7zm1.14 5.51c-.14-1.21-.35-2.4-.62-3.57.45-.14.86-.35 1.23-.63a2.99 2.99 0 0 1-.6 4.2zM275 214a29 29 0 0 0-57.97 0h57.96zM72.33 198.12c-.21-.32-.34-.7-.34-1.12v-12h-2v12a4.01 4.01 0 0 0 7.09 2.54c.57-.69.91-1.57.91-2.54v-12h-2v12a1.99 1.99 0 0 1-2 2 2 2 0 0 1-1.66-.88zM75 176c.38 0 .74-.04 1.1-.12a4 4 0 0 0 6.19 2.4A13.94 13.94 0 0 1 84 185v24a6 6 0 0 1-6 6h-3v9a5 5 0 1 1-10 0v-9h-3a6 6 0 0 1-6-6v-24a14 14 0 0 1 14-14 5 5 0 0 0 5 5zm-17 15v12a1.99 1.99 0 0 0 1.22 1.84 2 2 0 0 0 2.44-.72c.21-.32.34-.7.34-1.12v-12h2v12a3.98 3.98 0 0 1-5.35 3.77 3.98 3.98 0 0 1-.65-.3V209a4 4 0 0 0 4 4h16a4 4 0 0 0 4-4v-24c.01-1.53-.23-2.88-.72-4.17-.43.1-.87.16-1.28.17a6 6 0 0 1-5.2-3 7 7 0 0 1-6.47-4.88A12 12 0 0 0 58 185v6zm9 24v9a3 3 0 1 0 6 0v-9h-6z'/%3E%3Cpath d='M-17 191a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm19 9a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2H3a1 1 0 0 1-1-1zm-14 5a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-25 1a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm5 4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm9 0a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm15 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm12-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2H4zm-11-14a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-19 0a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm6 5a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-25 15c0-.47.01-.94.03-1.4a5 5 0 0 1-1.7-8 3.99 3.99 0 0 1 1.88-5.18 5 5 0 0 1 3.4-6.22 3 3 0 0 1 1.46-1.05 5 5 0 0 1 7.76-3.27A30.86 30.86 0 0 1-14 184c6.79 0 13.06 2.18 18.17 5.88a5 5 0 0 1 7.76 3.27 3 3 0 0 1 1.47 1.05 5 5 0 0 1 3.4 6.22 4 4 0 0 1 1.87 5.18 4.98 4.98 0 0 1-1.7 8c.02.46.03.93.03 1.4v1h-62v-1zm.83-7.17a30.9 30.9 0 0 0-.62 3.57 3 3 0 0 1-.61-4.2c.37.28.78.49 1.23.63zm1.49-4.61c-.36.87-.68 1.76-.96 2.68a2 2 0 0 1-.21-3.71c.33.4.73.75 1.17 1.03zm2.32-4.54c-.54.86-1.03 1.76-1.49 2.68a3 3 0 0 1-.07-4.67 3 3 0 0 0 1.56 1.99zm1.14-1.7c.35-.5.72-.98 1.1-1.46a1 1 0 1 0-1.1 1.45zm5.34-5.77c-1.03.86-2 1.79-2.9 2.77a3 3 0 0 0-1.11-.77 3 3 0 0 1 4-2zm42.66 2.77c-.9-.98-1.87-1.9-2.9-2.77a3 3 0 0 1 4.01 2 3 3 0 0 0-1.1.77zm1.34 1.54c.38.48.75.96 1.1 1.45a1 1 0 1 0-1.1-1.45zm3.73 5.84c-.46-.92-.95-1.82-1.5-2.68a3 3 0 0 0 1.57-1.99 3 3 0 0 1-.07 4.67zm1.8 4.53c-.29-.9-.6-1.8-.97-2.67.44-.28.84-.63 1.17-1.03a2 2 0 0 1-.2 3.7zm1.14 5.51c-.14-1.21-.35-2.4-.62-3.57.45-.14.86-.35 1.23-.63a2.99 2.99 0 0 1-.6 4.2zM15 214a29 29 0 0 0-57.97 0h57.96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.bg-brick-white{
	background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23353b43' fill-opacity='0.1'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.bg-brick-dark{
	background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ffffff' fill-opacity='0.1'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.bg-bubbles-white{
	background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23353b43' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.bg-bubbles-dark{
	background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ffffff' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
}



/*color Skin*/

.border-primary {
  border-color: #664be0 !important;
}

.border-secondary {
  border-color: #e4e7ea !important;
}

.border-success {
  border-color: #23ad9f !important;
}

.border-info {
  border-color: #3a8af7 !important;
}

.border-warning {
  border-color: #ffb048 !important;
}

.border-danger {
  border-color: #ff4a52 !important;
}

.border-pink {
  border-color: #E91E63 !important;
}

.border-purple {
  border-color: #7c096a !important;
}

.border-brown {
  border-color: #8d6658 !important;
}

.border-cyan {
  border-color: #00BCD4 !important;
}

.border-yellow {
  border-color: #FFEB3B !important;
}

.border-gray {
  border-color: #868e96 !important;
}

.border-dark {
  border-color: #353b43 !important;
}

.border-transparent {
  border-color: transparent !important;
}

.border-white {
  border-color: #fff !important;
}

.border-light {
  border-color: #f1f2f3 !important;
}

.border-fade {
  border-color: rgba(97, 106, 120, 0.07) !important;
}

.bg-primary {
  background-color: #664be0 !important;
  color: #fff;
}

.bg-secondary {
  background-color: #353b43 !important;
  color: #fff;
}

.bg-success {
  background-color: #23ad9f !important;
  color: #fff;
}

.bg-info {
  background-color: #3a8af7 !important;
  color: #fff;
}

.bg-warning {
  background-color: #ffb048 !important;
  color: #fff;
}

.bg-danger {
  background-color: #ff4a52 !important;
  color: #fff;
}

.bg-pink {
  background-color: #E91E63 !important;
  color: #fff;
}

.bg-purple {
  background-color: #7c096a !important;
  color: #fff;
}

.bg-red {
  background-color: #ff002e !important;
  color: #fff;
}

.bg-brown {
  background-color: #8d6658 !important;
  color: #fff;
}

.bg-cyan {
  background-color: #00BCD4 !important;
  color: #fff;
}

.bg-yellow {
  background-color: #FFEB3B !important;
  color: #fff;
}

.bg-gray {
  background-color: #868e96 !important;
  color: #fff;
}

.bg-dark {
  background-color: #353b43 !important;
  color: #fff;
}

.bg-white {
  background-color: #fff !important;
}

.bg-inverse {
  background-color: #353b43 !important;
  color: #fff;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-secondary {
  color: #ffffff;
}

.bg-lightest {
  background-color: #fcfdfe !important;
}

.bg-lighter {
  background-color: #f2f2f2 !important;
}

.bg-light {
  background-color: #f2f2f2 !important;
}

.bg-pale-primary {
  background-color: #d7def5 !important;
}

.bg-pale-secondary {
  background-color: #f7fafc !important;
}

.bg-pale-success {
  background-color: #BFF1DF !important;
}

.bg-pale-info {
  background-color: #BCE2FB !important;
}

.bg-pale-warning {
  background-color: #FFE5D8 !important;
}

.bg-pale-danger {
  background-color: #FFD6DB !important;
}

.bg-pale-pink {
  background-color: #F8BBD0 !important;
}

.bg-pale-purple {
  background-color: #E1BEE7 !important;
}

.bg-pale-brown {
  background-color: #eddcd5 !important;
}

.bg-pale-cyan {
  background-color: #B2EBF2 !important;
}

.bg-pale-yellow {
  background-color: #FFF9C4 !important;
}

.bg-pale-gray {
  background-color: #f2f2f2 !important;
}

.bg-pale-dark {
  background-color: #c8c8c8 !important;
}

.box-solid .box-body{
  background-color: #ffffff !important;
  color: #353b43;
}

.text-primary {
  color: #664be0 !important;
}

.text-secondary {
  color: #e4e7ea !important;
}

.text-success {
  color: #23ad9f !important;
}

.text-info {
  color: #3a8af7 !important;
}

.text-warning {
  color: #ffb048 !important;
}

.text-danger {
  color: #ff4a52 !important;
}

.text-pink {
  color: #E91E63 !important;
}

.text-purple {
  color: #7c096a !important;
}

.text-brown {
  color: #8d6658 !important;
}

.text-cyan {
  color: #00BCD4 !important;
}

.text-aqua {
  color: #00FFFF !important;
}

.text-yellow {
  color: #FFEB3B !important;
}

.text-gray {
  color: #868e96 !important;
}

.text-dark {
  color: #353b43 !important;
}

.text-facebook {
  color: #3b5998 !important;
}

.text-google {
  color: #dd4b39 !important;
}

.text-twitter {
  color: #00aced !important;
}

.text-linkedin {
  color: #007bb6 !important;
}

.text-pinterest {
  color: #cb2027 !important;
}

.text-git {
  color: #666666 !important;
}

.text-tumblr {
  color: #32506d !important;
}

.text-vimeo {
  color: #aad450 !important;
}

.text-youtube {
  color: #bb0000 !important;
}

.text-flickr {
  color: #ff0084 !important;
}

.text-reddit {
  color: #ff4500 !important;
}

.text-dribbble {
  color: #ea4c89 !important;
}

.text-skype {
  color: #00aff0 !important;
}

.text-instagram {
  color: #517fa4 !important;
}

.text-lastfm {
  color: #c3000d !important;
}

.text-behance {
  color: #1769ff !important;
}

.text-rss {
  color: #f26522 !important;
}

.text-default {
  color: #616a78 !important;
}

.text-muted {
  color: #868e96 !important;
}

.text-light {
  color: #788394 !important;
}

.text-lighter {
  color: #a5b3c7 !important;
}

.text-fade {
  color: rgba(97, 106, 120, 0.7) !important;
}

.text-fader {
  color: rgba(97, 106, 120, 0.5) !important;
}

.text-fadest {
  color: rgba(97, 106, 120, 0.4) !important;
}

.text-transparent {
  color: transparent !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #664be0 !important;
}

a.text-secondary:hover, a.text-secondary:focus {
  color: #e4e7ea !important;
}

a.text-info:hover, a.text-info:focus {
  color: #3a8af7 !important;
}

a.text-success:hover, a.text-success:focus {
  color: #23ad9f !important;
}

a.text-warning:hover, a.text-warning:focus {
  color: #ffb048 !important;
}

a.text-danger:hover, a.text-danger:focus {
  color: #ff4a52 !important;
}

.hover-primary:hover, .hover-primary:focus {
  color: #664be0 !important;
}

.hover-secondary:hover, .hover-secondary:focus {
  color: #e4e7ea !important;
}

.hover-success:hover, .hover-success:focus {
  color: #23ad9f !important;
}

.hover-info:hover, .hover-info:focus {
  color: #3a8af7 !important;
}

.hover-warning:hover, .hover-warning:focus {
  color: #ffb048 !important;
}

.hover-danger:hover, .hover-danger:focus {
  color: #ff4a52 !important;
}

.hover-pink:hover, .hover-pink:focus {
  color: #E91E63 !important;
}

.hover-purple:hover, .hover-purple:focus {
  color: #7c096a !important;
}

.hover-brown:hover, .hover-brown:focus {
  color: #8d6658 !important;
}

.hover-cyan:hover, .hover-cyan:focus {
  color: #00BCD4 !important;
}

.hover-yellow:hover, .hover-yellow:focus {
  color: #FFEB3B !important;
}

.hover-gray:hover, .hover-gray:focus {
  color: #868e96 !important;
}

.hover-dark:hover, .hover-dark:focus {
  color: #353b43 !important;
}

.hover-facebook:hover, .hover-facebook:focus {
  color: #3b5998 !important;
}

.hover-google:hover, .hover-google:focus {
  color: #dd4b39 !important;
}

.hover-twitter:hover, .hover-twitter:focus {
  color: #00aced !important;
}

.hover-linkedin:hover, .hover-linkedin:focus {
  color: #007bb6 !important;
}

.hover-pinterest:hover, .hover-pinterest:focus {
  color: #cb2027 !important;
}

.hover-git:hover, .hover-git:focus {
  color: #666666 !important;
}

.hover-tumblr:hover, .hover-tumblr:focus {
  color: #32506d !important;
}

.hover-vimeo:hover, .hover-vimeo:focus {
  color: #aad450 !important;
}

.hover-youtube:hover, .hover-youtube:focus {
  color: #bb0000 !important;
}

.hover-flickr:hover, .hover-flickr:focus {
  color: #ff0084 !important;
}

.hover-reddit:hover, .hover-reddit:focus {
  color: #ff4500 !important;
}

.hover-dribbble:hover, .hover-dribbble:focus {
  color: #ea4c89 !important;
}

.hover-skype:hover, .hover-skype:focus {
  color: #00aff0 !important;
}

.hover-instagram:hover, .hover-instagram:focus {
  color: #517fa4 !important;
}

.hover-lastfm:hover, .hover-lastfm:focus {
  color: #c3000d !important;
}

.hover-behance:hover, .hover-behance:focus {
  color: #1769ff !important;
}

.hover-rss:hover, .hover-rss:focus {
  color: #f26522 !important;
}

.hover-white:hover, .hover-white:focus {
  color: #fff !important;
}

.hover-muted:hover, .hover-muted:focus {
  color: #868e96 !important;
}

.hover-light:hover, .hover-light:focus {
  color: #788394 !important;
}

.hover-lighter:hover, .hover-lighter:focus {
  color: #a5b3c7 !important;
}

.hover-fade:hover, .hover-fade:focus {
  color: rgba(97, 106, 120, 0.4) !important;
}

.hover-transparent:hover, .hover-transparent:focus {
  color: transparent !important;
}

.active.active-primary {
  background-color: #dcfcfa !important;
}

.active.active-secondary {
  background-color: #f7fafc !important;
}

.active.active-success {
  background-color: #BFF1DF !important;
}

.active.active-info {
  background-color: #BCE2FB !important;
}

.active.active-warning {
  background-color: #FFE5D8 !important;
}

.active.active-danger {
  background-color: #FFD6DB !important;
}

.active.active-pink {
  background-color: #F8BBD0 !important;
}

.active.active-purple {
  background-color: #E1BEE7 !important;
}

.active.active-brown {
  background-color: #eddcd5 !important;
}

.active.active-cyan {
  background-color: #B2EBF2 !important;
}

.active.active-yellow {
  background-color: #FFF9C4 !important;
}

.active.active-gray {
  background-color: #f2f2f2 !important;
}

.active.active-dark {
  background-color: #c8c8c8 !important;
}

.active.active-white {
  background-color: #fff !important;
}

.active.active-transparent {
  background-color: transparent !important;
}

/*--------- animeted gradient-----------*/

.bg-primary-gradient{
background: linear-gradient(230deg, #d7def5, #664be0);
background-size: 200% 200%;
}

.bg-secondary-gradient{
background: linear-gradient(230deg, #666666, #353b43);
background-size: 200% 200%;
}

.bg-success-gradient{
background: linear-gradient(230deg, #BFF1DF, #23ad9f);
background-size: 200% 200%;
}

.bg-info-gradient{
background: linear-gradient(230deg, #BCE2FB, #3a8af7);
background-size: 200% 200%;
}

.bg-warning-gradient{
background: linear-gradient(230deg, #FFE5D8, #ffb048);
background-size: 200% 200%;
}

.bg-danger-gradient{
background: linear-gradient(230deg, #FFD6DB, #ff4a52);
background-size: 200% 200%;
}


/*--------- animeted gradient-----------*/

.bg-primary-gradient-animet{
background: linear-gradient(230deg, #d7def5, #664be0);
background-size: 400% 400%;

-webkit-animation: AnimationName 20s ease infinite;
-moz-animation: AnimationName 20s ease infinite;
animation: AnimationName 20s ease infinite;
}

.bg-secondary-gradient-animet{
background: linear-gradient(230deg, #666666, #353b43);
background-size: 400% 400%;

-webkit-animation: AnimationName 20s ease infinite;
-moz-animation: AnimationName 20s ease infinite;
animation: AnimationName 20s ease infinite;
}

.bg-success-gradient-animet{
background: linear-gradient(230deg, #BFF1DF, #23ad9f);
background-size: 400% 400%;

-webkit-animation: AnimationName 20s ease infinite;
-moz-animation: AnimationName 20s ease infinite;
animation: AnimationName 20s ease infinite;
}

.bg-info-gradient-animet{
background: linear-gradient(230deg, #BCE2FB, #3a8af7);
background-size: 400% 400%;

-webkit-animation: AnimationName 20s ease infinite;
-moz-animation: AnimationName 20s ease infinite;
animation: AnimationName 20s ease infinite;
}

.bg-warning-gradient-animet{
background: linear-gradient(230deg, #FFE5D8, #ffb048);
background-size: 400% 400%;

-webkit-animation: AnimationName 20s ease infinite;
-moz-animation: AnimationName 20s ease infinite;
animation: AnimationName 20s ease infinite;
}

.bg-danger-gradient-animet{
background: linear-gradient(230deg, #FFD6DB, #ff4a52);
background-size: 400% 400%;

-webkit-animation: AnimationName 20s ease infinite;
-moz-animation: AnimationName 20s ease infinite;
animation: AnimationName 20s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
/*---------social media background-----------*/
.bg-bitbucket{
	background-color: #205081;
}
.bg-dropbox{
	background-color: #007ee5;
}
.bg-facebook{
	background-color: #3b5998;
}
.bg-flickr{
	background-color: #ff0084;
}
.bg-foursquare{
	background-color: #f94877;
}
.bg-github{
	background-color: #353b43;
}
.bg-google{
	background-color: #dd4b39;
}
.bg-instagram{
	background-color: #e1306c;
}
.bg-linkedin{
	background-color: #007bb6;
}
.bg-tumblr{
	background-color: #2c4762;
}
.bg-twitter{
	background-color: #55acee;
}
.bg-vk{
	background-color: #587ea3;
}


/*---------add-----------*/

.bg-gray {
    color: #000;
    background-color: #d2d6de;
}
.bg-gray-light {
    background-color: #f7f7f7;
}
.bg-black, .bg-inverse {
    background-color: #353b43;
}
.alert-secondary, .callout.callout-secondary, .label-secondary, .modal-secondary .modal-body {
    background-color: #e2e3e5 !important;
}
.alert-primary, .callout.callout-primary, .label-primary, .modal-primary .modal-body {
    background-color: #664be0 !important;
}
.alert-danger, .alert-error, .callout.callout-danger, .label-danger, .modal-danger .modal-body {
    background-color: #ff4a52 !important;
}
.alert-warning, .bg-warning, .callout.callout-warning, .label-warning, .modal-warning .modal-body {
    background-color: #ffb048 !important;
}
.alert-info, .callout.callout-info, .label-info, .modal-info .modal-body {
    background-color: #3a8af7 !important;
}
.alert-success, .callout.callout-success, .label-success, .modal-success .modal-body {
    background-color: #23ad9f !important;
}
.bg-aqua {
    background-color: #00FFFF !important;
}
.label-inverse {
    background-color: #2f3d4a;
}
.bg-blue {
    background-color: #3a8af7;
}
.label-primary, .modal-primary .modal-body {
    background-color: #664be0 !important;
}
.bg-light-blue {
    background-color: #4ad2ff !important;
}
.bg-green {
    background-color: #06D73E;
}
.bg-navy {
    background-color: #001f3f;
}
.bg-teal {
    background-color: #39cccc;
}
.bg-olive {
    background-color: #7dab2e;
}
.bg-lime {
    background-color: #01ff70;
}
.bg-orange {
    background-color: #f7941d;
}
.bg-fuchsia {
    background-color: #f012be;
}

.bg-maroon {
    background-color: #8C1919;
}
.bg-gray-active {
    color: #000;
    background-color: #b5bbc8;
}
.bg-black-active {
    background-color: #000;
}
.bg-red-active, .modal-danger .modal-footer, .modal-danger .modal-header {
    background-color: #ff4a52;
}
.bg-yellow-active, .modal-warning .modal-footer, .modal-warning .modal-header {
    background-color: #ffb048;
}
.modal-info .modal-footer, .modal-info .modal-header {
    background-color: #3a8af7;
}
.bg-aqua-active {
    background-color: #03CCCC;
}
.bg-blue-active {
    background-color: #2f88d6;
}
.modal-primary .modal-footer, .modal-primary .modal-header {
    background-color: #664be0;
}
.bg-light-blue-active {
    background-color: #86B9C9;
}
.bg-green-active, .modal-success .modal-footer, .modal-success .modal-header {
    background-color: #23ad9f;
}
.bg-navy-active {
    background-color: #001a35;
}
.bg-teal-active {
    background-color: #30bbbb;
}
.bg-olive-active {
    background-color: #61881f;
}
.bg-lime-active {
    background-color: #00e765;
}
.bg-orange-active {
    background-color: #df8214;
}
.bg-fuchsia-active {
    background-color: #db0ead;
}
.bg-purple-active {
    background-color: #664ce1;
}
.bg-maroon-active {
    background-color: #7e1616;
}
[class^=bg-].disabled {
    opacity: .65;
    filter: alpha(opacity=65);
}
.text-white {
    color: #fff;
}
.text-blue {
    color: #3a8af7;
}
.text-light-blue {
    color: #3a8af7;
}
.text-green {
    color: #06D73E;
}
.text-gray {
    color: #d2d6de;
}
.text-navy {
    color: #001f3f;
}
.text-teal {
    color: #39cccc;
}
.text-olive {
    color: #7dab2e;
}
.text-lime {
    color: #01ff70;
}
.text-orange {
    color: #f7941d;
}
.text-fuchsia {
    color: #f012be;
}
.text-maroon {
    color: #8C1919;
}
.text-black, .text-inverse {
    color: #000;
}
.text-white-50 {
    color: rgba(255, 255, 255, 0.5) !important;
}
.text-white-60 {
    color: rgba(255, 255, 255, 0.6) !important;
}
.text-white-70 {
    color: rgba(255, 255, 255, 0.7) !important;
}
.text-white-80 {
    color: rgba(255, 255, 255, 0.8) !important;
}
.link-muted {
    color: #7a869d;
}
.link-muted:focus, .link-muted:hover {
    color: #606c84;
}
.link-black {
    color: #353b43;
}
.link-black:focus, .link-black:hover {
    color: #353b43;
}
.hide {
    display: none;
}
.no-border {
    border: 0;
}
.no-radius {
    border-radius: 0;
}
.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0;
}
.no-shadow {
    box-shadow: none;
}
.margin-top-0 {
    margin-top: 0;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-40 {
    margin-top: 40px;
}
.chart-legend, .contacts-list, .list-unstyled, .mailbox-attachments, .users-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-group-unbordered>.list-group-item {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
}
.flat {
    border-radius: 0!important;
}
.text-sm {
    font-size: 12px;
}
.jqstooltip {
    padding: 5px!important;
    width: auto!important;
    height: auto!important;
}

.description-block .description-icon {
    font-size: 16px;
}
.no-pad-top {
    padding-top: 0;
}
.position-static {
    position: static!important;
}
.list-header {
    font-size: 15px;
    padding: 10px 4px;
    color: #353b43;
}
.list-seperator {
    height: 1px;
    background: #f4f4f4;
    margin: 15px 0 9px;
}
.list-link>a {
    padding: 4px;
    color: #353b43;
}
.list-link>a:hover {
    color: #353b43;
}
.font-light {
    font-weight: 400;
}
.user-block:after, .user-block:before {
    content: " ";
    display: table;
}
.user-block img {
    width: 40px;
    height: 40px;
    float: left;
}
.user-block .comment, .user-block .description, .user-block .username {
    display: block;
    margin-left: 50px;
}
.img-sm+.img-push, .user-block.user-block-sm .comment, .user-block.user-block-sm .description, .user-block.user-block-sm .username {
    margin-left: 40px;
}
.user-block .username {
    font-size: 16px;
    font-weight: 600;
}
.user-block .description {
    color: #353b43;
    font-size: 13px;
}
.user-block.user-block-sm .username {
    font-size: 14px;
}
.box-comments .box-comment img, .img-lg, .img-md, .img-sm, .user-block.user-block-sm img {
    float: left;
}
.box-comments .box-comment img, .img-sm, .user-block.user-block-sm img {
    width: 30px!important;
    height: 30px!important;
}
.img-md {
    width: 60px;
    height: 60px;
}
.img-md+.img-push {
    margin-left: 70px;
}
.attachment-block .attachment-pushed, .img-lg+.img-push {
    margin-left: 110px;
}
.img-lg {
    width: 100px;
    height: 100px;
}
.img-bordered {
    border: 3px solid #d2d6de;
    padding: 3px;
}
.img-bordered-sm {
    border: 2px solid #d2d6de;
    padding: 2px;
}
.attachment-block {
    border: 1px solid #f4f4f4;
    padding: 5px;
    margin-bottom: 10px;
    background: #f7f7f7;
}
.attachment-block .attachment-img {
    max-width: 100px;
    max-height: 100px;
    height: auto;
    float: left;
}
.attachment-block .attachment-heading {
    margin: 0;
}
.attachment-block .attachment-text {
    color: #555;
}
.connectedSortable {
    min-height: 100px;
}
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.sort-highlight {
    background: #f4f4f4;
    border: 1px dashed #ddd;
    margin-bottom: 10px;
}
.full-opacity-hover {
    opacity: .65;
    filter: alpha(opacity=65);
}
.full-opacity-hover:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.chart {
    position: relative;
    overflow: hidden;
    width: 100%}
.chart canvas, .chart svg {
    width: 100%!important;
}
@media print {
    .content-header, .left-side, .main-header, .main-sidebar, .no-print {
    display: none!important;
}
.content-wrapper, .main-footer, .right-side {
    margin-left: 0!important;
    min-height: 0!important;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.fixed .content-wrapper, .fixed .right-side {
    padding-top: 0!important;
}
.invoice {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}
.invoice-col {
    float: left;
    width: 33.3333333%}
.table-responsive {
    overflow: auto;
}
.table-responsive>.table tr td, .table-responsive>.table tr th {
    white-space: normal;
}
}
@media (min-width: 768px){
.material-icon-list-demo .icons div {
    width: 33%;
    padding: 5px;
    display: inline-block;
    line-height: 40px;
}
.material-icon-list-demo .mdi {
    font-size: 21px;
}
}
.material-icon-list-demo .icons div code {
    margin: 0px 5px;
}
.icon-list-demo .col-md-4, .icon-list-demo .col-3 {
    border-radius: 4px;
}
.icon-list-demo div {
    cursor: pointer;
    line-height: 60px;
    white-space: nowrap;
    color: #353b43;
}
.icon-list-demo .col-md-4:hover, .icon-list-demo .col-3:hover {
    background-color: #f4f4f4;
}
.icon-list-demo div:hover {
    color: #263238;
}
.icon-list-demo i {
    -webkit-transition: all 0.2s;
    -webkit-transition: font-size .2s;
    display: inline-block;
    font-size: 18px;
    margin: 0 15px 0 10px;
    text-align: left;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    -o-transition: font-size .2s;
    transition: font-size .2s;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.divider-dash {
  opacity: .7;
  margin: 0 4px;
  vertical-align: middle;
  color: #929daf;
}

.divider-dash::before {
  content: '\2014 \00A0';
}

.divider-dot {
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin: 0 4px;
  vertical-align: middle;
  opacity: .5;
  background-color: #929daf;
}

.divider-line {
  display: -webkit-inline-box;
  display: inline-flex;
  height: 20px;
  width: 1px;
  margin: 0 4px;
  background-color: rgba(97, 106, 120, 0.07);
}

.divider {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  flex: 0 1 0%;
  color: #929daf;
  font-size: 11px;
  letter-spacing: .5px;
  margin: 2rem auto;
  width: 100%;
}

.divider::before, .divider::after {
  content: '';
  -webkit-box-flex: 1;
          flex-grow: 1;
  border-top: 1px solid #ebebeb;
}

.divider::before {
  margin-right: 16px;
}

.divider::after {
  margin-left: 16px;
}

.divider a {
  color: #929daf;
}

.divider-vertical {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 2rem;
}

.divider-vertical::before, .divider-vertical::after {
  border-top: none;
  border-right: 1px solid #ebebeb;
  margin: 0;
}

.divider-vertical::before {
  margin-bottom: 16px;
}

.divider-vertical::after {
  margin-top: 16px;
}

.hr-sm,
.divider-sm {
  margin: 1rem auto;
}

.hr-lg,
.divider-lg {
  margin: 3rem auto;
}

.divider-vertical.divider-sm {
  padding: 0 1rem;
}

.divider-vertical.divider-lg {
  padding: 0 3rem;
}

.box-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.box-group .box {
    border: 1px solid rgba(0,0,0,0.05);
}
.box-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
@media (min-width: 576px){
.box-group .box:first-child .box-img-top {
    border-top-right-radius: 0;
}
.box-group .box:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.box-group .box {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
}
.box-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
.box-deck {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.box-deck .box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
}
}
.box-deck .box {
    margin-bottom: 20px;
}

.box-columns .box {
    margin-bottom: 20px;
}
@media (min-width: 576px){
.box-columns {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    column-gap: 1.25rem;
}
.box-columns .box {
    display: inline-block;
    width: 100%;
}
}
.doc-dropdown .dropdown, .doc-dropdown .dropup {
    display: inline-block;
}
.show > .dropdown-grid {
    display: -webkit-box;
    display: flex;
}
.dropdown-grid {
    display: none;
    flex-wrap: wrap;
    padding: 8px;
}
.dropdown-grid {
    position: absolute;
    top: 100%;
    float: left;
    min-width: 300px;
    margin: 2px 0 0;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.dropdown-grid .dropdown-item {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    flex-basis: 33.333333%;
    overflow: hidden;
    text-align: center;
    padding: 12px;
    margin: 0;
    min-height: 90px;
    border: 1px solid transparent;
}
.dropdown-item .icon {
    vertical-align: baseline;
    margin-right: 6px;
    font-size: 0.875rem;
}
.dropdown-grid .icon {
    font-size: 24px;
}
.dropdown-grid .dropdown-item:hover {
    border-color: #f1f2f3;
}
.dropdown-grid .dropdown-item .icon:first-child {
    width: auto;
    margin-right: 0em;
    text-align: center;
}
.dropdown-grid .dropdown-item img.icon:first-child{
    width: 60%;
	margin: 0 auto;
}
.dropdown-grid.cols-2 .dropdown-item {
    flex-basis: 50%;
}
.dropdown-grid.cols-2 {
    min-width: 200px;
}
.dropdown-grid.cols-4 .dropdown-item {
    flex-basis: 25%;
}
.dropdown-grid.cols-4 {
    min-width: 400px;
}
.dropdown-grid .dropdown-item.disabled:hover {
    background-color: transparent;
}
.dropdown-grid .dropdown-item.disabled {
    opacity: .5;
    cursor: not-allowed;
}
.dropdown-grid .dropdown-item.active, .dropdown-grid .dropdown-item:active {
    color: #616a78;
    background-color: #f2f2f2;
}
.bring-front {
  z-index: 1;
}
.contact-page-aside ul.list-style-none {
    margin: 0px;
    padding: 0px;
}
ul.list-style-none li {
    list-style: none;
}
.list-style-none li.box-label a {
    font-weight: 500;
}
ul.list-style-none li a {
    color: #353b43;
    padding: 10px 0px;
    display: block;
    text-decoration: none;
}
.list-style-none li.divider {
    margin: 10px 0;
    height: 1px;
    background: rgba(120, 130, 140, 0.13);
}
ul.list-style-none li a:hover {
    color: #1976d2;
}
.list-style-none li a span {
    float: right;
}
div#employeelist_filter {
    margin-top: -60px;
	position: relative;
	z-index: 99;
}
.direct-chat-messages.chat-app{
    padding: 0.8rem 1.25rem;
}
.chat-app .direct-chat-img {
        width: 55px;
    height: 55px;
    line-height: 55px;
}
.chat-app .direct-chat-text {
    margin: 5px 0 0 80px;
}
.chat-app .right .direct-chat-text {
    margin: 5px 0px 0 0px;
    float: right;
	text-align: right;
}
.right .direct-chat-text p {
	display: inherit;
	clear: both;
	float: right;
	background-color: #3a8af7;
	color: #ffffff;
}
.grid-stack>.grid-stack-item>.grid-stack-item-content {
    border: 1px solid rgba(120, 130, 140, 0.13);
}
.box-body ul li{
	line-height: 24px;
}
.code-preview {
    border: 1px solid #ebebeb;
    padding: 20px;
    background-color: #fff;
}
hr {
    border-top-color: rgba(97,106,120,0.07);
    margin: 2rem auto;
}
/* date-paginator */
.dp-selected[style] {
  background-color: #01c0c8 !important;
}
.grid-stack-item-content {
  background: #ffffff;
  color: #2b2b2b;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.grid-stack-item-content .fa {
  display: block;
  margin: 5px;
}
.dp-item {
    position: relative;
	line-height: 1.42857143;
}

/* horizontal-timeline */
.cd-horizontal-timeline .timeline {
    padding: 20px 0 20px;
}
.cd-horizontal-timeline .timeline::before, .cd-horizontal-timeline .timeline::after  {
    display: none;
}

/**********Nestable**********/
.myadmin-dd .dd-list .dd-item .dd-handle {
  background: #ffffff;
  border: 1px solid rgba(120, 130, 140, 0.13);
  padding: 8px 16px;
  height: auto;
  font-weight: 600;
  border-radius: 0px;
}
.myadmin-dd .dd-list .dd-item .dd-handle:hover {
  color: #03a9f3;
}
.myadmin-dd .dd-list .dd-item button {
  height: auto;
  font-size: 17px;
  margin: 8px auto;
  color: #2b2b2b;
  width: 30px;
}
.myadmin-dd-empty .dd-list .dd3-handle {
  border: 1px solid rgba(120, 130, 140, 0.13);
  border-bottom: 0px;
  background: #ffffff;
  height: 36px;
  width: 36px;
}
.myadmin-dd-empty .dd-list .dd3-handle:before {
  color: inherit;
  top: 7px;
}
.myadmin-dd-empty .dd-list .dd3-handle:hover {
  color: #03a9f3;
}
.myadmin-dd-empty .dd-list .dd3-content {
  height: auto;
  border: 1px solid rgba(120, 130, 140, 0.13);
  padding: 8px 16px 8px 46px;
  background: #ffffff;
  font-weight: 600;
}
.myadmin-dd-empty .dd-list .dd3-content:hover {
  color: #03a9f3;
}
.myadmin-dd-empty .dd-list button {
  width: 26px;
  height: 26px;
  font-size: 16px;
  font-weight: 600;
}

/* ribbon */
.ribbon-wrapper,
.ribbon-wrapper-reverse,
.ribbon-wrapper-bottom,
.ribbon-wrapper-right-bottom {
  position: relative;
  background: #f7f7f7;
  padding: 50px 15px 15px 50px;
}
.ribbon-overflow {
  overflow: hidden;
}
.ribbon-wrapper-reverse {
  padding: 50px 50px 15px 15px;
}
.ribbon-wrapper-bottom {
  padding: 15px 15px 50px 50px;
}
.ribbon-wrapper-right-bottom {
  padding: 15px 50px 50px 15px;
}
.ribbon {
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  clear: left;
  position: absolute;
  top: 0px;
  left: -2px;
}
.ribbon-bookmark:before {
  position: absolute;
  top: 0;
  left: 100%;
  display: block;
  width: 0;
  height: 0;
  content: '';
  border: 15px solid #2b2b2b;
  border-right: 10px solid transparent;
}
.ribbon-right {
  left: auto;
  right: -2px;
}
.ribbon-bookmark.ribbon-right:before {
  right: 100%;
  left: auto;
  border-right: 15px solid #2b2b2b;
  border-left: 10px solid transparent;
}
.ribbon-vertical-l,
.ribbon-vertical-r {
  clear: none;
  padding: 0 5px;
  height: 40px;
  width: 30px;
  line-height: 40px;
  text-align: center;
  left: 0px;
  top: -2px;
}
.ribbon-vertical-r {
  left: auto;
  right: 0px;
}
.ribbon-bookmark.ribbon-vertical-l:before,
.ribbon-bookmark.ribbon-vertical-r:before {
  top: 100%;
  left: 0;
  margin-top: -14px;
  border-right: 15px solid #2b2b2b;
  border-bottom: 10px solid transparent;
}
.ribbon-bookmark{
	border-radius: 0;
	top: -5px;
    left: -5px;
}
.ribbon-bookmark.ribbon-right {
    right: -5px;
	left: auto;
}
.ribbon-badge {
  top: 15px;
  overflow: hidden;
  left: -90px;
  width: 100%;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.ribbon-badge.ribbon-right {
  left: auto;
  right: -90px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ribbon-badge.ribbon-bottom {
  top: auto;
  bottom: 15px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ribbon-badge.ribbon-right.ribbon-bottom {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}



.ribbon-bookmark.bg-primary:before {
  border-color: #664be0;
  border-right-color: transparent;
}
.ribbon-bookmark.ribbon-right.bg-primary:before {
  border-right-color: #664be0;
  border-left-color: transparent;
}
.ribbon-bookmark.ribbon-vertical-l.bg-primary:before,
.ribbon-bookmark.ribbon-vertical-r.bg-primary:before {
  border-right-color: #664be0;
  border-bottom-color: transparent;
}


.ribbon-bookmark.bg-success:before {
  border-color: #23ad9f;
  border-right-color: transparent;
}
.ribbon-bookmark.ribbon-right.bg-success:before {
  border-right-color: #23ad9f;
  border-left-color: transparent;
}
.ribbon-bookmark.ribbon-vertical-l.bg-success:before,
.ribbon-bookmark.ribbon-vertical-r.bg-success:before {
  border-right-color: #23ad9f;
  border-bottom-color: transparent;
}


.ribbon-bookmark.bg-info:before {
  border-color: #3a8af7;
  border-right-color: transparent;
}
.ribbon-bookmark.ribbon-right.bg-info:before {
  border-right-color: #3a8af7;
  border-left-color: transparent;
}
.ribbon-bookmark.ribbon-vertical-l.bg-info:before,
.ribbon-bookmark.ribbon-vertical-r.bg-info:before {
  border-right-color: #3a8af7;
  border-bottom-color: transparent;
}


.ribbon-bookmark.bg-warning:before {
  border-color: #ffb048;
  border-right-color: transparent;
}
.ribbon-bookmark.ribbon-right.bg-warning:before {
  border-right-color: #ffb048;
  border-left-color: transparent;
}
.ribbon-bookmark.ribbon-vertical-l.bg-warning:before,
.ribbon-bookmark.ribbon-vertical-r.bg-warning:before {
  border-right-color: #ffb048;
  border-bottom-color: transparent;
}


.ribbon-bookmark.bg-danger:before {
  border-color: #ff4a52;
}
.ribbon-bookmark.ribbon-right.bg-danger:before {
  border-right-color: #ff4a52;
  border-left-color: transparent;
}
.ribbon-bookmark.ribbon-vertical-l.bg-danger:before,
.ribbon-bookmark.ribbon-vertical-r.bg-danger:before {
  border-right-color: #ff4a52;
  border-bottom-color: transparent;
}

.ribbon-bookmark.bg-secondary:before {
  border-color: #353b43;
  border-right-color: transparent;
}
.ribbon-bookmark.ribbon-right.bg-secondary:before {
  border-right-color: #353b43;
  border-left-color: transparent;
}
.ribbon-bookmark.ribbon-vertical-l.bg-secondary:before,
.ribbon-bookmark.ribbon-vertical-r.bg-secondary:before {
  border-right-color: #353b43;
  border-bottom-color: transparent;
}

/*---gallery---*/
#gallery-header-center-center{
	line-height: 35px;
	margin-bottom: 0px;
	text-align: center;
}
#gallery-header-center-center .gallery-header-center-right-links {
    float: none;
	width: auto;
	display: inline-block;
	border-radius: 5px;
}
#gallery-header-center {
    text-align: right;
}

/*---comingsoon page---*/

/*-- spinner effect --*/
.clear-loading {
    text-align: center;
    margin: 3em auto 1em;
    position: relative;
    box-sizing: border-box;
}
.spinner {
    width: 100px;
    height: 100px;
}
.spinner > span,
.spinner > span:before,
.spinner > span:after {
    content: "";
    display: block;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.spinner > span {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-left-color: transparent;
    -webkit-animation: effect-2 2s infinite linear;
    -moz-animation: effect-2 2s infinite linear;
    -o-animation: effect-2 2s infinite linear;
    animation: effect-2 2s infinite linear;
}

.spinner > span:before {
    width: 75%;
    height: 75%;
    border-right-color: transparent;
}

.spinner > span:after {
    width: 50%;
    height: 50%;
    border-bottom-color: transparent;
}

@-webkit-keyframes effect-2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes effect-2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/*-- //spinner effect --*/

/*-- timer --*/

.countdown1 .timer {
    font-size: 4rem;
    display: inline-block;
    vertical-align: top;
    font-weight: 600;
	border: 2px dotted #fff;
	border-radius: 15px;
	margin: 0 30px;
	padding: 50px;
}
.countdown1 .text {
    font-size: 1rem;
    margin-top: 0.5em;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 400;
}
.countdown2 .timer {
    font-size: 4rem;
    display: inline-block;
    vertical-align: top;
    font-weight: 600;
	color: rgba(255,255,255,0.7);
}
.countdown2 .text {
    font-size: 1.5rem;
    margin-top: 0.5em;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
	color: rgba(255,255,255,0.7);
}
.cs-img {
    margin: 2em 0;
}
.cs-img img {
    padding: 3.5em;
    border-radius: 50%;
    border: 3px dashed rgba(255,255,255,0.6);
}
.countdown3{
	margin-left: 0;
	margin-right: 0;
}
.countdown3 .timer {
    font-size: 3rem;
    display: inline-block;
    vertical-align: top;
    font-weight: 600;
	color: #353b43;
	border: 1px solid #999999;
	padding-top: 20px;
	padding-bottom: 20px;
}
.countdown3 .text {
    font-size: 1rem;
    margin-top: 0.5em;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 400;
	color: #353b43;
}
/*-- //timer --*/

.fontawesome-icon-list .fa-hover, .ion-icon-list .ion-hover {
	cursor: pointer;
	line-height: 50px;
	white-space: nowrap;
	color: #878787;
	font-weight: 400;
	font-size: 16px;
	text-overflow: ellipsis;
	overflow: hidden;
}
.fontawesome-icon-list .fa-hover i, .ion-icon-list .ion-hover i{
	padding-right: 10px;
	font-size: 18px;
}
.fontawesome-icon-list .fa-hover:hover i, .ion-icon-list .ion-hover:hover i{
	color: #353b43;
}
.fontawesome-icon-list .fa-hover:hover, .ion-icon-list .ion-hover:hover {
	background-color: #f9f8f6;
	color: #111;
}
.preview {
	padding: 15px 0;
	position: relative;
	height: 40px;
}
.si {
	margin-right: 10px;
}
.preview  .code-preview {
	padding: 10px;
}
/* FROM HTTP://WWW.GETBOOTSTRAP.COM
 * Glyphicons
 *
 * Special styles for displaying the icons and their classes in the docs.
 */

.bs-glyphicons {
  padding-left: 0;
  padding-bottom: 1px;
  margin-bottom: 20px;
  list-style: none;
  overflow: hidden;
}

.bs-glyphicons li {
  float: left;
  width: 25%;
  height: 115px;
  padding: 10px;
  margin: 0 -1px -1px 0;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  border: 1px solid #f7f7f7;
  color: #878787;
}

.bs-glyphicons .glyphicon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}

.bs-glyphicons .glyphicon-class {
  display: block;
  text-align: center;
  word-wrap: break-word; /* Help out IE10+ with class names */
}

.bs-glyphicons li:hover {
  background-color: #f4f4f4;
  color: #111;
}

.bs-glyphicons li:hover .glyphicon{
  color: #353b43;
}
@media (min-width: 992px) {
  .bs-glyphicons li {
	width: 12.5%;
  }
}
@media (max-width: 767px) {
  .bs-glyphicons li {
	width: 50%;
  }
}
.header-megamenu{
	font-size: 1.286rem !important;
}
.dropdown-mega-menu {
    width: 50rem;
    padding: 1rem;
}
.dropdown-mega-menu .nav-item.nav-item-header {
    text-transform: none;
    font-size: 1.286rem;
    padding-top: 0;
    font-weight: normal;
	    padding: .715rem 1.072rem;
}
.dropdown-mega-menu .nav-link {
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
	    color: #929daf !important;
	border: none;
	font-weight: 400;
}
.dropdown-mega-menu .nav-link:hover, .dropdown-mega-menu .nav-link:focus {
    color: #495057 !important;
	background-color: transparent !important;
}
.nav-link .nav-link-icon {
    color: #ff7500;
    font-size: 1.286rem;
    width: 30px;
    text-align: center;
    opacity: .8;
    margin-left: -10px;
}
.nav-link:hover .nav-link-icon, .nav-link:focus .nav-link-icon {
    opacity: .9;
    color: #ff7500;
}
@media (max-width: 992px){
	.app-menu {
		display: none;
	}
	.main-header .navbar-custom-menu, .main-header .navbar-right {
		float: right;
		width: 100%;
	}
}
.skin-black .header-megamenu > .nav-item a.nav-link > .nav-link-icon{
	color: #67757c !important;
}

.example-modal .modal {
	position: relative;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	display: block;
	z-index: 1;
}

.example-modal .modal {
	background: transparent !important;
}

#home-chart{
	height: 360px !important;
}

.ace-editor {
	min-height: 300px;
}
#earning{
	height: 465px !important;
}
 #earning2{
	height: 255px !important;
}
.ovd{
	position: absolute;
    top: 30%;
    margin: 0 auto;
    width: 100%;
}


/*---dash world map---*/
.map-marker {
  /* adjusting for the marker dimensions
  so that it is centered on coordinates */
  margin-left: -8px;
  margin-top: -8px; }

.map-marker.map-clickable {
  cursor: pointer; }

.pulse {
  width: 10px;
  height: 10px;
  border: 5px solid #57769c;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: black;
  z-index: 10;
  position: absolute; }

.map-marker .dot {
  border: 10px solid #57769c;
  background: transparent;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  height: 50px;
  width: 50px;
  -webkit-animation: mappulse 3s ease-out;
  -moz-animation: mappulse 3s ease-out;
  animation: mappulse 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: 1;
  opacity: 0; }

@-moz-keyframes mappulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0.0; }
  25% {
    -moz-transform: scale(0);
    opacity: 0.1; }
  50% {
    -moz-transform: scale(0.1);
    opacity: 0.3; }
  75% {
    -moz-transform: scale(0.5);
    opacity: 0.5; }
  100% {
    -moz-transform: scale(1);
    opacity: 0.0; } }
@-webkit-keyframes "mappulse" {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0; }
  25% {
    -webkit-transform: scale(0);
    opacity: 0.1; }
  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3; }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.0; } }




.plc-white::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #cccccc;
}
.plc-white::-moz-placeholder { /* Firefox 19+ */
  color: #cccccc;
}
.plc-white:-ms-input-placeholder { /* IE 10+ */
  color: #cccccc;
}
.plc-white:-moz-placeholder { /* Firefox 18- */
  color: #cccccc;
}

.error-page-title {
	font-size: 10rem;
	line-height: inherit;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}





