.icon-appMenu-portal {
    background-image: url(/img/Portal.png)
}

.icon-appMenu-space {
    background-image: url(/img/Scheduler.png)
}

.icon-appMenu-link {
    background-image: url(/img/link32.png)
}

.icon-appMenu-schedule {
    background-image: url(/img/Cabinet.png)
}

.icon-appMenu-facility {
    background-image: url(/img/Cabinet.png)
}

.icon-appMenu-message {
    background-image: url('/img/Time set.png')
}

.icon-appMenu-bulletin {
    background-image: url(/img/To_do_list.png);
}

.icon-appMenu-cabinet {
    background-image: url(/img/file32.svg)
}

.icon-appMenu-memo {
    background-image: url(/img/memo32.svg)
}

.icon-appMenu-phonemessage {
    background-image: url(/img/telmemo32.svg)
}

.icon-appMenu-timecard {
    background-image: url(/img/timecard32.svg)
}

.icon-appMenu-todo {
    background-image: url(/img/todolist32.svg)
}

.icon-appMenu-address {
    background-image: url('/img/kaizen.png')
}

.icon-appMenu-mail {
    background-image: url(/img/mail32.svg)
}

.icon-appMenu-workflow {
    background-image: url(/img/Report.png)
}

.icon-appMenu-report {
    background-image: url(/img/report32.svg)
}

.icon-appMenu-star {
    background-image: url(/img/star32.svg)
}

.icon-appMenu-notification {
    background-image: url(/img/notify32.svg)
}

.icon-appMenu-defaultmenu {
    background-image: url(/img/defaultmenu32.svg)
}

.icon-appMenu-cbsearch {
    background-image: url(/img/cbsearch32.svg)
}
.icon-appMenu-system{
    background-image: url(/assets2/img/gear.png)
}
.icon-appMenu-system,.icon-appMenu-address,.icon-appMenu-bulletin,.icon-appMenu-cabinet,.icon-appMenu-defaultmenu,.icon-appMenu-facility,.icon-appMenu-link,.icon-appMenu-mail,.icon-appMenu-memo,.icon-appMenu-message,.icon-appMenu-notification,.icon-appMenu-phonemessage,.icon-appMenu-portal,.icon-appMenu-report,.icon-appMenu-rss,.icon-appMenu-schedule,.icon-appMenu-space,.icon-appMenu-star,.icon-appMenu-timecard,.icon-appMenu-todo,.icon-appMenu-workflow {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
    box-sizing: border-box
}

.icon_space_discussion_grn {
    background: url(../image/cybozu/spaceDiscussion16.png) no-repeat left center
}

.icon_space_todo_grn {
    background: url(../image/cybozu/spaceTodo16.png) no-repeat left center
}

.icon_message_grn {
    background: url(../image/cybozu/msg16.png) no-repeat left center
}

.icon_message_b_grn {
    background: url(/img/message_b16.png) no-repeat left center
}

.icon_bulletin_grn {
    background: url(../image/cybozu/bulletin16.png) no-repeat left center
}

.icon_mail_b_grn {
    background: url(/img/mail_b16.png) no-repeat left center
}

.icon-add-grn {
    background: url(/img/add16.png) no-repeat left center
}

.icon_add_grn {
    background: url(/img/add_b16.png) no-repeat left center
}

.icon-pale-add-grn {
    background: url(/img/pale-add16.png) no-repeat left center
}

.icon-edit-grn {
    background: url(/img/edit16.png) no-repeat left center
}

.icon_edit_grn {
    background: url(/img/edit16.png) no-repeat left center
}

.icon-delete-grn {
    background: url(/img/delete16.png) no-repeat left center
}

.icon_delete_grn {
    background: url(/img/delete_b16.png) no-repeat left center
}

.icon_trash_grn {
    background: url(/img/trash16.png) no-repeat left center
}

.icon-follow-grn {
    background: url(../image/cybozu/detail20.gif) no-repeat left center
}

.icon-reply-grn {
    background: url(/img/reply_sub16.png) no-repeat left center
}

.icon_reply_grn {
    background: url(/img/reply16.png) no-repeat left center
}

.icon_reply_all_grn {
    background: url(/img/reply_all16.png) no-repeat left center
}

.icon_reply_all_sub_grn {
    background: url(/img/reply_all_sub16.png) no-repeat left center
}

.icon_forward_grn {
    background: url(/img/forward16.png) no-repeat left center
}

.icon-urlTip-grn {
    background: url(/img/link_sub16.png) no-repeat left center
}

.icon-attachedFile-grn {
    background: url(/img/fileB16.png) no-repeat left center
}

.icon_attachment_grn {
    background: url(/img/attachment16.png) no-repeat left center
}

.icon_download_grn {
    background: url(/img/download16_2.svg) no-repeat left center
}

.icon_document_grn {
    background: url(/img/document16.png) no-repeat left center
}

.icon_folder_b_grn {
    background: url(/img/folder_b16.png) no-repeat left center
}

.icon-reuse-grn {
    background: url(/img/reuse20.gif) no-repeat left center
}

.icon-edit-sub-grn {
    background: url(/img/edit_sub16.png) no-repeat left center
}

.icon_refresh_grn {
    background: url(/img/refresh16.png) no-repeat left center
}

.icon_reuse_grn {
    background: url(/img/reuse16.png) no-repeat left center
}

.icon-close-sub-grn {
    background: url(/img/close_sub16.png) no-repeat left center
}

.icon-blank-grn {
    background: url(/img/blank16.png) no-repeat left center
}

.icon-blankB-grn {
    background: url(/img/blankB16.png) no-repeat left center
}

.icon-setting-grn {
    background: url(/img/setting16.png) no-repeat left center
}

.icon_setting_grn {
    background: url(/img/setting_b16.png) no-repeat left center
}

.icon-advance-grn {
    background: url(/img/advance16.png) no-repeat left center
}

.icon_back_grn {
    background: url(/img/backlink16.png) no-repeat left center
}

.icon-buttonArrowLeft-grn {
    background: url(/img/buttonArrowLeft16.png) no-repeat left center
}

.icon-buttonArrowRight-grn,.icon-buttonArrowRightBehind-grn {
    background: url(/img/buttonArrowRight16.png) no-repeat left center
}

.icon_arrow_right_b_grn {
    background: url(/img/arrow_right_b16.png) no-repeat left center
}

.icon_read_mail_grn {
    background: url(/img/read_mail16.png) no-repeat left center
}

.icon_move_grn {
    background: url(/img/move16.png) no-repeat left center
}

.icon_order_grn {
    background: url(/img/order16.png) no-repeat left center
}

.icon_label_grn {
    background: url(/img/label16.png) no-repeat left center
}

.icon_menu_grn {
    background: url(/img/menu16.png) no-repeat left center
}

.icon_folder_grn {
    background: url(/img/folder16.png) no-repeat left center
}

.icon_detail_grn {
    background: url(/img/detail16.png) no-repeat left center
}

.icon_receive_b_grn {
    background: url(/img/receiveB16.png) no-repeat left center
}

.icon_receive_all_grn {
    background: url(/img/receive_all16.png) no-repeat left center
}

.icon_spinner_grn {
    background: url(/img/spinner.gif) no-repeat left center
}

.icon_person_sub_grn {
    background: url(/img/person_sub16.png) no-repeat left center
}

.icon_print_grn {
    background: url(/img/print16.png) no-repeat left center
}

.icon_distribute_grn {
    background: url(/img/distribute16.png) no-repeat left center
}

.icon_2pane_grn {
    background: url(/img/2pane16.png) no-repeat left center
}

.icon_reaction_sub_grn {
    background: url(/img/reaction_sub16.png) no-repeat left center
}

.icon_access_grn {
    background: url(/img/access_b16.png) no-repeat left center
}

.icon_information_sub16_grn {
    background: url(/img/information_sub16.png) no-repeat left center
}

.icon_information_c_grn {
    background: url(/img/information_c16.png) no-repeat left center
}

.icon_unread_mark_grn {
    background: url(/img/unread_mark16.png) no-repeat left center
}

.icon_list_style_grn {
    background: url(/img/list_style16.png) no-repeat left center
}

.icon_search_b_grn {
    background: url(/img/search_b16.png) no-repeat left center
}

.icon_organization_b_grn {
    background: url(/img/organization_b16.png) no-repeat left center
}

.icon_show_element_b_grn {
    background: url(/img/show_element_b16.png) no-repeat left center
}

.icon_hide_element_b_grn {
    background: url(/img/hide_element_b16.png) no-repeat left center
}

.icon_arrow_open_grn {
    background: url(/img/arrow_open16.png) no-repeat left center
}

.icon_arrow_close_grn {
    background: url(/img/arrow_close16.png) no-repeat left center
}

.icon-add-grn,.icon-advance-grn,.icon-attachedFile-grn,.icon-blank-grn,.icon-blankB-grn,.icon-buttonArrowLeft-grn,.icon-buttonArrowRight-grn,.icon-close-sub-grn,.icon-delete-grn,.icon-edit-grn,.icon-edit-sub-grn,.icon-follow-grn,.icon-pale-add-grn,.icon-reply-grn,.icon-reuse-grn,.icon-setting-grn,.icon-urlTip-grn,.icon_2pane_grn,.icon_add_grn,.icon_attachment_grn,.icon_delete_grn,.icon_detail_grn,.icon_distribute_grn,.icon_document_grn,.icon_edit_grn,.icon_folder_grn,.icon_forward_grn,.icon_inline_grn,.icon_label_grn,.icon_menu_grn,.icon_message_b_grn,.icon_move_grn,.icon_order_grn,.icon_organization_b_grn,.icon_person_sub_grn,.icon_print_grn,.icon_reaction_sub_grn,.icon_read_mail_grn,.icon_receive_all_grn,.icon_receive_b_grn,.icon_reply_all_grn,.icon_reply_grn,.icon_reuse_grn,.icon_spinner_grn,.icon_trash_grn {
    white-space: nowrap;
    display: inline-block;
    height: 16px;
    padding-left: 18px;
    line-height: 1.25
}

.icon_only_grn {
    padding-left: 16px
}

.icon_inline_base_grn {
    white-space: nowrap
}

.icon_inline_mm_grn,.icon_inline_s_mm_grn {
    display: inline-block;
    vertical-align: middle;
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box
}

.icon_inline_mm_grn {
    width: 20px;
    height: 20px;
    margin-right: 3px;
    background-size: 20px 20px
}

.icon_inline_s_mm_grn {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    background-size: 16px 16px
}

.icon_only_mm_grn {
    margin-right: 0
}

.icon_inline_mm_text_grn,.icon_inline_s_mm_text_grn {
    display: inline-block;
    vertical-align: middle
}

.icon_inline_mm_text_grn {
    height: 20px;
    line-height: 22px
}

.icon_inline_s_mm_text_grn {
    height: 16px;
    line-height: 18px
}

.icon_information_mm1_grn {
    background-image: url(/img/information_1.svg)
}

.icon_close_mm1_grn {
    background-image: url(/img/close_1.svg)
}

.icon_close16_3_mm_grn {
    background: url(/img/close16_3.svg) no-repeat left center
}

.icon_help_2_mm_grn {
    background-image: url(/img/help_2.svg)
}

.icon_add_2_mm_grn {
    background-image: url(/img/add_2.png)
}

.icon_mail_2_mm_grn {
    background-image: url(/img/mail_2.png)
}

.icon_file_2_mm_grn {
    background-image: url(/img/file_2.svg)
}

.icon_zoom_in_2_mm_grn {
    background-image: url(/img/zoom_in_2.svg)
}

.icon_blank_2_mm_grn {
    background-image: url(/img/blank_2.svg)
}

.icon_arrow_inline_down_2_mm_grn {
    background-image: url(/img/arrow_inline_down_2.svg)
}

.icon_arrow_inline_up_2_mm_grn {
    background-image: url(/img/arrow_inline_up_2.svg)
}

.icon_download16_2_mm_grn {
    background: url(/img/download16_2.svg) no-repeat left center
}

.icon_help_sub16_2_mm_grn {
    background-image: url(/img/help_sub16_2.svg)
}

.icon-buttonArrowRightBehind-grn {
    white-space: nowrap;
    display: inline-block;
    height: 16px;
    padding-left: 16px;
    margin-left: 2px
}

.icon-fileUpload-block-grn {
    background: url(/img/uploadbutton_sub20.png) no-repeat left center;
    display: inline-block;
    width: 20px;
    height: 20px
}

.icon-category-grn {
    background: url(../image/cybozu/category20.gif) no-repeat left center;
    display: inline-block;
    padding-left: 20px;
    height: 20px
}

.icon-toggleMemo-show-grn {
    background: url(/img/show16.png) no-repeat right center
}

.icon-toggleMemo-hide-grn {
    background: url(/img/hide16.png) no-repeat right center
}

.icon-showMenu-grn {
    background: url(/img/showdown16x10.gif) no-repeat 15px 0
}

.icon-hideMenu-grn {
    background: url(/img/showup16x10.gif) no-repeat 15px 0
}

.icon-toggleMemo-hide-grn,.icon-toggleMemo-show-grn {
    display: inline-block;
    height: 16px;
    padding-right: 18px
}

.icon-hideMenu-grn,.icon-showMenu-grn {
    padding-right: 10px
}

.space-manageMenu-grn .icon-hideMenu-grn,.space-manageMenu-grn .icon-showMenu-grn {
    float: left
}

.icon-private-grn,.icon-space-pale-private-grn,.icon-space-private-grn {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(/img/privateMark.png) no-repeat left center
}

.icon-informationSub-grn {
    display: inline-block;
    height: 12px;
    width: 12px;
    vertical-align: middle;
    background: url(/img/information_sub12.png) no-repeat scroll left center
}

.pulldown_icon_grn {
    display: inline-block;
    height: 20px;
    width: 18px;
    padding-left: 2px;
    vertical-align: middle
}

.icon_arrow_down12_2_mm_grn,.icon_arrow_up12_2_mm_grn {
    display: inline-block;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px 12px;
    margin-left: 2px
}

.icon_arrow_down12_2_mm_grn {
    background-image: url(/img/arrow_down12_2.svg)
}

.icon_arrow_up12_2_mm_grn {
    background-image: url(/img/arrow_up12_2.svg)
}

.icon_advance_list_grn {
    background: url(/img/advance_list20.png) no-repeat left center;
    display: inline-block;
    width: 20px;
    height: 20px
}

.icon-space20-grn {
    background: url(/img/project16.png) no-repeat left center
}

.icon-spaceDiscussion16-grn {
    background: url(../image/cybozu/image-app-space/spaceDiscussion16.png) no-repeat left center
}

.icon-space20-grn,.icon-spaceDiscussion16-grn {
    display: inline-block;
    height: 16px;
    padding-left: 18px
}

.icon-space-todoStatus-grn {
    background: url(../image/cybozu/image-app-space/spaceTodo16.png) no-repeat left center;
    display: inline-block;
    height: 16px;
    padding-left: 18px
}

.icon-toggle-show-grn {
    background: url(/img/show16.png) no-repeat left center;
    display: inline-block;
    height: 16px;
    padding-left: 18px
}

.icon-space-todoStatusLate-grn {
    background: url(../image/cybozu/todoStatusBarLate16.png) no-repeat left center;
    display: inline-block;
    height: 16px;
    padding-left: 18px;
    white-space: nowrap
}

.icon-space-todoStatusToday-grn {
    background: url(../image/cybozu/todoStatusBarToday16.png) no-repeat left center;
    display: inline-block;
    height: 16px;
    padding-left: 18px;
    white-space: nowrap
}

.icon-space-todoStatusInTerm-grn {
    background: url(../image/cybozu/todoStatusBarInTerm16.png) no-repeat left center;
    display: inline-block;
    height: 16px;
    padding-left: 18px;
    white-space: nowrap
}

.icon-space-todoStatusNoTerm-grn {
    background: url(../image/cybozu/todoStatusBarNoTerm16.png) no-repeat left center;
    display: inline-block;
    height: 16px;
    padding-left: 18px;
    white-space: nowrap
}
