.mainarea-mail {
    background-color: #fff
}

.mainarea-mail input {
    outline: 0 none
}

.mainarea-mail img {
    vertical-align: middle
}

.file_input_div_mail {
    position: relative;
    overflow: hidden;
    text-align: center;
    font: 12px;
    color: #0a62ad;
    display: inline-block;
    padding: 2px 0 2px 10px;
    background: url(../image/cybozu/clip8x20.gif) no-repeat left;
    margin-bottom: 5px;
    cursor: pointer
}

.mainarea-mail #menu_part {
    padding: 4px 0 4px
}

.mainarea-mail #smart_main_menu_part {
    white-space: nowrap
}

.mainarea-mail .menu_item {
    line-height: 1.2
}
.listview {
    display: block;
    padding: 0;
    margin: 0;
    color: #141515;
    background: #fff;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    line-height: 1.3em;
}
.listview>li:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: #E1E1E1;
}
.listview>li {
    padding: 8px 16px;
    display: block;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 40px;
}
.listview .icon-user{
    font-size:18px;
}
.listview .icon-plus3{
    font-size:16px;
    color:#26d847;
}
.user-list {
    overflow-y: scroll;
    box-shadow: none;
    height: auto;
    max-height: 243px;
}
.listview .icon-minus3{
    font-size:16px;
    color:red;
}

.add-member-btn{
    font-size: 22px;
    cursor: pointer;
}
.remove-member-btn{
    font-size: 22px;
    cursor: pointer;
}
.mainarea-mail .margin_vert {
    margin: 0
}

.mainarea-mail .tree-select-current {
    display: inline-block
}

.mainarea-mail .tree-node {
    display: inline-block
}

.mainarea-mail .std_form td,.mainarea-mail .std_form th {
    padding: 6px
}

.mainarea-mail .std_form td.postButtonArea-grn .button_base_grn {
    margin-top: 15px
}

.mainarea-mail .std_form td.postButtonArea-grn {
    padding-top: 16px
}

.mainarea-mail .contents_area {
    margin-top: 0
}

.mail_account .notes {
    margin-top: 10px
}

.mail_account .notes p {
    margin: 3px
}

.global_navi img,.global_navi_title img {
    display: inline-block
}

.navi_tite_grn span {
    vertical-align: baseline;
    display: inline-block
}

.mail-pagingListBlock-grn {
    margin-bottom: 0;
    white-space: nowrap
}

.mail-pagingListBottomBlock-grn {
    white-space: nowrap;
    margin-top: 8px
}

.mail-pagingButtonBottomBlock-grn {
    white-space: nowrap;
    margin-top: 5px;
    display: block;
    float: right
}

.mail-listFilter-grn {
    margin-bottom: 0
}

.mainarea-mail .list_menu {
    margin: 12px 0
}

.mail-ButtonStatus-grn a,.mail-listButton-grn a,.mail-listButtonDisable-grn a,.mail-listCheckButton-grn a {
    margin-right: 7px;
    text-decoration: none
}

.mail-ButtonStatus-grn a,.mail-listButton-grn a,.mail-listCheckButton-grn a {
    cursor: pointer
}

.select_account_grn .mail-listButton-grn a {
    background-color: #fff;
    background-image: none;
    text-shadow: none
}

.select_account_grn .mail-listButton-grn a:hover {
    background-color: #cce4f1;
    border: 1px solid #bccded;
    background-image: none
}

.mail-listCheckButton-grn a {
    width: 28px
}

.mail-listButton-grn a:active {
    text-decoration: none
}

.mail-ButtonStatusArrowUp-grn,.mail-arrowUp-grn {
    background-image: url(../image/cybozu/arrow_up_single_gray.gif);
    background-repeat: no-repeat;
    width: 12px;
    height: 7px;
    display: inline-block
}

.mail-ButtonStatusArrowDown-grn,.mail-arrowDown-grn {
    background-image: url(../image/cybozu/arrow_down_single_gray.gif);
    background-repeat: no-repeat;
    width: 12px;
    height: 7px;
    display: inline-block
}

.mail-arrowDownDisable-grn {
    background-image: url(../image/cybozu/arrow_down_single_grayDisable.gif);
    background-repeat: no-repeat;
    width: 12px;
    height: 7px;
    display: inline-block
}

.list_menu .mail-listCheck-grn {
    margin-left: -8px
}

.mail-ButtonStatus-grn ul,.mail-listButton-grn ul,.mail-listButtonDisable-grn ul {
    padding: 0;
    margin: 0
}

.mail-ButtonStatus-grn li,.mail-listButton-grn li,.mail-listButtonDisable-grn li {
    list-style-type: none;
    margin: 0;
    padding: 0
}

* html .mail-ButtonStatus-grn li,* html .mail-listButton-grn li,* html .mail-listButtonDisable-grn li {
    line-height: normal
}

.mail-ButtonStatus-grn .mail-dropdownContents,.mail-listButton-grn .mail-dropdownContents,.mail-listButtonDisable-grn .mail-dropdownContents {
    position: absolute;
    display: none;
    z-index: 91;
    text-decoration: none
}

.mail-ButtonStatus-grn .mail-dropdownContents li a,.mail-listButton-grn .mail-dropdownContents li a,.mail-listButtonDisable-grn .mail-dropdownContents li a {
    margin: 0;
    text-decoration: none;
    white-space: nowrap;
    background: #fff;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    display: block;
    border-radius: 0
}

.mail-ButtonStatus-grn .mail-dropdownContents li a:hover,.mail-listButton-grn .mail-dropdownContents li a:hover {
    background-color: #cce4f1;
    text-decoration: none;
    border: none;
    color: #222
}

.mail-ButtonStatus-grn .mail-dropdownContents li a,.mail-listButton-grn .mail-dropdownContents li a,.mail-listButtonDisable-grn .mail-dropdownContents li a,.menu_item_dropdown_grn .mail-dropdownContents .disable_style_grn,.menu_item_dropdown_grn .mail-dropdownContents li a {
    text-align: left
}

.select_account_grn .mail-dropdownContents {
    margin-top: 8px
}

.mail-ButtonStatus-grn .mail-dropdownContents,.mail-listButton-grn .mail-dropdownContents {
    margin-top: 6px;
    padding-bottom: 8px
}

.mail-ButtonStatus-grn .pulldown_menu_select_mark_grn,.mail-ButtonStatus-grn .pulldown_menu_select_mark_none_grn {
    vertical-align: middle
}

.mail-dropdownContents-open .mail-dropdownContents {
    display: block
}

.mail-dropdownContents .mail-statusCheck-grn,.mail-dropdownContents .mail-statusHold-grn,.mail-dropdownContents .mail-statusNeedSend-grn,.mail-dropdownContents .mail-statusUnCheck-grn,.mail-dropdownContents .mail-statusWaitSend-grn {
    font-size: 100%
}

.mail-pagingButton-grn a,.mail-pagingButtonDetail-grn a {
    display: inline-block;
    margin-right: 0;
    padding: 3px 10px;
    border: 1px solid transparent;
    border-radius: 0;
    text-decoration: none;
    line-height: 1.2;
    color: #222
}

.mail-pagingButtonDetailDisable-grn,.mail-pagingButtonDisable-grn {
    display: inline-block;
    text-decoration: none;
    margin-right: 0;
    padding: 3px 10px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    line-height: 1.2;
    color: #bbb
}

.mail-pagingButtonDetail-grn a,.mail-pagingButtonDetailDisable-grn {
    vertical-align: middle
}

.mail-pagingButtonDetailDisable-grn .mail-pagingbuttonArrowLeft-grn {
    background-image: url(../image/cybozu/image-common/buttonArrowLeftDisable16.png)
}

.mail-pagingButtonDetailDisable-grn .mail-pagingbuttonArrowRight-grn {
    background-image: url(../image/cybozu/image-common/buttonArrowRightDisable16.png)
}

.mail-pagingButtonArrowFirst-grn {
    background-image: url(../image/cybozu/image-common/buttonArrowFirst16.png)
}

.mail-pagingButtonArrowFirstDisable-grn {
    background-image: url(../image/cybozu/image-common/buttonArrowFirstDisable16.png)
}

.mail-pagingbuttonArrowLeft-grn {
    background-image: url(../image/cybozu/image-common/buttonArrowLeft16.png)
}

.mail-pagingbuttonArrowLeftDisable-grn {
    background-image: url(../image/cybozu/image-common/buttonArrowLeftDisable16.png)
}

.mail-pagingbuttonArrowRight-grn {
    background-image: url(../image/cybozu/image-common/buttonArrowRight16.png)
}

.mail-pagingbuttonArrowRightDisable-grn {
    background-image: url(../image/cybozu/image-common/buttonArrowRightDisable16.png)
}

.mail-pagingButtonArrowFirst-grn,.mail-pagingButtonArrowFirstDisable-grn,.mail-pagingbuttonArrowLeft-grn,.mail-pagingbuttonArrowLeftDisable-grn,.mail-pagingbuttonArrowRight-grn,.mail-pagingbuttonArrowRightDisable-grn {
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    display: block
}

.mail-pagingButtonBlock-grn {
    float: right;
    white-space: nowrap;
    position: relative;
    top: 2px
}

.mail-menuMain-grn {
    float: left;
    white-space: nowrap
}

.mail-menuSub-grn {
    white-space: nowrap
}

.mainarea-mail .list_column {
    margin-bottom: 3px
}

#mail_list th img {
    margin-left: 3px;
    vertical-align: -3px
}

.mail-sortDate-grn {
    position: relative;
    top: 2px
}

.mail-CapacityStatus-grn {
    padding-right: 5px;
    white-space: nowrap
}

td.mail-CapacityStatus-grn a:active,td.mail-CapacityStatus-grn a:hover,td.mail-CapacityStatus-grn a:link,td.mail-CapacityStatus-grn a:visited {
    text-decoration: none;
    color: #222
}

.mail-CapacityBarBase-grn {
    background: url(../image/cybozu/image-app-mail/bg_mailCapacityBarBase.png) repeat-x scroll 0 0 transparent;
    height: 8px;
    width: 50px;
    float: right;
    display: block;
    margin: 5px 5px 0 0
}

.mail-CapacityStatusBar-grn {
    background: url(../image/cybozu/image-app-mail/bg_mailCapacityStatusBar.png) repeat-x scroll 0 -4px transparent;
    float: left;
    height: 6px;
    margin: 1px 1px 0 1px
}

.mail-CapacityStatusBarAttention-grn {
    background: url(../image/cybozu/image-app-mail/bg_mailCapacityStatusBarAttention.png) repeat-x scroll 0 -4px transparent;
    float: left;
    height: 6px;
    margin: 1px 1px 0 1px
}

.mail-CapacityInfomation-grn {
    background-image: url(../image/cybozu/image-common/information_sub16.png);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    float: right;
    display: block;
    cursor: pointer
}

.mail-labelCapacity-grn {
    float: right;
    display: block;
    margin-top: 6px;
    margin-right: 5px;
    color: #666;
    font-size: 90%;
    font-weight: 400
}

.mail-usage-labelCapacity-grn {
    margin-top: 1px;
    margin-right: 5px;
    float: right;
    color: #666;
    font-size: 12px;
    font-weight: 400;
    display: block
}

.buttonMarginLeft-grn {
    margin-left: 15px
}

.buttonMarginRight-grn {
    margin-right: 15px
}

.mail_attachment_list_2pane_grn ul {
    padding: 0;
    margin: 0
}

.mail_attachment_list_2pane_grn li {
    padding: 0;
    margin: 0 0 5px 7px;
    list-style: none
}

.mail_attachment_download_2pane_grn .download_all_grn {
    margin-left: 7px
}

.mail-textareaTo-grn {
    height: 40px;
    width: 721px;
    resize: none
}

.mail-textareaTitle-grn {
    width: 725px
}

.buttonMain-grn {
    margin-right: 15px;
    text-align: center;
    font-weight: 700
}

.mail-textareaBodytext-grn {
    width: 794px;
    height: 550px;
    margin: 0
}

.mail-textareaSignature-grn {
    height: 97px;
    margin: 0;
    width: 777px
}

.mail-postButtonAreaTop-grn {
    margin: 15px 0 10px 5px
}

.mail-toButton-grn {
    width: 100%
}

.checkButtonStandard-grn {
    height: 20px;
    width: 20px
}

.selectStandard-grn .mail-statusCheck-grn,.selectStandard-grn .mail-statusHold-grn,.selectStandard-grn .mail-statusNeedSend-grn,.selectStandard-grn .mail-statusUnCheck-grn,.selectStandard-grn .mail-statusWaitSend-grn {
    background-color: #fff;
    font-size: 100%;
    border-radius: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 3px;
    display: block
}

#menu_item_change_status .mail-dropdownContents li a.mail-statusUnCheck-grn,.list_container_grn .menu_item_dropdown_grn .mail-dropdownContents li a.mail-statusUnCheck-grn,.mail-ButtonStatus-grn .mail-dropdownContents li a.mail-statusUnCheck-grn,.mail-listButton-grn .mail-dropdownContents li a.mail-statusUnCheck-grn,.selectStandard-grn .mail-statusUnCheck-grn {
    color: #cf7a86
}

.mail-statusCheck-grn,.mail-statusHold-grn,.mail-statusNeedSend-grn,.mail-statusUnCheck-grn,.mail-statusWaitSend-grn {
    display: inline-block;
    padding: 3px 3px 2px 3px;
    border-radius: 3px;
    font-size: 85%
}

.mail-statusUnCheck-grn {
    background-color: #f8c8cf;
    color: #666
}

#menu_item_change_status .mail-dropdownContents li a.mail-statusNeedSend-grn,.list_container_grn .menu_item_dropdown_grn .mail-dropdownContents li a.mail-statusNeedSend-grn,.mail-ButtonStatus-grn .mail-dropdownContents li a.mail-statusNeedSend-grn,.mail-listButton-grn .mail-dropdownContents li a.mail-statusNeedSend-grn,.selectStandard-grn .mail-statusNeedSend-grn {
    color: #589d54
}

.mail-statusNeedSend-grn {
    background-color: #cbe5ca;
    color: #666
}

#menu_item_change_status .mail-dropdownContents li a.mail-statusCheck-grn,.list_container_grn .menu_item_dropdown_grn .mail-dropdownContents li a.mail-statusCheck-grn,.mail-ButtonStatus-grn .mail-dropdownContents li a.mail-statusCheck-grn,.mail-listButton-grn .mail-dropdownContents li a.mail-statusCheck-grn,.selectStandard-grn .mail-statusCheck-grn {
    color: #666
}

.mail-statusCheck-grn {
    background-color: #dedede;
    color: #666
}

#menu_item_change_status .mail-dropdownContents li a.mail-statusHold-grn,.list_container_grn .menu_item_dropdown_grn .mail-dropdownContents li a.mail-statusHold-grn,.mail-ButtonStatus-grn .mail-dropdownContents li a.mail-statusHold-grn,.mail-listButton-grn .mail-dropdownContents li a.mail-statusHold-grn,.selectStandard-grn .mail-statusHold-grn {
    color: #9e75b7
}

.mail-statusHold-grn {
    background-color: #e6d9ee;
    color: #666
}

#menu_item_change_status .mail-dropdownContents li a.mail-statusWaitSend-grn,.list_container_grn .menu_item_dropdown_grn .mail-dropdownContents li a.mail-statusWaitSend-grn,.mail-ButtonStatus-grn .mail-dropdownContents li a.mail-statusWaitSend-grn,.mail-listButton-grn .mail-dropdownContents li a.mail-statusWaitSend-grn,.selectStandard-grn .mail-statusWaitSend-grn {
    color: #b2823d
}

.mail-statusWaitSend-grn {
    background-color: #efe1cd;
    color: #666
}

.mainarea-mail #mail_list {
    padding-top: 0
}

.summary_content_grn {
    overflow: hidden;
    margin-left: 5px
}

.mail_view_detail {
    padding: 5px;
    font-size: 90%
}

.mail_view_detail .buttonStandard-grn img {
    vertical-align: -3px
}

.mail-detailLabel-grn {
    font-size: 85%
}

.mail-detailLabel-grn,.mail-sendLabel-grn {
    font-weight: 700;
    color: #666
}

.mail-receiveButton-grn {
    text-align: center;
    float: left;
    margin-top: -4px;
    margin-right: 10px;
    display: inline-block;
    text-decoration: none
}

.mail-receiveButton-grn a,.mail-receiveButton-grn a:active,.mail-receiveButton-grn a:link,.mail-receiveButton-grn a:visited {
    display: inline-block
}

.mail-receiveButton-grn a.receiving_one:hover {
    cursor: pointer;
    display: inline-block
}

.mail-receiveButton-grn font,.mail-receiveButton1-grn font {
    float: left;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    height: 34px;
    padding: 0 16px;
    min-width: 80px
}

a.receiving_one {
    float: left
}

.mail-receiveButton1MouseOut-grn,.mail-receiveButtonMouseOut-grn {
    border-top-width: 0;
    border-bottom-width: 0;
    border-right-width: 0
}

.mail-receiveButton1MouseOut-grn,.mail-receiveButtonMouseDown-grn,.mail-receiveButtonMouseOut-grn,.mail-receiveButtonMouseOver-grn,.mail-receiveButtonMouseUp-grn {
    float: left;
    width: 20px;
    height: 34px;
    background-image: url(../image/cybozu/image-common/arrow_down_bright.png);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 0;
    cursor: pointer
}

.mail-receiveButtonMouseDown-grn,.mail-receiveButtonMouseOut-grn,.mail-receiveButtonMouseOver-grn,.mail-receiveButtonMouseUp-grn {
    border-left: 1px solid #fff
}

.mail-receiveButton-grn .icon-receiveBSmall-grn,.mail-receiveButton1-grn .icon-receiveBSmall-grn {
    display: inline-block;
    height: 16px;
    line-height: 1.4;
    margin-top: 8px;
    padding-left: 20px;
    white-space: nowrap;
    background-image: url(../image/cybozu/image-common/receive_button16.png);
    background-position: left center;
    background-repeat: no-repeat;
    color: #fff;
    font-weight: 400;
    text-decoration: none
}

.receive_all_mail {
    position: absolute;
    padding: 5px;
    z-index: 1
}

.receive_all_mail a,.receive_all_mail a:active,.receive_all_mail a:hover,.receive_all_mail a:link,.receive_all_mail a:visited {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: 0 0;
    border: none;
    text-decoration: none
}

#menu_part .mail-receiveButton-grn a,#menu_part .mail-receiveButton-grn a:active,#menu_part .mail-receiveButton-grn a:hover,#menu_part .mail-receiveButton-grn a:link,#menu_part .mail-receiveButton-grn a:visited {
    text-decoration: none
}

.mail-receiveButton-grn .receive_button_disable_grn .icon-receiveBSmall-grn,.mail-receiveButton1-grn .receive_button_disable_grn .icon-receiveBSmall-grn {
    background-image: url(/public/img/spinner.gif);
    color: #c3c3c3;
    text-shadow: none
}

.mail-receiveButton-grn .receive_button_disable_grn .receiving_one,.mail-receiveButton1-grn .receive_button_disable_grn .receiving_one {
    background-color: #eee;
    border: 1px solid #bbb;
    border-radius: 0;
    display: inline-block
}

.mail-receiveButton-grn .receive_button_disable_grn .receiving_one.only,.mail-receiveButton1-grn .receive_button_disable_grn .receiving_one.only {
    display: inline-block;
    background-color: #eee;
    border: 1px solid #bbb;
    border-radius: 0
}

.mail-receiveButton-grn .receive_button_disable_grn .mail-receiveButtonMouseOut-grn,.mail-receiveButton1-grn .receive_button_disable_grn .mail-receiveButton1MouseOut-grn {
    box-shadow: none;
    background-color: #eee;
    background-image: url(../image/cybozu/arrow_down_single_grayDisable.gif);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: default;
    border-radius: 0
}

.mail-receiveButton-grn .receive_button_disable_grn .receiving_all,.mail-receiveButton1-grn .receive_button_disable_grn .receiving_all {
    border-radius: 0;
    border: 1px solid #bbb;
    border-left-width: 0;
    display: inline-block
}

.mail-receiveButton-grn a.receiving_all_disable:active,.mail-receiveButton-grn a.receiving_all_disable:link,.mail-receiveButton-grn a.receiving_all_disable:visited,.mail-receiveButton-grn a.receiving_one_disable:active,.mail-receiveButton-grn a.receiving_one_disable:link,.mail-receiveButton-grn a.receiving_one_disable:visited {
    background-color: #eee;
    box-shadow: none;
    border: 1px solid #bbb;
    display: inline-block;
    cursor: default;
    float: left
}

.mail-receiveButton-grn a.receiving_all_disable:focus,.mail-receiveButton-grn a.receiving_one_disable:focus {
    outline: 0
}

.mail-receiveButton-grn .receiving_one_disable .icon-receiveBSmall-grn {
    color: #c3c3c3;
    background-image: url(../image/cybozu/image-common/receive_button16.png)
}

.mail-receiveButton-grn a.receiving_all_disable:link {
    border-left: 0
}

.mail-receiveButton-grn a.receiving_all_disable span.mail-receiveButtonMouseOut-grn {
    background-image: url(../image/cybozu/arrow_down_single_grayDisable.gif);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: default
}

.mail-amountDetailPercent-grn {
    text-align: center;
    font-size: 200%;
    font-weight: 700;
    color: #70b616;
    text-shadow: 0 1px 1px rgba(255,255,255,.75)
}

.mail-amountDetailPercent-full-grn {
    text-align: center;
    font-size: 200%;
    font-weight: 700;
    color: orange;
    text-shadow: 0 1px 1px rgba(255,255,255,.75)
}

.mail-amountDetailLabel-grn {
    text-align: right;
    white-space: nowrap;
    font-weight: 400
}

.mail-amountDetailNumber-grn {
    text-align: right;
    white-space: nowrap;
    font-weight: 400
}

.mail-amountDetaiDaialog-grn .bold {
    font-weight: 700
}

table.mail_preview {
    border-collapse: collapse;
    border-top: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    background: #fff;
    margin: 10px 0 0 0;
    width: 95%;
    word-wrap: break-word
}

table.mail_preview th {
    background: #f6f6f6;
    text-align: left;
    color: #666;
    font-size: 100%;
    font-weight: 400
}

table.mail_preview td,table.mail_preview th {
    padding: 10px;
    border-left: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3
}

.drop.mail_drag_drop {
    display: none;
    width: 777px;
    height: 35px;
    padding: 30px 0 17px 0;
    text-align: center;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #fefefe;
    border: 2px dashed #ccc;
    color: #bbb;
    font: bold 14px Helvetica,Arial,sans-serif;
    position: absolute;
    z-index: 3;
    left: 15px
}

.drop.mail_drag_drop.over {
    display: block;
    background-color: #eafcfb;
    border-color: #0a62ad;
    color: #0a62ad
}

div.cover {
    background-color: #000;
    left: 0;
    opacity: .5;
    position: absolute;
    top: 0
}

.search_normal_grn .searchbox-grn {
    display: inline-block
}

.search_normal_grn .searchboxSub-grn {
    margin-left: 3px;
    display: inline-block
}

.new_tab_icon_hide {
    display: none
}

.new_tab_icon_show {
    display: true
}

.summaryCell {
    height: 0;
    padding: 0!important
}

.summary {
    border-left: 5px solid #ccc;
    display: none;
    margin-bottom: 5px
}

.summaryMenu {
    background-color: #eed;
    font-size: 95%;
    width: 100%
}

.summaryText {
    clear: both;
    padding: 5px 5px 3px
}

.dropdown-auto {
    display: none;
    position: absolute;
    background: #eee;
    z-index: 85;
    width: 300px!important
}

.dropdown-auto .default {
    padding: 5px 7px;
    border: 1px solid #ccc;
    border-width: 0 1px 1px;
    font-family: "Lucida Grande",Verdana;
    font-size: 13px
}

.dropdown-auto ul {
    width: 350px!important;
    display: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    position: absolute;
    z-index: 83;
    border: 1px solid #c9c9c9;
    border-width: 0 1px 1px
}

.dropdown-auto ul li {
    padding: 4px 7px;
    z-index: 84;
    cursor: pointer;
    margin: 0;
    list-style-type: none;
    font: 10pt arial,Verdana;
    background-color: #f3f3f3
}

.dropdown-auto ul li.odd {
    background: #fff
}

.dropdown-auto ul li em {
    font-weight: 700;
    font-style: normal;
    background: #ccc
}

.dropdown-auto ul li.auto-focus {
    background: #5eade5;
    color: #fff
}

.dropdown-auto ul li.auto-focus em {
    background: 0 0
}

.hidden {
    display: none
}

.ie6fix {
    height: 1px;
    width: 1px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}

.dropdown-auto strong {
    font-weight: 700;
    color: #000
}

.boxshadow {
    -moz-box-shadow: 0 0 7px #888;
    -webkit-box-shadow: 0 0 7px #888;
    box-shadow: 0 0 7px #888
}

.space-head {
    margin: 5px 0 10px 0
}

.space-command {
    margin-bottom: 15px
}

.mail_content_frame_grn {
    width: 100%;
    overflow: hidden;
    height: 0
}

.moving_message_grn {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    color: #fff;
    background-color: rgba(0,0,0,.8);
    padding: 3px 7px;
    display: inline-block;
    border-radius: 6;
    z-index: 999
}

