.s_user_week div.schedule_expired_todo img,.schedule_expired_todo img,.schedule_todo img {
    margin-right: 2px
}

.schedule-todoIcon-grn {
    margin: 0 2px 0 3px
}

.showtime .temporary {
    position: absolute;
    z-index: 1
}

.event_content.showEventTitle img,.event_content_allday.showEventTitle img,.event_content_banner.showEventTitle img,.group_day_calendar img,.personal_day_event_notime>.event_content_allday img,.personal_month_calendar_cell_inner img,.personal_week_calendar_header img,.showtime img,.top_day_navi img,.v_day_navi img,.v_day_table img,.year_table img {
    vertical-align: -3px
}

.list-action{
    display: flex;
    list-style: none;
    margin-bottom: 0px;
}
.list-action li:first-child{
    padding-left:20px;
}
.list-action li{
    padding: 0 5px;
    font-size: 12px;
    color:#636363;
}
.list-action li a{
    color:#636363;
}
.children-comment{
    padding-left:50px!important;
    margin-top:2px!important;
}
.box-comment{
    padding-left:50px!important;
    margin-top:2px!important;
}
.top_day_navi .menu_arrow_grn,.v_day_navi .menu_arrow_grn {
    vertical-align: 0
}

.scheduleWrapperGroupWeek #event_list img,.scheduleWrapperGroupWeek img {
    vertical-align: -1px
}

.normalEventElement img,.scheduleWrapperGroupWeek #event_list .groupWeekInfo img,.scheduleWrapperGroupWeek #event_list .group_week_calendar_item img {
    vertical-align: -3px
}

.schedule_userbox_item_grn {
    display: block;
    margin-left: 5px
}

.schedule_userbox_presence_grn {
    display: inline-block;
    margin-right: 3px
}

.shortcut_box_short .schedule_userbox_item_grn {
    display: inline-block;
    margin-right: 2px
}

.shortcut_box_facility_grn .schedule_userbox_item_grn {
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 5px
}

.userBox .domain {
    background: url(/img/domain12.png) no-repeat scroll 2px top transparent;
    margin: 7px 2px 3px 5px;
    display: block;
    height: auto
}

.userBox .differ_tz_color {
    background-color: #d6efff;
    padding: 2px 2px 2px 18px;
    border-radius: 3px
}

.timeSelectBase {
    background: none repeat scroll 0 0 #999
}

.timeSelectHour_bg00 {
    background: none repeat scroll 0 0 #f8f8e6
}

.timeSelectHour_bg01 {
    background: none repeat scroll 0 0 #fbe5be
}

.timeSelectHour_bg02 {
    background: none repeat scroll 0 0 #d8e2f5
}

.timeSelectHour_select {
    background: none repeat scroll 0 0 #68c95b
}

.timeSelectHour_selected {
    background: none repeat scroll 0 0 #bde1b9
}

.calendar {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #c9c9c9;
    border-left: 1px solid #c9c9c9;
    border-collapse: collapse
}

.s_banner {
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    padding: 2px;
    vertical-align: middle
}

.s_banner2 {
    border-left: 1px solid #c9c9c9;
    border-top: 1px solid #c9c9c9;
    padding: 2px;
    vertical-align: top
}

.s_banner3 {
    border-right: 1px solid #c9c9c9;
    border-top: 1px solid #c9c9c9;
    padding: 2px;
    vertical-align: top
}

.banner_color {
    border-collapse: collapse
}

.v_day_navi .banner {
    border-top: 1px solid #c9c9c9;
    padding: 1px
}

.banner_color,.s_banner,.s_banner2,.s_banner3,.v_day_navi .banner {
    border-collapse: collapse;
    background: none repeat scroll 0 0 #e0f0d1;
    font-size: 85%;
    line-height: 1.2
}

.br_banner {
    border-collapse: collapse;
    background: none repeat scroll 0 0 #f8fcf9;
    border-right: 1px solid #c9c9c9;
    font-size: 80%;
    padding: 2px
}

.br_banner2 {
    border-collapse: collapse;
    padding: 2px;
    font-size: 80%;
    background: #f8fcf9;
    border-top: 1px solid #c9c9c9;
    border-left: 1px solid #c9c9c9
}

.br_banner3 {
    border-collapse: collapse;
    padding: 2px;
    font-size: 80%;
    background: #f8fcf9;
    border-top: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9
}

.scheduleWrapperGroupWeek .br_banner,.scheduleWrapperGroupWeek .s_banner {
    border: 1px solid #c9c9c9
}

.s_date_saturday_week {
    background: #ebf7ff
}

.s_date_holiday_week,.s_date_sunday_week {
    background: #fff1f2
}

.s_date_friday,.s_date_friday_week,.s_date_monday,.s_date_monday_week,.s_date_thursday,.s_date_thursday_week,.s_date_tuesday,.s_date_tuesday_week,.s_date_wednesday,.s_date_wednesday_week,.s_date_workday,.s_date_workday_week {
    background: #fff
}

.s_date_friday_week,.s_date_holiday_week,.s_date_monday_week,.s_date_saturday_week,.s_date_sunday_week,.s_date_thursday_week,.s_date_tuesday_week,.s_date_wednesday_week,.s_date_workday_week {
    border-right: 1px solid #c9c9c9;
    border-top: 1px solid #c9c9c9;
    font-size: 80%;
    line-height: 1.1;
    padding: 4px 2px
}

.m {
    background: none repeat scroll 0 0 #fafaed
}

.e {
    background: none repeat scroll 0 0 #fcebce
}

.a {
    background: none repeat scroll 0 0 #e7eff9
}

.a,.e,.m {
    color: #444;
    text-shadow: 0 1px #fff
}

.n {
    background: #68c95b
}

.critical,.critical1 {
    background: none repeat scroll 0 0 #fcfad5;
    border: 1px solid #a6a6a6;
    border-collapse: collapse;
    position: absolute;
    z-index: 1;
    line-height: 1.1
}

.critical2 {
    background: none repeat scroll 0 0 #fef1d1;
    border: 1px solid #888;
    border-collapse: collapse;
    position: absolute;
    z-index: 1;
    line-height: 1.1
}

.critical3 {
    background: none repeat scroll 0 0 #fcfad5;
    border: 1px solid #a6a6a6;
    border-collapse: collapse;
    border-radius: 0!important;
    z-index: 1;
    margin-left: -1px;
    margin-top: -1px;
    line-height: 1
}

.personal_day_event_list .critical3 {
    position: absolute
}

#display_day_open {
    margin-bottom: 15px
}

.listTime {
    line-height: 1.2;
    white-space: nowrap
}

.groupWeekEventTitle,.personalMonthEventTitle,.share_event_base_grn .group_day_event_title_grn {
    margin-left: 7px;
    line-height: 1.2
}

.groupWeekEventTitleAllday,.personalMonthEventTitleAllday,.personalWeekEventTitleAllday,.share_event_base_grn .group_day_event_title_allday_grn {
    margin-left: 0;
    padding-left: 7px;
    line-height: 1.2;
    background-image: url(/img/allday.gif);
    background-repeat: no-repeat;
    background-position: -4px 0
}

.hideEventTitle .normalEvent div .groupWeekEventTitleAllday,.hideEventTitle .normalEvent div .personalMonthEventTitleAllday {
    margin-left: 0;
    padding-left: 7px;
    line-height: 1.2;
    background-image: url(/img/allday.gif);
    background-position: -4px 0;
    background-repeat: no-repeat;
    white-space: nowrap
}

.hideEventTitle .normalEvent div {
    white-space: nowrap
}

.iconWrite-grn {
    background-image: url(/img/write20.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 16px;
    width: 16px;
    display: inline-block
}

.group_day_calendar_item .addEvent .iconWrite-grn {
    position: relative;
    top: 2px
}

.addEvent {
    line-height: 1;
    margin-bottom: 8px;
    display: inline-block
}

.addEvent a {
    height: 22px;
    width: 22px;
    margin-top: 1px;
    margin-left: 1px;
    border: 1px solid transparent;
    padding-top: 2px;
    padding-left: 2px;
    display: inline-block;
}

.group_day_calendar_item .addEvent {
    margin-bottom: 0
}

.group_day_calendar_item .addEvent a {
    height: 20px;
    margin: 0;
    padding: 0;
    width: 20px
}

.groupWeekInfo {
    margin-bottom: 0
}

.groupWeekInfo div,.personalMonthInfo div {
    margin: 0 0 3px 3px;
    color: #666
}

.groupWeekInfo div,.group_day_calendar_event_item,.personalMonthInfo div,.personal_day_calendar_event_text,.personal_week_calendar_event_item {
    font-size: 85%;
    padding: 0
}

.normalEventElement {
    margin: 0 0 8px 2px
}

.groupWeekInfo div.normalEventElement,.personalMonthInfo div.normalEventElement {
    margin-bottom: 8px
}

.event_content_banner .normalEventElement,.s_banner .normalEventElement {
    margin-bottom: 0
}

.s_banner3 .event_content_banner {
    padding-bottom: 1px
}

.normalEventElement .share_temporary a:link,.normalEventElement .share_temporary a:visited,.normalEventElement .temporary a:link,.normalEventElement .temporary a:visited {
    color: #30968f
}

.normalEventElement .share_temporary a:hover,.normalEventElement .temporary a:hover {
    color: #c30
}

.share_temporary a:link,.share_temporary a:visited,.temporary a:link,.temporary a:visited {
    color: #30968f
}

.share_temporary a:hover,.temporary a:hover {
    color: #c30
}

.showEventTitle,.showNoTimeEventTitle,.tooltipEvent {
    background-color: #edf4fb;
    border: 1px solid #719bb8;
    padding: 5px
}

.showEventTitle img,.showNoTimeEventTitle img,.tooltipEvent img {
    vertical-align: -3px
}

.tooltipEvent {
    display: block;
    max-width: 300px;
    overflow: hidden;
    line-height: 1.2
}

.schedule_expired_todo,.schedule_todo {
    font-size: 90%;
    line-height: 1.2
}

.showTimeSpanTitle {
    background-color: #edf4fb;
    border: 1px solid #719bb8;
    padding: 2px 5px;
    display: block;
    white-space: nowrap
}

.global_naviAppTitle-grn {
    margin: 0 5px 0 3px;
    display: inline-block
}

.global_naviAppTitle-grn img {
    vertical-align: -4px
}

.global_navi-viewChange-grn {
    display: inline-block;
    margin: 2px 1px
}

.global_navi-viewChange-grn ul {
    display: inline;
    margin: 0;
    padding: 0
}

.global_navi-viewChange-grn li {
    margin: 0;
    padding: 0;
    display: inline;
    text-align: left;
    list-style: none;
    line-height: 150%
}

.global_naviBack-viewChangeSelect-grn span,.global_naviBackTab-viewChange-grn,.global_naviBackTab-viewChange-grn:link,.global_naviBackTab-viewChange-grn:visited {
    height: auto;
    line-height: 1;
    padding: 8px 24px;
    display: inline-block;
    border: 1px solid #c9c9c9;
    color: #666;
    text-decoration: none;
    text-align: center
}

.global_naviBackTab-viewChange-grn,.global_naviBackTab-viewChange-grn:link,.global_naviBackTab-viewChange-grn:visited {
    background-color: #fff;
    font-weight: 400
}

.global_naviBackTab-viewChange-grn:hover {
    background: #cce4f1
}

.viewChangeLeft-grn,.viewChangeLeftSelect-grn span,.viewChangeRight-grn,.viewChangeRight-grn span,.viewChangeRight-grn:link,.viewChangeRight-grn:visited,.viewChangeRightSelect-grn span {
    border-radius: 0
}

.viewChangeRight-grn,.viewChangeRight-grn span,.viewChangeRight-grn:link,.viewChangeRight-grn:visited,.viewChangeRightSelect-grn span {
    border-right: 1px solid #c9c9c9
}

.global_naviBack-viewChangeSelect-grn span {
    background: #0e74dd;
    box-shadow: none;
    color: #fff;
    font-weight: 400;
    border: 1px solid #0e74dd
}

.mainareaSchedule-grn #menu_part {
    margin: 2px 0 5px;
    padding: 2px 0
}

.mainareaSchedule-grn .fullmenu_grn #main_menu_part {
    border-top: 0;
    border-bottom: 0;
    box-shadow: none;
    padding: 6px 0 0
}

.mainareaSchedule-grn #main_menu_part {
    margin: 0 0 5px;
    padding: 0 0 7px
}

.viewSubCalendar-grn {
    vertical-align: -4px
}

.subCalendar-grn {
    background-image: url(/img/calendarB16.png);
    height: 20px;
    width: 20px;
    background-position: 2px 2px;
    background-repeat: no-repeat;
    display: inline-block
}

#schedule_calendar {
    margin-bottom: 7px
}

.day_week_calendar_navi_grn #schedule_calendar {
    margin-top: 7px
}

.showIconOff-grn {
    cursor: pointer;
    height: 20px;
    width: 20px;
    display: inline-block;
    white-space: normal
}

.showIconOn-grn {
    background-image: url(/img/image-common/bg_activeIcon20.png);
    background-repeat: no-repeat;
    cursor: pointer;
    height: 20px;
    width: 20px;
    display: inline-block;
    white-space: normal
}

.showicon_spinner_grn {
    margin: 2px
}

.scheduleDisplayOptionsLink-grn {
    display: inline-block;
    vertical-align: middle
}

.schedule_display_options {
    font-size: 12px;
    white-space: nowrap;
    padding: 2px;
    position: relative;
    display: inline-block;
    z-index: 90
}

.group_day_calendar_portal_frame .selectPulldownSub-grn {
    margin-left: 0
}

.groupDayPortletUpper-grn,.groupWeekPortletUpper-grn,.personalMonthUpper-grn {
    background: #fff;
    border-left: 0 none;
    border-right: 0 none;
    padding: 4px
}

.groupDayPortletUpper-grn .top_day_navi,.groupWeekPortletUpper-grn .top_day_navi,.personalMonthPortletUpper-grn .top_day_navi {
    border: 0
}

.groupDayPortletUnder-grn,.groupWeekPortletUnder-grn {
    border-left: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    padding: 4px
}

.profileImageBaseSchedule-grn {
    margin-top: 3px;
    margin-left: 3px;
    line-height: 1.2;
    font-size: 90%
}

.profileImageBaseSchedule-grn dd>a {
    position: relative;
    top: 2px
}

#event_list td.userBox .profileImage-grn img,.portlet_group_day td.userBox .profileImage-grn img,td.calendar_rb_week .profileImage-grn img {
    margin-top: -1px
}

.event_share_number_grn,.menuNum-grn {
    border-radius: 2px;
    color: #fff;
    font-size: 90%;
    font-weight: 700;
    display: inline-block;
    line-height: 1;
    margin-left: 2px;
    padding: 2px 3px 1px
}

.menuNum-grn {
    background-color: #919191
}

.event_share_number_grn {
    background-color: #a6a6a6
}

.display_report_detail_schedule {
    cursor: pointer
}

.menuReportBase-grn {
    margin-top: 7px;
    margin-bottom: 5px
}

.menuReport-grn {
    margin-bottom: 5px
}

.groupDayCalendarDate-grn {
    margin-bottom: 3px
}

.menuCalendar-grn {
    float: right;
    white-space: nowrap
}

.mainMenuGroup-grn {
    float: left;
    white-space: nowrap;
    line-height: 1.4;
    padding-bottom: 3px
}

.detail_title_grn #event_list {
    margin: 10px 0 10px 7px
}

.title_mark_schedule_grn {
    background-image: url(/img/mark_schedule_b20.png);
    height: 20px;
    width: 20px;
    margin-right: 7px;
    margin-left: 5px;
    position: relative;
    top: 3px;
    display: inline-block
}

.schedule_member_base_grn {
    width: 90%
}

.viewTable-grn .schedule_member_base_grn {
    min-height: 20px
}

.candidacy_date_grn .schedule_text_noticeable_grn {
    font-size: 110%
}

.candidacy_date_grn .buttonStandard-grn {
    position: relative;
    top: -3px
}

.viewTable-grn {
    border: 0 none;
    border-collapse: collapse;
    margin-bottom: 7px;
    width: 100%
}

.viewTable-grn th {
    border: 1px solid #dbdbdb;
    border-left-width: 0;
    color: #666;
    font-weight: 400;
    padding: 10px;
    vertical-align: top;
    text-align: left;
    width: 1%;
    white-space: nowrap
}

.viewTable-grn td {
    padding: 10px;
    border-color: #dbdbdb;
    border-style: solid;
    border-width: 1px 0;
    text-align: left
}

.viewTable-grn img,.viewTableSubInfo-grn img {
    vertical-align: -4px
}

.viewTable-grn table.netmeeting {
    border: 1px solid #c9c9c9;
    border-collapse: collapse;
    margin: 3px;
    width: 100%
}

.viewTable-grn table.netmeeting th {
    background: none repeat scroll 0 0 #eee;
    border: 1px solid #dbdbdb;
    padding: 5px;
    width: 20%
}

.viewTable-grn table.netmeeting td {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #dbdbdb;
    padding: 5px;
    width: 20%
}

.viewTableSubInfo-grn {
    margin-bottom: 10px;
    color: #666;
    margin-left: 10px;
    font-size: 85%
}

.showAllUser-grn {
    white-space: nowrap
}

.schedule_text_noticeable_grn {
    font-size: 120%
}

.viewTableCommentArea-grn {
    padding: 0 10px;
    margin-top: 20px
}

.viewTablePrint-grn {
    border: 0 none;
    border-collapse: collapse;
    margin-bottom: 7px;
    font-size: 100%;
    width: 100%
}

.viewTablePrint-grn table {
    border-color: #b6b6b6
}

.viewTablePrint-grn th {
    border-color: #b6b6b6;
    border-style: solid;
    border-width: 1px 0;
    color: #666;
    font-size: 85%;
    font-weight: 700;
    padding: 10px;
    text-align: left;
    width: 100px
}

.viewTablePrint-grn td {
    padding: 10px;
    border-color: #b6b6b6;
    border-style: solid;
    border-width: 1px 0;
    background-color: #fff;
    text-align: left
}

.event_status_absence_grn,.event_status_attendance_grn,.facility_status_approval_grn {
    font-weight: 700
}

.event_status_unanswered_grn,.facility_status_unanswered_grn {
    color: #666;
    font-weight: 700
}

.update_info_grn .icon_unread_mark_grn {
    vertical-align: middle;
    position: relative;
    top: -2px
}

.view_table_print_sub_grn td,.view_table_print_sub_grn th {
    border-width: 0;
    padding: 0 0 7px;
    vertical-align: top
}

.view_table_print_sub_grn th {
    width: 1px;
    white-space: nowrap
}

.schedule_member_base_print_grn span {
    display: inline-block;
    margin-right: 7px;
    white-space: nowrap
}

.dropdown_user_item {
    line-height: 1.2;
    padding: 4px
}

.wrap_dropdown_menu {
    height: 28px!important
}

.wrap_tree2 table td {
    padding: 0!important;
    line-height: 1.2
}

.wrap_tree2 table td span {
    display: inline-block;
    padding: 4px 0
}

.calendarHover-grn,td.personal_calendar_cell_on {
    background: #f4f8fd!important
}

.dialog {
    line-height: 1
}

.simpleAddBase-grn {
    background-color: #fff;
    border: 1px solid #c9c9c9;
    padding: 5px 5px 3px 5px;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    border-radius: 5px
}

.simpleAddBaseFirst-grn {
    height: 268px
}

.simpleAddBaseFirstFacility-grn {
    height: 296px!important
}

@-moz-document url-prefix() {
    .simpleAddBase-grn a:focus,.simpleAddBase-grn input[type=radio]:focus {
        outline: #0a62ad dotted 1px
    }
}

.simpleAddTriangle-grn {
    position: relative
}

.simpleAddTriangleTop-grn {
    background-image: url(/img/image-common/simpleAddTriangleTop.png);
    background-repeat: no-repeat;
    height: 20px;
    width: 24px;
    z-index: 999;
    position: absolute;
    margin-top: -19px;
    margin-left: -12px;
    left: 200px
}

.simpleAddTriangleBottom-grn {
    background-image: url(/img/image-common/simpleAddTriangleBottom.png);
    background-repeat: no-repeat;
    height: 20px;
    width: 24px;
    z-index: 999;
    position: absolute;
    margin-top: -4px;
    margin-left: -12px;
    left: 200px
}

.simpleAddTable-grn {
    border: 0 none;
    border-collapse: collapse;
    width: 451px
}

.simpleAddTable-grn th {
    font-size: 85%;
    font-weight: 700;
    color: #666;
    vertical-align: top;
    text-align: right;
    white-space: nowrap;
    padding: 4px 10px 10px 10px
}

.simpleAddTable-grn td {
    padding-bottom: 10px;
    padding-right: 10px;
    line-height: 1.1
}

.simpleAddTable-grn td.header-grn {
    padding: 0 0 3px 0;
    cursor: move
}

.simpleAddClose-grn {
    background-image: url(/img/image-common/close_sub16.png);
    background-repeat: no-repeat;
    height: 25px;
    width: 40px;
    cursor: pointer;
    background-position: 20px 5px;
    background-attachment: scroll;
    float: right;
    position: relative;
    top: -4px
}

.simpleAddTable-grn td.header-grn .date-grn {
    margin-top: 3px;
    width: 90%;
    text-align: center
}

.simpleAddBase-grn .event_add_base_grn .fleft {
    float: none;
    display: inline-block;
    vertical-align: middle
}

.simpleAddTitle-grn {
    width: 240px
}

.simpleAddMemo-grn {
    width: 310px;
    height: 60px
}

.simpleAddTable-grn .event_add_base_grn input {
    width: 281px
}

.simpleAddTable-grn #textarea_id {
    height: 60px;
    width: 330px
}

.simpleAddTable-grn .checkbox_base_grn,.simpleAddTable-grn .radiobutton_base_grn {
    margin-bottom: 0
}

.date-grn {
    color: #666;
    font-size: 85%;
    font-weight: 700;
    float: left
}

.simpleAddEventAttentionMessage-grn {
    margin-top: 5px;
    font-size: 85%
}

.simpleAddEventPrivateSet-grn {
    margin-top: 5px;
    font-size: 85%
}

.simpleAddEventUser-grn span {
    display: inline-block;
    margin-bottom: 3px
}

.simple_add_item_separator_grn {
    margin: 0 7px
}

.simpleAddTable-grn .item_message_grn {
    margin-top: 3px;
    padding: 7px 7px 5px;
    border: 1px dashed #b6b6b6
}

.event_color1_grn,.event_menu_color1_grn {
    background-color: #3182dc
}

.event_color2_grn,.event_menu_color2_grn {
    background-color: #57b3ed
}

.event_color3_grn,.event_menu_color3_grn {
    background-color: #ef9201
}

.event_color4_grn,.event_menu_color4_grn {
    background-color: #f44848
}

.event_color5_grn,.event_menu_color5_grn {
    background-color: #f194a7
}

.event_color6_grn,.event_menu_color6_grn {
    background-color: #b592d8
}

.event_color7_grn,.event_menu_color7_grn {
    background-color: #b99976
}

.event_color8_grn,.event_menu_color8_grn {
    background-color: #999
}

.list_column .event_color_base_grn {
    white-space: nowrap
}

.event_menu_color1_grn,.event_menu_color2_grn,.event_menu_color3_grn,.event_menu_color4_grn,.event_menu_color5_grn,.event_menu_color6_grn,.event_menu_color7_grn,.event_menu_color8_grn,.event_menu_color_none_grn {
    display: inline-block;
    font-size: 0;
    height: 12px;
    width: 12px
}

.event_menu_color_none_grn {
    background-image: url(/img/image-common/event_menu_color_none.png);
    background-repeat: no-repeat
}

.event_color1_grn,.event_color2_grn,.event_color3_grn,.event_color4_grn,.event_color5_grn,.event_color6_grn,.event_color7_grn,.event_color8_grn {
    display: inline-block;
    margin-right: 3px;
    padding: 2px 2px 1px;
    white-space: normal;
    color: #fff;
    font-size: 85%;
    border-radius: 2px;
    line-height: 1.1
}

.personal_week_calendar_event_cell .event_color1_grn,.personal_week_calendar_event_cell .event_color2_grn,.personal_week_calendar_event_cell .event_color3_grn,.personal_week_calendar_event_cell .event_color4_grn,.personal_week_calendar_event_cell .event_color5_grn,.personal_week_calendar_event_cell .event_color6_grn,.personal_week_calendar_event_cell .event_color7_grn,.personal_week_calendar_event_cell .event_color8_grn,.showtime .event_color1_grn,.showtime .event_color2_grn,.showtime .event_color3_grn,.showtime .event_color4_grn,.showtime .event_color5_grn,.showtime .event_color6_grn,.showtime .event_color7_grn,.showtime .event_color8_grn {
    padding: 1px 2px 0 2px;
    font-size: 95%
}

.group_day_calendar .event_color1_grn,.group_day_calendar .event_color2_grn,.group_day_calendar .event_color3_grn,.group_day_calendar .event_color4_grn,.group_day_calendar .event_color5_grn,.group_day_calendar .event_color6_grn,.group_day_calendar .event_color7_grn,.group_day_calendar .event_color8_grn {
    padding: 1px 2px 0 2px;
    font-size: 85%
}

.detail_title_grn .event_color1_grn,.detail_title_grn .event_color2_grn,.detail_title_grn .event_color3_grn,.detail_title_grn .event_color4_grn,.detail_title_grn .event_color5_grn,.detail_title_grn .event_color6_grn,.detail_title_grn .event_color7_grn,.detail_title_grn .event_color8_grn {
    margin-right: 5px;
    position: relative;
    top: -1px
}

.event_add_base_grn input {
    margin-left: 4px;
    width: 542px
}

.event_add_base_grn input,.event_add_base_grn span {
    vertical-align: middle
}

.event_menu_grn {
    margin: 0;
    padding: 0;
    display: inline-block
}

.portlet_groupday_navi_grn,.portlet_groupweek_navi_grn {
    border-bottom: 1px solid #c9c9c9;
    padding: 5px;
    line-height: 1
}

.table_list_1_grn {
    width: 100%
}

.table_list_1_grn th {
    padding: 4px 5px;
    background-color: #ebebeb;
    border-right: 1px solid #fff;
    font-size: 85%;
    color: #666;
    line-height: 1.2;
    vertical-align: middle;
    text-align: left
}

.table_list_1_grn td {
    padding: 5px;
    vertical-align: top
}

.border-partition-common-dot-grn {
    margin: 10px 0;
    border-top: 1px dashed #d3d3d3;
    font-size: 0;
    line-height: 0;
    height: 0
}

.unanswered_icon_base_grn {
    margin-right: 1px
}

.attention_icon_grn {
    background: url(/img/image-common/attention16.png) no-repeat left center;
    display: inline-block;
    width: 16px;
    height: 16px
}

.mainareaSchedule-grn .reaction_info_area_grn .buttonPostMain-grn a:link,.mainareaSchedule-grn .reaction_info_area_grn a.button_min_width1_grn {
    min-width: 80px
}

.std_form .form_table_relation_grn th {
    background: 0 0;
    border: none;
    white-space: nowrap;
    vertical-align: top;
    color: #666
}

.form_table_relation_grn td {
    border: none
}

.form_table_relation_grn td,.form_table_relation_grn th {
    padding: 5px 3px
}

.form_table_relation_grn td.label_separator_grn {
    color: #666;
    vertical-align: top
}

.viewTable-grn .view_table_relation_grn th {
    background: 0 0;
    border: none;
    white-space: nowrap;
    vertical-align: top
}

.view_table_relation_grn td {
    border: none;
    word-wrap: break-word
}

.view_table_relation_grn td,.view_table_relation_grn th {
    padding: 5px 3px
}

.view_table_relation_grn td.label_separator_grn {
    color: #666;
    vertical-align: top
}

.group_day_calendar {
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    background-color: #fff;
    border-right: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9
}

.group_day_calendar_timebar1 {
    border-top: 1px solid #c9c9c9;
    border-bottom: hidden;
    border-right: 1px solid #c9c9c9;
    padding-top: 5px;
    width: 15%;
    white-space: nowrap;
    line-height: 1.1
}

.group_day_calendar_timebar2 {
    border-top: 1px solid #c9c9c9;
    border-bottom: hidden;
    border-right: 1px solid #c9c9c9;
    width: 10%;
    line-height: 1.1
}

.group_day_calendar_timebar_sec1 {
    border-bottom: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    padding-top: 2px;
    font-size: 1px;
    line-height: 1%
}

.group_day_calendar_timebar_sec2 {
    border-bottom: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    padding: 2px;
    font-size: 1px;
    line-height: 1%
}

.group_day_calendar_user {
    border-right: 1px solid #c9c9c9;
    padding: 2px;
    background: #fff;
    height: 100%;
    line-height: 1.4;
    vertical-align: top
}

.group_day_calendar_presence {
    font-size: 80%;
    margin-left: 3px
}

.group_day_calendar_event_cell {
    padding: 5px 2px 2px 2px;
    background: #fff;
    vertical-align: top;
    min-width: 50px
}

.group_day_calendar_item {
    border-collapse: collapse;
    border-left: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    height: 3em;
    text-align: center;
    border-right:1px solid #c9c9c9;
}

.group_day_calendar_item_conflicted {
    border-collapse: collapse;
    border-left: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9
}

.group_day_calendar_color_available {
    background: #fff
}

.group_day_calendar_color_offtime {
    background: #ebebeb
}

.group_day_calendar_color_booked {
    background: #fcfad5;
    border: 1px solid #a6a6a6;
    text-align: left
}

.group_day_calendar_color_conflicted_line {
    background: #fafafa
}

.group_day_calendar_conflict_head1 {
    border-top: hidden;
    border-right: 1px solid #c9c9c9;
    padding: 2px;
    width: 15%
}

.group_day_calendar_conflict_head2 {
    border-top: hidden;
    border-right: 1px solid #c9c9c9;
    padding: 2px;
    width: 10%
}

.group_day_calendar_banner_head1 {
    border-top: hidden;
    border-right: 1px solid #c9c9c9;
    padding: 2px
}

.group_day_calendar_banner_head2 {
    border-top: hidden;
    border-right: 1px solid #c9c9c9;
    padding: 2px
}

.group_day_calendar_banner_item {
    border-bottom: 1px solid #c9c9c9;
    border-left: 1px solid #c9c9c9
}

.group_day_calendar_pager {
    border-collapse: collapse;
    border-right: 1px solid #c9c9c9;
    border-left: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    border-top: 1px solid #fff
}

.group_day_calendar_portal_frame {
    border-collapse: collapse;
    padding: 4px;
    width: 100%
}

#display_day_open .day_table .group_day_calendar,.scheduleWrapperTimezoneBar .normalEventElement {
    line-height: 1.2
}

.top_day_navi {
    width: 100%;
    background: #fff;
    border-collapse: collapse;
    border-left: 0 none;
    border-right: 0 none;
    padding: 3px
}

.top_parts .day_table {
    border-collapse: collapse;
    border-left: 0 none;
    border-right: 0 none;
    border-bottom: 1px solid #c9c9c9;
    background: #fff;
    margin-bottom: 0
}

.day_table_time .m,.day_table_time_login .m {
    border-collapse: collapse;
    border-left: 1px solid #a6a6a6;
    border-bottom: 1px solid #a6a6a6
}

.day_table_time .e,.day_table_time_login .e {
    border-collapse: collapse;
    border-left: 1px solid #a6a6a6;
    border-bottom: 1px solid #a6a6a6
}

.day_table_time .a,.day_table_time_login .a {
    border-collapse: collapse;
    border-left: 1px solid #a6a6a6;
    border-bottom: 1px solid #a6a6a6
}

.day_table_time .n,.day_table_time_login .n {
    border-collapse: collapse;
    border-left: 1px solid #a6a6a6;
    border-bottom: 1px solid #a6a6a6
}

.day_table_time_login .a,.day_table_time_login .e,.day_table_time_login .m,.day_table_time_login .n {
    font-size: 85%;
    line-height: 1.1;
    padding: 0 2px
}

table.day_table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    border-left: 1px solid #c9c9c9;
    margin-bottom: 1px;
    clear: both
}

.group_day_calendar_portal_frame td {
    padding: 3px
}

.group_day_calendar_timebar_space {
    font-size: 1px;
    line-height: 1%
}

.group_week_calendar {
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
    border-right: 1px solid #c9c9c9
}

.group_week_calendar_column_first {
    width: 15%
}

.group_week_calendar_column_common {
    width: 11%
}

.group_week_calendar_todo {
    font-size: 90%;
    padding: 2px
}

.group_day_calendar_event_cell .group_day_calendar_item_grn,.group_week_calendar_item,.personalMonth_calendar_item {
    margin: 0 1px 12px 3px;
    font-size: 90%
}

.view_sh .group_week_calendar_item,.view_sh .personalMonth_calendar_item {
    font-size: 100%;
    margin: 0 0 2px 1px
}

.group_week_calendar_item_event {
    font-size: 90%;
    padding: 2px
}

.group_week_calendar_presence {
    font-size: 80%;
    margin-left: 3px
}

.calendar_rb_week {
    padding-left: 2px;
    border-right: 1px solid #c9c9c9;
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    line-height: 1.4
}

#event_list td.calendar_rb_week img,#event_list td.userBox img,.portlet_group_day td.userBox img,td.calendar_rb_week img {
    margin-top: 4px;
    vertical-align: -5px
}

.calendar_user_facility_list_base_grn {
    margin: 5px 0 0
}

.calendar_user_facility_list_base_grn td {
    line-height: 1.2
}

.calendar_user_facility_list_grn>ul {
    margin: 0;
    padding: 0;
    line-height: 1.2
}

ul.listitem_delete_grn>li {
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;
    margin: 0 10px 7px 0
}

.user_facility_listitem_grn {
    display: inline-block;
    white-space: nowrap;
    border-radius: 0;
    padding: 5px 3px 5px 5px;
    line-height: 1.2;
    font-size: 90%
}

ul.listitem_delete_grn li a.closebutton {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(/img/deleteSmallBlock-normal.png) no-repeat;
    background-position: center;
    margin-left: 5px
}

ul.listitem_delete_grn li a.closebutton:hover {
    background: url(/img/deleteSmallBlock-hover.png) no-repeat;
    background-position: center
}

.listitem_delete_grn li a,.listitem_delete_grn li input {
    vertical-align: middle
}

.view_item_checkbox {
    margin-right: 6px
}

.calendar_user_facility_list_grn .searchbox-keyword-schedule {
    float: none;
    position: static
}

.calendar_user_facility_list_grn .input-text-schedule {
    width: 135px;
    padding-right: 0
}

.calendar_user_facility_list_grn .action_base_grn span {
    position: relative;
    top: -1px
}

.calendar_user_facility_list_grn .pulldown_menu_grn li {
    display: block
}

.user_facility_listitem_sub_grn>.aButtonStandard-grn {
    display: inline-block;
    margin: 0 7px 0 0
}

.event_block_color_login_user_grn {
    border: 1px solid #b3ad91;
    background: #fcfad5
}

.event_block_color1_grn {
    border: 1px solid #92bbeb;
    background-color: #e0ecfa
}

.event_block_color2_grn {
    border: 1px solid #ddbe8e;
    background-color: #fbe7c5
}

.event_block_color3_grn {
    border: 1px solid #c4a8e0;
    background-color: #e1d3ef
}

.event_block_color4_grn {
    border: 1px solid #cfb9a2;
    background-color: #e9e0d5
}

.event_block_color5_grn {
    border: 1px solid #f5b2bf;
    background-color: #fbe4e8
}

.event_block_color6_grn {
    border: 1px solid #5ab5cb;
    background-color: #bfe2eb
}

.event_block_color7_grn {
    border: 1px solid #bfbe58;
    background-color: #eced9c
}

.event_block_color8_grn {
    border: 1px solid #66d094;
    background-color: #ccefdb
}

.event_block_color9_grn {
    border: 1px solid #7299e8;
    background-color: #c4d4f5
}

.event_block_color10_grn {
    border: 1px solid #c9c929;
    background-color: #ff9
}

.event_block_color11_grn {
    border: 1px solid #66d0f7;
    background-color: #a6f1fc
}

.event_block_color12_grn {
    border: 1px solid #d28e47;
    background-color: #f8d0a6
}

.event_block_color13_grn {
    border: 1px solid #b592d8;
    background-color: #debcff
}

.event_block_color14_grn {
    border: 1px solid #ae9478;
    background-color: #dacfb8
}

.event_block_color15_grn {
    border: 1px solid #e27979;
    background-color: #ffbfbf
}

.event_block_color16_grn {
    border: 1px solid #48adc5;
    background-color: #9bd2df
}

.event_block_color17_grn {
    border: 1px solid #e8ae01;
    background-color: #ffd966
}

.event_block_color18_grn {
    border: 1px solid #08b855;
    background-color: #a6e3c1
}

.event_block_color19_grn {
    border: 1px solid #f3a4b4;
    background-color: #f8c8e4
}

.event_block_color_share_grn {
    border: 1px solid #b6b6b6;
    background-color: #eee
}

.s_banner3 .normalEventElement {
    display: inline-block;
    margin-left: -2px;
    padding: 2px
}

.tooltip_target_grn {
    display: block;
    word-wrap: break-word;
    margin-bottom: 4px;
    max-width: 300px
}

.day_bottom_parts_grn,.week_bottom_parts_grn {
    text-align: right;
    margin: 10px 0 20px 0
}

.personal_day_calendar_event_cell {
    width: 100%;
    padding: 0;
    border-collapse: collapse;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: #fff
}

.personal_day_calendar_event_head {
    width: 22px;
    border-left: 1px solid #ccc;
    background: #fff;
    white-space: nowrap
}

.personal_day_calendar_event_item {
    border-left: 1px solid #ccc;
    padding: 4px
}

.personal_day_calendar_banner_cell {
    width: 100%;
    border-left: 1px solid #ccc;
    padding: 0;
    border-collapse: collapse
}

.personal_day_calendar_banner_head {
    border-left: 1px solid #ccc;
    background: #fff;
    white-space: nowrap
}

.personal_day_calendar_banner_item {
    border-left: 1px solid #ccc;
    padding: 4px;
    border-top: 1px solid #ccc
}

.personal_day_calendar_banner_text {
    overflow: hidden
}

.personal_day_calendar_base {
    display: block;
    position: relative;
    border-top: 1px solid #ccc
}

.personal_day_calendar_list {
    margin-left: 26px;
    display: block;
    position: relative
}

.personal_calendar_list {
    margin-left: 26px;
    display: block;
    position: relative;
    background-color: #fff
}

.personal_day_calendar_list_inner {
    margin-left: 25px;
    margin-right: 30px
}

.personal_calendar_time_sheet {
    position: absolute;
    top: 1px;
    left: 0;
    z-index: 1;
    margin: -1px 0 0
}

.personal_day_calendar_sheet {
    position: absolute;
    padding: 0;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc
}

.personal_day_event_list {
    border: none;
    position: absolute
}

.personal_day_calendar_time_row {
    height: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid #e3e3e3;
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #ccc
}

.personal_day_calendar_time_row.lastRow {
    border-bottom: 1px solid #ccc
}

.personal_day_calendar_time_row_alt {
    height: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-bottom: 1px dashed #e3e3e3
}

.personal_day_calendar_time_row_alt.lastRow {
    height: 20px;
    box-sizing: border-box;
    border-top: 1px dashed #ebe6e8;
    border-bottom: 1px solid #ccc
}

.personal_day_calendar_time_row_alt.duplicate {
    margin-top: -21px;
    border-bottom: none
}

.personal_day_calendar_time_cell {
    padding-top: 2px;
    width: 26px;
    height: 40px;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-top: 0
}

.personal_day_calendar_data_cell {
    height: 20px;
    padding: 0;
    border-collapse: collapse;
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #fff
}

.event_content {
    padding: 1px 0 0 2px;
    display: inline-block;
    height: 100%;
    overflow: hidden;
    word-break: break-all;
    line-height: 1
}

.cotainerTooltip,.tooltipEventContainer {
    position: absolute;
    z-index: 99
}

.event_content.showEventTitle {
    padding: 2px 5px
}

.event_content_allday,.event_content_banner {
    margin-top: -1px;
    padding: 2px;
    line-height: 1
}

.event_content_allday:first-child {
    margin-top: 0
}

.v_day_border01 {
    border-bottom: 0 none
}

.v_day_navi {
    background: none repeat scroll 0 0 #fff;
    border-collapse: collapse;
    margin-top: 8px;
    padding: 3px;
    width: 100%
}

.v_day_navi .allday {
    border-top: 1px solid #c9c9c9;
    font-size: 90%;
    padding: 2px
}

.v_day_table {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #c9c9c9;
    padding: 0;
    width: 100%
}

.v_day_table .day_value {
    padding-left: 5px
}

.v_day .v_day_column {
    background: none repeat scroll 0 0 #fcfad5;
    border: 1px solid #a6a6a6;
    padding-left: 1px;
    position: absolute;
    vertical-align: top;
    border-collapse: collapse
}

.personal_day_calendar_banner_cell .banner_color {
    border-top: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    border-left: 1px solid #c9c9c9;
    border-collapse: collapse
}

.personalDayUpper-grn {
    width: 100%;
    white-space: nowrap
}

.event_first_row {
    margin-top: -1px;
    padding-bottom: 1px
}

.personal_day_portlet_hour {
    width: 5%;
    border-bottom: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    text-align: center;
    cursor: pointer
}

.personal_day_portlet_item_text {
    padding: 0;
    border-collapse: collapse;
    vertical-align: top;
    border-bottom: 0 solid #fff
}

.v_day_navi td {
    padding: 0 7px 3px 7px
}

.v_day_navi .allday {
    padding: 7px 7px 5px 7px
}

.view_personal_day_calendar_events {
    margin-bottom: 3px;
    font-size: 12px
}

.personalDayPortletUpper-grn {
    border-left: 0 none;
    border-right: 0 none
}

.personal_week_calendar_footer_grn,.personal_week_calendar_header {
    margin-left: 24px;
    display: block;
    position: relative;
    border-left: 1px solid #ccc
}

.personal_week_calendar_before_date_cell {
    width: 22px;
    border-right: 1px solid #ccc
}

.personal_week_calendar_base {
    display: block;
    position: relative;
    border-top: 1px solid #ccc
}

.personal_week_calendar_base_header {
    display: block;
    position: relative;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc
}

.personal_week_calendar_base_footer_grn {
    display: block;
    position: relative;
    background-color: #fff;
    border-top: 0;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc
}

.personal_week_calendar_footer_grn .personal_week_calendar_date_cell {
    vertical-align: top;
    text-align: left
}

.personal_day_calendar_footer_grn .label_grn,.personal_week_calendar_footer_grn .label_grn {
    display: block;
    margin: 2px 0 3px;
    font-size: 85%;
    white-space: nowrap;
    overflow: hidden
}

.personal_week_list_event,.personal_week_list_event_notime {
    width: 100%;
    table-layout: fixed
}

.personal_week_event_notime {
    overflow: hidden;
    min-height: 23px
}

.personal_week_calendar_event_header {
    width: 22px;
    border-left: 1px solid #ccc;
    white-space: nowrap;
    background: #fff;
    padding: 0;
    border-collapse: collapse
}

.personal_week_calendar_date {
    position: relative
}

.personal_week_calendar_date_cell {
    padding: 2px;
    text-align: center;
    border-right: 1px solid #ccc
}

.personal_week_calendar_event_cell {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    vertical-align: top;
    background: #fff;
    overflow: hidden;
    padding: 2px
}

.personal_week_calendar_body {
    width: 100%;
    padding: 0;
    border-collapse: collapse;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc
}

.personal_week_calendar_time_cell {
    width: 100%;
    padding: 0;
    border-collapse: collapse;
    text-align: center;
    white-space: nowrap;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc
}

.personal_week_calendar_data_cell {
    width: 100%;
    padding: 0;
    height: 29px;
    text-align: center;
    white-space: nowrap;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #fff;
    cursor: default
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .personal_week_calendar_data_cell {
        height:29.5px
    }
}

.s_date_saturday {
    background: none repeat scroll 0 0 #def1fe
}

.s_date_holiday,.s_date_sunday {
    background: none repeat scroll 0 0 #fee9eb
}

.personal_week_calendar_header .s_date_friday,.personal_week_calendar_header .s_date_holiday,.personal_week_calendar_header .s_date_monday,.personal_week_calendar_header .s_date_saturday,.personal_week_calendar_header .s_date_sunday,.personal_week_calendar_header .s_date_thursday,.personal_week_calendar_header .s_date_tuesday,.personal_week_calendar_header .s_date_wednesday,.personal_week_calendar_header .s_date_workday {
    border-right: 1px solid #c9c9c9;
    text-align: center;
    line-height: 1.1
}

.personalMonthDayWeek-grn,.personal_week_calendar_header .s_date_friday,.personal_week_calendar_header .s_date_holiday,.personal_week_calendar_header .s_date_monday,.personal_week_calendar_header .s_date_saturday,.personal_week_calendar_header .s_date_sunday,.personal_week_calendar_header .s_date_thursday,.personal_week_calendar_header .s_date_tuesday,.personal_week_calendar_header .s_date_wednesday,.personal_week_calendar_header .s_date_workday,.scheduleWrapperGroupWeek .s_date_friday_week,.scheduleWrapperGroupWeek .s_date_holiday_week,.scheduleWrapperGroupWeek .s_date_monday_week,.scheduleWrapperGroupWeek .s_date_saturday_week,.scheduleWrapperGroupWeek .s_date_sunday_week,.scheduleWrapperGroupWeek .s_date_thursday_week,.scheduleWrapperGroupWeek .s_date_tuesday_week,.scheduleWrapperGroupWeek .s_date_wednesday_week,.scheduleWrapperGroupWeek .s_date_workday_week {
    padding: 6px 4px
}

.calendar_navi .s_date_holiday,.calendar_navi .s_date_saturday,.calendar_navi .s_date_sunday,select .s_date_holiday,select .s_date_saturday,select .s_date_sunday {
    background: none repeat scroll 0 0 #d6efff
}

.calendar_navi .s_date_holiday,.calendar_navi .s_date_sunday,select .s_date_holiday,select .s_date_sunday {
    background: none repeat scroll 0 0 #ffdbde
}

.v_day {
    background: #fff
}

.v_day .v_day_column .v_day_blank {
    font-size: 14pt;
    width: 1em;
    background: #f0f
}

.v_day .v_day_column .v_day_data {
    font-size: 14px;
    white-space: nowrap;
    padding-left: 2px
}

.v_day_bg03 {
    background: #c7dbe9
}

.v_day_border02 {
    vertical-align: top;
    border-bottom: 1px solid #eee
}

.v_day_calendar {
    padding-top: 0;
    font-size: 90%
}

.v_day_calendar div {
    padding: 1px 0
}

.v_day_next {
    margin-left: 16px;
    font-size: 90%
}

.v_day_ul {
    margin: 0;
    padding: 0
}

.personalWeekUpper-grn {
    width: 100%;
    white-space: nowrap
}

.personalWeekPortletUpper-grn td {
    padding: 10px 3px
}

.personal_month_calendar {
    background: #fff;
    border-left: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    width: 100%;
    padding: 0;
    border-collapse: collapse;
    margin-top: 5px
}

.personal_month_calendar .addEvent {
    margin-left: 5px
}

.personal_month_calendar_column {
    width: 12%
}

.personal_month_calendar_item {
    font-size: 90%
}

.personal_month_calendar_item_inner {
    width: 100%;
    padding: 10px;
    border-collapse: collapse
}

.personal_month_calendar_todo {
    padding: 0;
    border-collapse: collapse
}

.personal_month_calendar_cell {
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    height: 60px;
    border-collapse: collapse;
    vertical-align: top;
    width: 12%;
    min-width: 60px
}

.personal_month_calendar_cell,.scheduleWrapperGroupWeek td {
    padding: 4px
}

.personal_month_calendar_cell_inner {
    width: 100%;
    padding: 0;
    border-collapse: collapse
}

.personal_month_calendar_date_cell {
    border-top: solid 1px #c9c9c9;
    border-bottom: solid 1px #dbdbdb;
    white-space: nowrap;
    text-align: center;
    vertical-align: top;
    padding: 4px 2px 3px 2px;
    font-size: 80%
}

.personal_month_calendar_star_column {
    width: 1px;
    vertical-align: top
}

.personal_month_calendar_navi_bottom,.personal_month_calendar_navi_top {
    background: #f9f9f9;
    border-top: solid 1px #c9c9c9;
    border-right: 1px solid #c9c9c9;
    text-align: center
}

.personal_month_calendar_navi_bottom {
    border-bottom: 0 none
}

.s_date_holiday_even,.s_date_holiday_odd,.s_date_sunday_even,.s_date_sunday_odd {
    background: none repeat scroll 0 0 #fdf1f1
}

.s_date_saturday_even,.s_date_saturday_odd {
    background: none repeat scroll 0 0 #e9f6fe
}

.s_date_friday_even,.s_date_friday_odd,.s_date_monday_even,.s_date_monday_odd,.s_date_thursday_even,.s_date_thursday_odd,.s_date_tuesday_even,.s_date_tuesday_odd,.s_date_wednesday_even,.s_date_wednesday_odd,.s_date_workday_even,.s_date_workday_odd {
    background: #fff
}

.s_today {
    background: none repeat scroll 0 0 #fcfad5
}

.move_week_area {
    margin-left: auto;
    margin-right: auto
}

.personal_month_calendar_cell_inner .move_week_in img {
    vertical-align: 0
}

table.personal_month_calendar_cell_inner {
    font-size: 100%
}

.personalMonthDayWeek-grn {
    text-align: center;
    border-top: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    padding: 5px 3px;
    font-size: 85%;
    line-height: 1.1
}

.personalMonthDate-grn {
    display: inline-block;
    position: relative;
    top: -3px;
    margin-right: -4px;
    margin-left: 7px
}

.personalMonthDate-grn a:link,.personalMonthDate-grn a:visited {
    color: #222;
    text-decoration: none
}

.personalMonthDate-grn a:hover {
    color: #222;
    text-decoration: underline
}

.personal_month_portlet {
    width: 100%;
    padding: 4px;
    border-collapse: collapse
}

.portal_frame .personal_month_calendar {
    margin: 0
}

.personalMonthPortletUpper-grn {
    background: #fff;
    border-left: 0 none;
    border-right: 0 none;
    padding: 8px 4px 7px 4px
}

.year_table {
    width: 100%
}

.year_month_table th {
    padding: 8px 4px;
    background: #f3f3f3;
    border: 1px solid #c9c9c9;
    border-collapse: collapse;
    line-height: 1.1;
    font-weight: 400
}

.year_month_table td {
    border: 1px solid #c9c9c9;
    border-collapse: collapse;
    font-size: 90%;
    padding: 2px
}

.top_parts .year_table {
    background: none repeat scroll 0 0 #fff;
    border-collapse: collapse;
    border-bottom: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    width: 100%
}

.year_month_table {
    border: 1px solid #c9c9c9;
    border-collapse: collapse;
    width: 98%;
    margin-bottom: 16px
}

.s_date_today {
    background: #d6f6d9
}

.year_weekday {
    background: #fff
}

.year_weekday_contents {
    background: none repeat scroll 0 0 #fff
}

.year_saturday {
    background: none repeat scroll 0 0 #def1fe
}

.year_holiday,.year_sunday {
    background: none repeat scroll 0 0 #fee9eb
}

.personalYearPortletUpper-grn {
    padding-top: 8px
}

.share_event_base_grn .border_partition_common_dashed_grn {
    margin: -2px 0 7px 0
}

.share_event_base_grn .label_grn {
    display: inline-block;
    margin: 0 0 4px 3px;
    font-size: 85%;
    white-space: nowrap
}

.group_day_calendar_event_cell .share_event_base_grn .group_day_calendar_item_grn,.share_event_base_grn .group_week_calendar_item,.share_event_base_grn .personalMonth_calendar_item {
    margin-bottom: 7px
}

.share_event_block_grn {
    text-align: left;
    padding: 2px;
    line-height: 1.1
}

.share_event_block_grn li {
    display: block;
    padding: 1px 0;
    white-space: nowrap;
    overflow: hidden
}

.share_event_block_grn .event_content,.share_event_block_grn .js_without_time_event_content {
    line-height: 1.2
}

.personal_day_calendar_event_item .share_event_block_grn .event_content,.personal_day_calendar_event_item .share_event_block_grn .js_without_time_event_content {
    display: block;
    text-overflow: ellipsis
}

.available_time_setting {
    width: 100%;
    margin-top: 5px;
    font-size: 90%
}

.available_time_base {
    width: 100%;
    border-right: 1px solid #c9c9c9;
    padding: 0;
    border-collapse: collapse;
    background: #fff
}

.available_time_navi_head {
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    white-space: nowrap;
    border-collapse: collapse
}

.available_time_navi {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: 2px;
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    text-align: right
}

.view_calendar_timebar1 {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #c9c9c9;
    padding: 2px;
    width: 10%
}

.view_calendar_timebar2 {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #c9c9c9;
    padding: 2px;
    width: 10%
}

.view_calendar_timebar_sec1 {
    border-bottom: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    padding: 2px;
    font-size: 1px;
    line-height: 1%
}

.view_calendar_timebar_sec2 {
    border-bottom: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    padding: 2px;
    font-size: 1px;
    line-height: 1%
}

.view_calendar_user {
    border-bottom: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    padding: 2px;
    background: #fff
}

.view_calendar_event_cell {
    border-bottom: 1px solid #c9c9c9;
    padding: 2px;
    background: #fff
}

.view_calendar_event_item {
    font-size: 90%;
    padding: 2px
}

.view_calendar_banner_item {
    border-bottom: 1px solid #c9c9c9;
    border-left: 1px solid #c9c9c9;
    text-align: center
}

.schedule_view_member_list {
    white-space: nowrap
}

tr.hidden_event {
    line-height: 10px;
    background: #a9a9a9
}

.schedule_absent_show {
    height: 15px;
    background-color: #a9a9a9
}

.schedule_absent_show_personal_week {
    height: 30px;
    background-color: #a9a9a9
}

.schedule_absent_show_personal_day_portlet {
    height: 15px;
    width: 50px;
    background-color: #a9a9a9
}

.schedule_absent_hide {
    height: 0;
    background-color: transparent
}

.search-schedule-ButtonTypeArrowUp-grn {
    background-image: url(/img/arrow_up_single_gray.gif);
    background-repeat: no-repeat;
    width: 12px;
    height: 7px;
    display: inline-block
}

.search-schedule-ButtonTypeArrowDown-grn {
    background-image: url(/img/arrow_down_single_gray.gif);
    background-repeat: no-repeat;
    width: 12px;
    height: 7px;
    display: inline-block
}

.search-schedule-ButtonType-grn ul {
    padding: 0;
    margin: 0
}

.search-schedule-ButtonType-grn li {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.search-schedule-ButtonType-grn .search-schedule-dropdownContents {
    margin-top: 6px;
    position: absolute;
    display: none;
    z-index: 91;
    text-decoration: none
}

.search-schedule-ButtonType-grn .search-schedule-dropdownContents li a {
    padding: 4px 5px 3px 5px;
    margin: 0;
    white-space: nowrap;
    background: 0 0;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    display: block;
    border-radius: 0
}

.search-schedule-ButtonType-grn .search-schedule-dropdownContents li a:hover {
    background-color: #cce4f1;
    border: none
}

.search-schedule-dropdownContents-open .search-schedule-dropdownContents {
    display: block
}

.buttonCommentPost-grn {
    height: auto;
    padding: 6px 8px
}

.buttonCommentPost-grn,x:-moz-any-link {
    padding: 4px 8px
}

.input-text-outer-schedule {
    -moz-box-sizing: border-box;
    border: 1px solid #7f7f7f;
    display: inline-block;
    padding: 0
}

.input-text-schedule {
    width: 200px;
    background-color: #fff;
    z-index: 1
}

.searchbox-submit-schedule {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    background: transparent url(/img/search16.png) no-repeat scroll 50% 50%
}

.searchbox-keyword-schedule {
    border: 0 none;
    float: left;
    position: relative;
    white-space: nowrap
}

.searchbox-select-schedule {
    float: left;
    font-size: 12px;
    margin-right: 5px
}

.clearFix-schedule::after {
    clear: both;
    content: "";
    display: block
}

.addHighlight-grn {
    background-color: #fdef9c!important
}

.personal_day_calendar_sheet .addHighlight-grn,.showtime .addHighlight-grn,.v_day_table .addHighlight-grn {
    background-color: #fae25d!important
}

.rounded,.showtime .critical3.rounded {
    border-radius: 5px!important
}

.personal_day_calendar_sheet .rounded,.showtime .rounded,.v_day_table .rounded {
    border-radius: 0!important
}

.busytime_grn {
    background-color: #f0f0f0;
    background-image: url(/img/image-common/busytime_bg.png);
    background-repeat: repeat;
    padding-bottom: 1px
}

.busy_time_span {
    position: absolute;
    width: 100%;
    z-index: 1
}

.critical3.personal_over_schedule.resizing_schedule,.dragging_schedule,.resizing_schedule {
    border: 1px solid #666;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    z-index: 999;
    position: absolute
}

.portal_frame_schedule_day_grn .critical3 .personal_over_schedule .resizing_schedule,.portal_frame_schedule_day_grn .dragging_schedule,.portal_frame_schedule_day_grn .resizing_schedule,.portal_frame_schedule_week_grn .critical3 .personal_over_schedule .resizing_schedule,.portal_frame_schedule_week_grn .dragging_schedule,.portal_frame_schedule_week_grn .resizing_schedule {
    background-color: #fcfad5
}

.drag_add_grn {
    background: rgba(204,228,241,.75);
    border: 0
}

.dragging_schedule {
    cursor: move
}

.resizing_schedule {
    white-space: nowrap
}

.original_schedule {
    background-color: #d6d6d6;
    border: 1px solid #a6a6a6;
    color: #666;
    opacity: .5
}

.critical3.personal_over_schedule {
    border: 1px solid #666
}

.critical3 .resizer_top {
    background-image: url(/img/image-common/event_handle1.png);
    background-repeat: no-repeat;
    top: -2px;
    width: 20px;
    height: 4px;
    position: absolute;
    display: inline-block;
    margin-top: 0;
    margin-left: -10px;
    left: 50%
}

.critical3 .resizer_bottom {
    background-image: url(/img/image-common/event_handle1.png);
    background-repeat: no-repeat;
    bottom: -2px;
    width: 20px;
    height: 4px;
    position: absolute;
    display: inline-block;
    margin-top: 0;
    margin-left: -10px;
    left: 50%
}

.ui-resizable-handle {
    position: absolute;
    font-size: .1px;
    display: block
}

.ui-resizable-n {
    cursor: n-resize;
    height: 6px;
    width: 100%;
    top: -2px;
    left: 0
}

.ui-resizable-s {
    cursor: s-resize;
    height: 6px;
    width: 100%;
    bottom: -2px;
    left: 0
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    z-index: 1001;
    display: none
}

.icon_attention_grn {
    background-image: url(/img/image-common/attention16.png)
}

.dialog_base_grn {
    padding: 0;
    display: inline-block;
    min-width: 300px;
    max-width: 600px
}

.dialog_base_grn .daialog_mainarea_grn {
    padding: 16px;
    line-height: 1.2
}

.daialog_mainarea_grn .sub_information_grn {
    color: #666;
    font-weight: 700
}

.candidacy_grn,.daialog_indent_grn {
    margin-left: 20px
}

.daialog_mainarea_grn input {
    vertical-align: middle;
    padding: 0
}

.candidacy_grn div {
    margin-top: 2px;
    margin-bottom: 3px
}

.candidacy_grn .checkbox_base_grn,.dialog_facility_duplication_grn .attentionMessage-grn,.dialog_facility_duplication_grn .sub_information_grn {
    white-space: normal;
    max-width: 550px;
    word-wrap: break-word
}

.dialog_facility_duplication_grn .attentionMessage-grn span {
    line-height: 1.2
}

.candidacy_grn div.more_grn {
    margin-top: 7px
}

.candidacy_disable_grn {
    opacity: .3
}

.aButtonStandardDisable-grn a:hover,.aButtonStandardDisable-grn a:link,.aButtonStandardDisable-grn a:visited {
    color: #bbb;
    text-decoration: none;
    cursor: default
}

.candidacy_disable_grn a:hover,.candidacy_disable_grn a:link,.candidacy_disable_grn a:visited {
    color: #bbb;
    text-decoration: none;
    cursor: text
}

.hidden_facility {
    display: none
}

.dddummy {
    position: absolute;
    z-index: 10;
    border: 1px solid #a6a6a6;
    background-color: #fcfad5;
    padding-left: 1px
}

.dddummy .normalEventElement {
    overflow: hidden
}

.dddummy_over {
    position: absolute;
    z-index: 11;
    border: 1px solid #9a9212!important;
    background-color: #f9f5ae!important
}

.dddummy_move {
    background-color: transparent!important;
    background-image: url(/img/image-common/event_move_bg.png);
    background-repeat: repeat;
    border: 1px solid #3084c1!important;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    z-index: 12
}

.dddummy_move .normalEventElement {
    overflow: hidden
}

.ddcontainment {
    position: absolute;
    z-index: -10;
    height: 100px
}

#ddpopup {
    display: none;
    position: absolute;
    z-index: 1001
}

.ddtd_hide {
    background-color: #d6d6d6;
    border: 1px solid #a6a6a6;
    color: #666;
    opacity: .5
}

.ddtd_remove {
    border: 1px solid #c9c9c9
}

.ddtd_prev_event_cell {
    border-right: none
}

.ddtd_prev_item {
    border-right: none;
    border-left: none
}

.ddtd_next {
    border-left: none
}

.ddimg_none {
    display: none
}

.ddimg1 {
    z-index: 13;
    background-color: transparent;
    position: absolute;
    left: 0;
    margin-left: -2px;
    width: 4px
}

.ddimg2 {
    z-index: 13;
    background-color: transparent;
    position: absolute;
    right: 0;
    margin-right: -2px;
    width: 4px
}

.ddimg1_portlet {
    z-index: 13;
    background-color: transparent;
    position: absolute;
    left: 0;
    margin-left: -4px;
    margin-top: -2px;
    width: 4px
}

.ddimg2_portlet {
    z-index: 13;
    background-color: transparent;
    position: absolute;
    right: 0;
    margin-right: 0;
    margin-top: -2px;
    width: 4px
}

.ddimg_child1 {
    z-index: 13;
    background-color: transparent;
    vertical-align: middle;
    display: table-cell;
    width: 4px
}

.ddimg_child2 {
    z-index: 13;
    background-color: transparent;
    background-image: url(/img/image-common/event_handle2.png);
    background-repeat: no-repeat;
    height: 20px;
    width: 5px
}

#ddtooltip {
    overflow: hidden;
    max-width: 300px;
    position: absolute;
    z-index: 14
}

.ui-resizable-handle {
    position: absolute;
    font-size: .1px;
    display: block
}

.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%
}

.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%
}

.ddoverlay {
    background-image: url(/img/bg_transparent.png);
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: block
}

.viewoverlay {
    background-image: url(/img/bg_transparent.png);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 900
}

.fleft {
    float: left
}

.normalEventElement .listTime a:active,.normalEventElement .listTime a:hover,.normalEventElement .listTime a:link,.normalEventElement .listTime a:visited,.time_critical_grn a:active,.time_critical_grn a:hover,.time_critical_grn a:link,.time_critical_grn a:visited {
    color: #222;
    text-decoration: none
}

.time_critical_grn {
    padding: 0 2px 0 0
}

.facility_approval_history_grn .list_column {
    border: 2px solid #e3e3e3
}

.facility_approval_history_grn .list_column th {
    padding: 5px;
    background: #fff;
    white-space: nowrap;
    border: 1px solid #dbdbdb;
    border-collapse: collapse;
    text-align: left;
    color: #555
}

.facility_approval_history_grn .list_column td {
    padding: 3px 5px;
    background: #fff;
    word-wrap: break-word;
    border: 1px solid #dbdbdb;
    border-collapse: collapse;
    clear: both
}

.action_result_mark_grn {
    color: #222;
    border: 1px solid #999;
    background: #fff;
    padding: 2px 4px;
    border-radius: 3px;
    display: inline-block;
    white-space: nowrap;
    margin: 3px 5px
}

.history_user_grn {
    margin-bottom: 2px;
    display: block
}

.history_comment_grn {
    margin-top: 4px;
    margin-bottom: 2px;
    padding-left: 20px;
    font-size: 85%
}

.facility_info_grn {
    margin-bottom: 15px
}

.facility_info_grn .list_column th {
    border: 1px solid #c9c9c9;
    border-bottom-style: none;
    padding: 4px 7px
}

.facility_info_grn .list_column td {
    border: 1px solid #dbdbdb;
    vertical-align: top;
    padding: 5px 7px
}

.calendar_event_icon_anniversary,.calendar_event_icon_holiday,.calendar_event_icon_workday {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: bottom
}

.calendar_event_icon_holiday {
    background: url(/img/holiday20.gif) no-repeat
}

.calendar_event_icon_anniversary {
    background: url(/img/anniversary20.gif) no-repeat
}

.calendar_event_icon_workday {
    background: url(/img/workday20.gif) no-repeat
}

.schedule_icon_allday {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    background: url(/img/allday.gif) no-repeat
}

.schedule_icon_banner {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    background: url(/img/banner16.gif) no-repeat
}

.schedule_icon_todo {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    background: url('/assets/mobile/img/todoPersonalInSchedule16.png') no-repeat
}

.schedule_icon_todo_expired {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    background: url(/img/image-app-schedule/todoShareInScheduleLate16.png) no-repeat
}

.schedule_icon_attention {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    background: url(/img/attention16.gif) no-repeat
}

.schedule_icon_event_unanswered {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    background: url(/img/image-app-schedule/event_unanswered16.png) no-repeat
}

.schedule_icon_event_private {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    background: url(/img/image-common/privateMark_sub16.png) no-repeat
}

.schedule_icon_event_repeat {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    background: url(/img/repeat16.gif) no-repeat
}

.schedule_icon_report {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    background: url(/img/report16.gif) no-repeat
}

.multi_view .personal_day_calendar_event_cell {
    border-top: 0
}

.personal_day_calendar_base_header {
    display: block;
    position: relative;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc
}

.personal_day_calendar_footer_grn,.personal_day_calendar_header {
    margin-left: 24px;
    display: block;
    position: relative
}

.personal_day_calendar_base_footer_grn {
    display: block;
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc
}

.event_content_base {
    max-width: 90%
}
.show{
    display:block;
}
#facility-popup-div2{
    width:100%!important;
    height:100%!important;
}
#facility-popupmain-div2{
    width:100%!important;
    height:100%!important;
}
.groupWeekEventTitle p{
    margin-bottom: 1px;
}
td.ygtvln {
    width: 40px;
}
.scheduleWrapperGroupWeek .s_task {
    border: 1px solid #c9c9c9;

}
.s_task{
    background: none repeat scroll 0 0 #e0f0d1;
}

.ygtvrow .ygtvblankdepthcell, .ygtvrow .ygtvtn,.ygtvln {
    width: 0px;
    display: none;
}
button:focus {
    outline: none!important;
}
.modal-confirm {
	color: #636363;
	width: 400px!important;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
}
.modal-confirm .modal-header {
	border-bottom: none;
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {
	color: #999;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
	color: #999;
}
.modal-confirm .icon-boxs {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}
.modal-confirm .icon-boxs i {
	color: #f15e5e;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}
.modal-confirm .btn-secondary {
	background: #c1c1c1;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background: #a8a8a8;
}
.modal-confirm .btn-danger {
	background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #ee3535;
}
.mBottom3 {
    text-align: left;
}
.icon-bin{
    color:red;
}
.ui.feed:last-child {
    margin-bottom: 0;
}
.ui.feed {
    font-size: 1rem;
}
.ui.feed {
    margin: 1em 0;
    width:80%;
}
.ui.comments:last-child {
    margin-bottom: 0;
}
.ui.comments:first-child {
    margin-top: 0;
}
.feed .comments {
    margin-top: 0;
    background: #f8f8f8;
    padding: 0 1em .5em;
    max-width: none;
}
.ui.comments {
    font-size: 1em;
}
.ui.comments {
    margin: 1.5em 0;
    max-width: 100%;
}
.feed .comments .comment {
    margin-top: 0;
}
.ui.comments .comment {
    position: relative;
    background: 0 0;
    margin: .5em 0 0;
    padding: .5em 0 0;
    border: none;
    border-top: none;
    line-height: 1.2;
}
.feed .comments .comment .avatar {
    width: 2em;
}
.ui.comments .comment .avatar {
    display: block;
    width: 2.5em;
    height: auto;
    float: left;
}
.ui.comments .comment .avatar img, .ui.comments .comment img.avatar {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: .25rem;
    height:42px;
}
.feed .comments .comment>.content {
    margin-left: 2.6em!important;
}
.ui.comments .comment>.content {
    display: block;
}
.ui.button {
    border-radius: 20px;
}
.feed textarea {
    width: 100%;
    padding: 7px;
    border: 1px solid #eee;
    height: 45px;
}
.ui.comments .comment a.author:hover {
    color: #1e70bf;
}
.feed .comments .comment .author {
    font-size: .9em;
    font-weight:600;
    margin-right: .5em;
}
.feed .comments .comment .metadata {
    margin-left: 0;
    margin-top: 4px;
    display: block;
}
.ui.comments .comment .metadata {
    display: inline-block;
    margin-left: .5em;
    color: rgba(0,0,0,.4);
    font-size: .875em;
}
.badge-color1 {
    background: #3a4048;
    color:#fff;
}
.badge-color3{
    background: green;
    color:#fff;
}
.badge-priority2{
    background: #e4ae0f;
    color: #fff;
}
.badge-priority3{
    background: blue;
    color:#fff;
}
.badge-priority1{
    background: red;
    color:#fff;
}
.badge-color2{
    background: #e4ae0f;
    color: #fff;
}
.badge-color4{
    background: red;
    color:#fff;
}
.feed .date {
    font-size: .9em!important;
    margin-top: 0!important;
}
.ui.comments .comment .text {
    min-height: 1rem;
    margin: .25em 0 .5em;
    font-size: 1em;
    word-wrap: break-word;
    color: rgba(0,0,0,.87);
    line-height: 1.3;
}
.feed .comments .comment>.content {
    margin-left: 3em!important;
}
.feed .comments .comment:hover .buttons {
    display: inline-block;
    border-width: 0;
}
.feed .comments .comment .buttons {
    display: none;
    float: right;
}
.feed .comments .comment:hover .buttons .button {
    border-width: 0!important;
}
.ui.buttons:not(.basic):not(.inverted)>.button, .ui.buttons>.ui.button:not(.basic):not(.inverted) {
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgb(34 36 38 / 15%) inset;
}
.ui.basic.buttons {
    box-shadow: none;
    border-radius: .28571429rem;
    float: right;
}
.ui.icon.button>.icon, .ui.icon.buttons .button>.icon {
    opacity: .9;
    margin: 0;
    vertical-align: top;
}
.ui.buttons>.ui.button:not(.basic):not(.inverted) {
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgb(34 36 38 / 15%) inset;
}
.ui.buttons .button:first-child {
    border-left: none;
    margin-left: 0;
    border-top-left-radius: .28571429rem;
    border-bottom-left-radius: .28571429rem;
}
.ui.basic.button, .ui.basic.buttons .button {
    background: 0 0!important;
    color: rgba(0,0,0,.6)!important;
    font-weight: 400;
    border-radius: .28571429rem;
    text-transform: none;
    text-shadow: none!important;
    box-shadow: 0 0 0 1px rgb(34 36 38 / 15%) inset;
}
.ui.icon.button, .ui.icon.buttons .button {
    padding: .78571429em;
}
.ui.button {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    background: #E0E1E2;
    color: rgba(0,0,0,.6);
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    user-select: none;
    -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    will-change: '';
}
.ui.basic.buttons .button:hover {
    background: #FFF!important;
    color: rgba(0,0,0,.8)!important;
    box-shadow: 0 0 0 1px rgb(34 36 38 / 35%) inset, 0 0 0 0 rgb(34 36 38 / 15%) inset;
}
.ui.buttons>.ui.button:not(.basic):not(.inverted) {
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgb(34 36 38 / 15%) inset;
}
.feed .comments .comment .buttons {
    display: none;
    float: right;
}
.submit-return-project:hover{
    background: red;
    color: #fff;
}
.margin_bottom{
    padding: 8px 8px 8px 0px;
    border-top: 1px dashed #d9d9d9;
}
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
