.table-member-content .datatable-header{
    display: flex;
}
.table-member-content .dataTables_info{
    width: 50%;
    text-align: right;
}
.table-member-content .dataTables_paginate {
    width: 40%;
    float: none;
    margin:0px;
    text-align: left;
}
.table-member-content .dataTables_paginate.paging_simple .paginate_button {
    padding: 3px;
    font-size: 22px;
    display: initial;
}
.table-member-content .dataTables_paginate .previous {
    margin-left: 10px!important;
}
.table-member-content .icon-circle-right2,.icon-circle-left2 {
    font-size:22px!important;
}
.zoom {
    position: fixed;
    top: 410px;
    right: 24px;
    height: 70px;
}
.zoom-menu {
    display: grid;
    position: absolute;
    right: -12px;
    left: auto;
    top: 135%;
    transform: translateY(-50%);
    height: 100%;
    list-style: none;
    text-align: right;
}
.zoom-menu li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.scale-transition.scale-out {
    transform: scale(0);
    transition: transform 0.2s !important;
}
.zoom-btn-person {
    background-color: #ffffff;
}
.zoom-fab {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #fe7701;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    transition: 0.2s ease-out;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
    cursor: pointer;
    color: #FFF;
}
.zoom-btn-report {
    background-color: #ffffff;
}
.icon-forward, .icon-back {
    color: green;
    font-size: 24px;
}
.icon-reply {
    color: red;
    font-size: 24px;
}
.zoom-btn-tangram {
    background-color: #ffffff;
}
.zoom-btn-doc {
    background-color: #ffffff;
}
.zoom-btn-person {
    background-color: #ffffff;
}
.datatable-header {
     padding: 0px;
}
.select2-search--dropdown:after {
    content: "";
}
.select-full .select2-container{
    width:100%!important;
}
/* Turn off scrollbar when body element has the loading class */
.footer-bottom{
    position: absolute;
    bottom:0;
    width:100%;
}
.bootbox-confirm button{
    height:100%;
}
#postData button{
    height:100%;
}
.content{
    min-height: calc(100vh - 170px);
}
.submit-send-project {
    background: green;
    color: #fff;
    border: none;
    padding: 4px 30px;
}
.submit-send-project:hover {
    background: green;
    color: #fff;
}
.submit-report-project {
    background: green;
    color: #fff;
    border: none;
    padding: 4px 30px;
    height: 100%;
}
.submit-report-project:hover {
    background: green;
    color: #fff;
}
a{
    color:#0af
}
a.url-allstores{
    color:#0c0c0c;
}

.logo{
    width: 100px;
    height: 80px;background:transparent;
    background-image: url(https://dl.dropboxusercontent.com/s/8htur49sjpdxu6s/extension-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto 10px;
    -webkit-animation-name: gravityaintgotshitonme;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes gravityaintgotshitonme{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 6px);}
    to {-webkit-transform: translate(0, -0px);}
}



/*form styles*/
#msform {
    width: 100%;
    margin: 0 auto;
    padding:0;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #E9EFF7;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
#msform fieldset {
    background: #fff;
    border: 0 none;
    border-radius: 3px;
    padding: 40px 30px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    text-rendering: optimizespeed;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
#msform fieldset .demo-gallery a {
    max-width: 100%;
    height: auto;
    display: inline-block;
    width:20%;
    padding:10px;
    float: left;
}
#msform fieldset video {
    max-width:100%;
}
/*buttons*/
#msform .action-button {
    width: auto;
    cursor: pointer;
    margin: 10px 5px;
    background-color: #0af;
    color: #fff;
    border: 0;
    font-size:35px;
    letter-spacing:0;
    font-weight:lighter;
    border-radius:6px;
    padding: 0;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.2),0px -1px 0px 0px rgba(0,0,0,0.3) inset;
    background-image: -webkit-linear-gradient(top, #0af, #008bd0);
    background-image: linear-gradient(to bottom, #0af, #008bd0);
    text-align: center;
    line-height: 1.1;
    text-decoration: none;
    min-width: 80px;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.25);
    transition:all 0.2s ease-in-out;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #0af;
}

/*headings*/
.fs-title {
    margin-bottom: 10px;
    color: #000;
    font-weight: 500;
    line-height: 1.2;
    font-size:22px;
    padding: 0 70px 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height:10px;
    color: #0c0c0c;
    margin: 10px 0px;
    font-weight: 300;
    width: 100%;
    text-align: left;
}
.fs-subtitle span{
    font-weight: 600;
    font-size: 16px;
}
.fs-subtitle i,
.fs-subtitle strong{
    font-weight:bold;
}
/*progressbar*/
#progressbar {
    padding:0px;
    margin:0;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: #A0A6AD;
    text-transform: uppercase;
    font-size: 14px;
    width: 16%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 26px;
    line-height: 28px;
    display: block;
    font-size: 18px;
    color: #333;
    background: #E9EFF7;
    border-radius: 6px;
    margin: 0 auto 8px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #E9EFF7;
    position: absolute;
    left: -50%;
    top: 14px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #0af;
    color: #fff;
}

.skipwizard{float:right;width:auto;border-radius: 6px;
    background: #E9EFF7;color:#666;
    border: 0;
    padding: 10px;cursor:pointer;
}
.progresswrap{margin: 0 auto;padding: 20px 0;}

.innerpos{
    width: 49%;
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

#msform fieldset:nth-of-type(3) .innerpos:nth-of-type(1){
    width:44%;
}

#msform fieldset:nth-of-type(4) .innerpos:nth-of-type(1){
    width:44%;
    margin: 0 20px 0 0;
}


#msform input.previous.action-button{position: absolute;
    left: 0;
    top: 10px;
    font-size: 16px;
    padding: 10px;
}

#msform input.next.action-button{position: absolute;
    right: 0;
    top: 10px;
    font-size: 16px;
    padding: 10px;
}
#msform input.next.action-button.getstarted{position: relative;
    margin:0 auto;
    font-size: 18px;
    padding: 14px 12px;
}

h4{
    font-size: 20px;
    font-weight: 400;
    line-height: 47px;
}
.btn-return{
    background: red;
    color:#fff!important;
    position:absolute;
    top:0;
    left:0;
    font-size:14px!important;
}
.btn-unapproved{
    background: red;
    color:#fff!important;
    position:absolute;
    top:0;
    left:0;
    font-size:14px!important;
}
.btn-approved{
    background: #4CAF50;
    color:#fff!important;
    position:absolute;
    top:0;
    right:0;
    font-size:14px!important;
}
.btn-report{
    background: #4CAF50;
    color:#fff!important;
    position:absolute;
    top:0;
    right:0;
    font-size:14px!important;
}
.content-project{
    display: block;
    width:100%;
    text-align: left;
}
.content-box-shadow{
    box-shadow: rgb(17 12 46 / 15%) 0px 48px 100px 0px;
    margin-bottom: 30px;
}
button{
    padding: 4px 30px;
    height: 38px;
}
.btn-delete-member{
    padding: 8px 15px;
    margin-top: 36px;
    margin-left: 3px;
    height: 38px;
}
#progressbar .error:before {
    background: red;
    color:#fff;
}
#progressbar .error:after {
    background: red;
}
#progressbar .error a{
    color: red;
}
#progressbar li a{
    padding-top:42px;
}

