.icons{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    margin-left: 1px;
    margin-right: 10px;
    opacity: 1;
    float: left;
    width: 20px;
    position: relative;
}
.icons-send-white{
    content: url('/assets2/css/icon/send-white.svg');
}
.active .icons-send-dark{
    content: url('/assets2/css/icon/send-white.svg');
}
.icons-send-dark{
    content: url('/assets2/css/icon/send-dark.svg');
}
.icons-draft-white{
    content: url('/assets2/css/icon/draft-white.svg');
}
.active .icons-draft-dark{
    content: url('/assets2/css/icon/draft-white.svg');
}
.icons-draft-dark{
    content: url('/assets2/css/icon/draft-dark.svg');
}
.icons-cancel-white{
    content: url('/assets2/css/icon/x-mark.svg');
}
.icons-list-white{
    content: url('/assets2/css/icon/list-white.svg');
}
.active .icons-list-dark{
    content: url('/assets2/css/icon/list-white.svg');
}
.icons-list-dark{
    content: url('/assets2/css/icon/list-dark.svg');
}
.icons-approve-white{
    content: url('/assets2/css/icon/approve-white.svg');
}
.active .icons-approve-dark{
    content: url('/assets2/css/icon/approve-white.svg');
}
.icons-approve-dark{
    content: url('/assets2/css/icon/approve-dark.svg');
}
.active .icons-user-dark{
    content: url('/assets2/css/icon/user-white.svg');
}
.icons-user-dark{
    content: url('/assets2/css/icon/user-dark.svg');
}
.icons-user-white{
    content: url('/assets2/css/icon/user-white.svg');
}
.icons-save-white{
    content: url('/assets2/css/icon/save-white.svg');
}
.active .icons-save-dark{
    content: url('/assets2/css/icon/save-white.svg');
}
.icons-save-dark{
    content: url('/assets2/css/icon/save-dark.svg');
}
.active .icons-chart-dark{
    content: url('/assets2/css/icon/bar-chart-white.svg');
}
.icons-chart-dark{
    content: url('/assets2/css/icon/bar-chart-dark.svg');
}
.icons-chart-white{
    content: url('/assets2/css/icon/bar-chart-white.svg');
}
.active .icons-delete-dark{
    content: url('/assets2/css/icon/delete-white.svg');
}
.icons-delete-dark{
    content: url('/assets2/css/icon/delete-dark.svg');
}
.icons-delte-white{
    content: url('/assets2/css/icon/delete-white.svg');
}
.icons-position{
    content: url('/assets2/css/icon/id.svg');
}
.icons-member{
    content: url('/assets2/css/icon/member-dark.svg');
}
.icons-diagram{
    content: url('/assets2/css/icon/diagram-dark.svg');
}
.icons-budget{
    content: url('/assets2/css/icon/budget-dark.svg');
}
.icons-performance{
    content: url('/assets2/css/icon/performance-dark.svg');
}
.icons-image{
    content: url('/assets2/css/icon/creative-dark.svg');
}
.icons-wrench{
    content: url('/assets2/css/icon/wrench-dark.svg');
}
.icons-wrench{
    content: url('/assets2/css/icon/wrench-dark.svg');
}
.icons-system{
    content: url('/assets2/css/icon/system-dark.svg');
}
.icons-statistical{
    content: url('/assets2/css/icon/statistical-dark.svg');
}
.icons-year{
    content: url('/assets2/css/icon/year-dark.svg');
}
.icons-quarter{
    content: url('/assets2/css/icon/quarter-dark.svg');
}
.icons-month{
    content: url('/assets2/css/icon/month-dark.svg');
}
.icons-month{
    content: url('/assets2/css/icon/month-dark.svg');
}
.icons-todo-list{
    content: url('/assets2/css/icon/checklist.svg');
}
.icons-project{
    content: url('/assets2/css/icon/project.svg');
}
.icons-vietnam{
    content: url('/assets2/css/icon/vietnam.svg');
}
.icons-england{
    content: url('/assets2/css/icon/england.svg');
}
.icons-medal{
    content: url('/assets2/css/icon/medal.svg');
}
.icons-user{
    content: url('/assets2/css/icon/user.svg');
}
.icons-user-group{
    content: url('/assets2/css/icon/user-group.svg');
}


