.dataTables_paginate {
    float: right;
    text-align: right;
    margin: 0 0 1.25rem 1.25rem;
}
.datatable-footer>div:first-child, .datatable-header>div:first-child {
    margin-left: 0;
}
.dataTables_info {
    float: left;
    padding: .4375rem 0;
    margin-bottom: 1.25rem;
}
.dataTables_paginate .paginate_button.disabled, .dataTables_paginate .paginate_button.disabled:focus, .dataTables_paginate .paginate_button.disabled:hover {
    cursor: default;
    background-color: #fff;
    color: #999;
}
.dataTables_paginate .paginate_button:first-child {
    margin-left: 0;
}
.dataTables_paginate .paginate_button {
    display: inline-block;
    padding: .4375rem;
    min-width: 2.25003rem;
    margin-left: .125rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #333;
    outline: 0;
    border: 1px solid transparent;
    border-radius: .1875rem;
    transition: all ease-in-out .15s;
}
.dataTables_paginate .paginate_button.current, .dataTables_paginate .paginate_button.current:focus, .dataTables_paginate .paginate_button.current:hover {
    color: #fff;
    background-color: #37474f;
}
.datatable-footer>div:first-child, .datatable-header>div:first-child {
    margin-left: 0;
}
.dataTables_filter {
    position: relative;
    display: block;
    float: left;
    margin: 0 0 1.25rem 1.25rem;
}
.dataTables_filter>label {
    margin-bottom: 0;
    position: relative;
}
.dataTables_filter>label>span {
    float: left;
    margin: .5rem .83333rem;
    margin-left: 0;
}
.dataTables_filter input {
    outline: 0;
    width: 12.5rem;
    padding: .4375rem .875rem;
    padding-right: 2rem;
    font-size: .8125rem;
    line-height: 1.5385;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: .1875rem;
}
.dataTables_length {
    width: 140px;
}
.dataTables_length {
    float: right;
    display: inline-block;
    margin: 0 0 1.25rem 1.25rem;
}
.dataTables_length>label {
    width: 100%;
    display: inline-flex;
}
.dataTables_length>label>span:first-child {
    float: left;
    margin: .5rem .83333rem;
    margin-left: 0;
}
.dataTables_length select {
    height: calc(1.5385em + .875rem + 2px);
    padding: .4375rem .875rem;
    font-size: .8125rem;
    line-height: 1.5385;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    outline: 0;
}
.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}
.select2-hidden-accessible {
    border: 0!important;
    clip: rect(0 0 0 0)!important;
    height: 1px!important;
    margin: -1px!important;
    overflow: hidden!important;
    padding: 0!important;
    position: fixed!important;
    width: 1px!important;
}
.dataTables_length .select2-container {
    width: 50%!important;
}
.disabled {
    display: none!important;
}
.datatable-footer{
    display: flow-root;
}
