p.tree,
  ul.tree,
  ul.tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 18px;
  }

  ul.tree ul {
    margin-left: 4.3em;
  }
  ul.tree li {
    margin-left: 0.35em;
    border-left: thin solid #000;
    margin-top: -12px;
  }

  ul.tree li:last-child {
    border-left: none;
  }

  ul.tree li:before {
    vertical-align: super;
    width: 4em;
    height: 3em;
    margin-right: 0.1em;
    border-bottom: thin solid #000;
    content: "";
    display: inline-block;
    border-radius: 0px 10px;
    max-width: 100%;
  }

  ul.tree li:last-child:before {
    border-left: thin solid #000;
  }
  .department-detail{
    width: calc(100% - 100px);
    padding: 5px;
    background: #e0e0e0;
    margin-left: 10px;
    display: inline-flex;
    border-radius: 5px;
  }
  .department-detail-parent{
      display: inline-block;
      width:calc(100% - 100px);
  }
  .department-action{
      width:60%;
      text-align: right;
  }
  .department-action a{
      padding: 0 4px;
  }
  .fa-edit{
      color:green;
  }
  .icon-plus-circle2{
      color:green;
  }
  .icon-minus-circle2{
      color: #333;
  }
  .department-detail input{
      width:100%;
  }
  .content-department{
      width:40%;
  }
  .fa-chevron-circle-down{
      font-size:16px;
      color:#333;
  }
  .fa-chevron-circle-right{
      font-size:16px;
      color:#333;
  }
  .department-action .action{
    display: inline-flex;
    border-left: 2px solid #fff;
}
.department-action .action a{
    padding:0 8px;
}
.icon-pencil{
    color:green;
}