body{
    background-color: #fff;
}

.btn-sidebar{
    display: none !important;
}

.is-active .btn-sidebar{
    display: block !important;
}

.bg-schedule{
    background-color: #ffdcab;
}

.month-dialog{
    padding: 100px !important;
}

.day::before{
    display: none !important;
}
.day::after{
    display: none !important;
}

.select-time-modal{
    background-color: rgba(0, 0, 0, 0.44);
}

.select-area{
    overflow: scroll;
    height: 350px;
}

.weekday-selected{
    max-width: 100px;
    line-height: 1rem;
}

.extraHeader .nav-tabs .nav-item .tab-active.active{
    color: #FE9500 !important;
    border-bottom-color: #FE9500 !important;
}

.bg-schedule-card{
    background-color: #fbf0e0;
}

.schedule-title-tag{
    bottom: 2px;
    position: relative;
}

.chip-height{
    height: 18px !important;
}

.icon-schedule{
    font-size: 18px;
    color: #c2c2c2;
}

.fs-14{
    font-size: 14px !important;
}

.fs-16{
    font-size: 16px !important;
}

.fs-18{
    font-size: 18px !important;
}

.fs-22{
    font-size: 22px !important;
}

.fs-28{
    font-size: 28px !important;
}

.fs-56{
    font-size: 56px !important;
}

.time-padding{
    /* margin: 0  0 0 10px; */
    border-left: 3px solid;
    /* border-color: #47a0ff; */
}

.time-padding::before{
    display: none;
}

.dot-fix{
    left: -7px !important;
}

.title-weight{
    font-weight: 500;
}

.w331{
    width: 331px;
}

.pl-92{
    padding-left: 92px;
}

.view-card-title{
    /* background-color: #544a74; */
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    border-radius: 6px 6px 0 0;
    padding: 10px 10px 10px 22px;
}

.dart-size{
    width: 60px;
    height: 60px;
    min-width: 60px;
}

.ul-drop{
    padding: 0;
    border: 1px solid #ced4da;
    width: 110px;
}

.ul-drop li{
    list-style: none;
}

.select-center{
    text-align: center;
    text-align-last: center;
}

button:hover, button:active, button:focus {
    outline: 0 !important
}

.user-list{
    overflow: scroll;
    box-shadow: none;
    height: auto;
    max-height: 220px;
}

#attachments{
    opacity: 0;
    position: absolute;
    z-index: -1;
}

/* Cabinet */

.checkbox-size{
    height: 15px;
    width: 15px;
}

.tab-content .searchbox .cabinet-searchbox{
    border-color: #fe94006e !important;
}

/* *Cabinet */

/* Calendar */
.fixed-scroll{
    overflow: hidden !important;
}
/* .schedule-calendar #calendar{
    border-radius: 0 0 30px 30px;
} */
 #calendar .header{
    /* background-color: #000; */
    display: flex;
    align-items: center;
}
#calendar .header h1{
    width: 100%;
}
.schedule-calendar #calendar .header h1{
    width: auto;
    padding-left: 10px !important;
}
.schedule-calendar #calendar .header .left{
    position: relative;
    left: 0 !important;
    top: 0;
    margin: 0 10px;
}
.schedule-calendar #calendar .header .right{
    position: relative;
    right: 0 !important;
    top: 0;
    margin-top: 0;
}
 #calendar .day-name{
    text-transform: none !important;
    font-size: 14px;
}
 #calendar .day-number{
    font-size: 16px;
}
 #calendar .header .search{
    position: absolute;
    right: 10px;
}
.staff-list,.show-staff-list{
    width: 100%;
}
/* .schedule-calendar .calendar-bg{
    background-color: #000;
    border: 0;
}
.schedule-calendar .week, .schedule-calendar .week, .schedule-calendar .weekday{
    background-color: #000;
} */
.schedule-calendar .day.today{
    border:1px solid #FE9500;
}
#schedule-workbench{
    /* background-color: #000; */
    height: 100%;
}
#schedule-workbench .wide-block{
    border-radius: 40px 40px 0 0;
    overflow: hidden;
    height: 100%;
}
#schedule-workbench .wide-block .bar{
    width: 70px;
    height: 5px;
    border-radius: 30px;
    margin: 0 auto;
}
#schedule-workbench .timeline{
    /* height: -webkit-fill-available; */
    overflow: scroll;
    padding-left: 95px !important;
}
#schedule-workbench .block-out{
    border-color: #b9b9b9 !important;
    position: sticky;
    top: 0;
    height: 10px;
}
#schedule-workbench .timeline.timed::before{
    display: none;
}
#schedule-workbench .time-area{
    white-space: nowrap;
}#schedule-workbench .form-search{
    background-color: red;
    height: 100%;
    width: 100%;
    position: absolute;
}
#schedule-workbench .dot{
    left: 10px !important;
}
#schedule-workbench .title{
    font-weight: 600;
}
#schedule-workbench .content{
    padding-left: 40px;
}
#schedule-workbench .section-title{
    position: relative;
    bottom: -22px;
    padding-top: 0;
}
#schedule-workbench .section-title span{
    z-index: 10;
    background-color: #fff;
}
.ui-autocomplete{
    z-index: 10000!important;
}
.ck.ck-reset{width:100%!important;}
/* *Calendar */
.all-day-events span{
    vertical-align: top;
    display: flex;
    padding: 0;
    height: 3px;
    line-height: 5px;
    margin: 0 1px;
    margin-bottom: 4px;
}
.sunday{
    color:#ff7878;
}
.allday{
    display: flex;
    width:100%;
}
.col_1{
    width: 14.28%;
}
.col_2{
    width: 28.56%;
}
.col_3{
    width: 42.84%;
}
.col_4{
    width: 57.12%;
}
.col_5{
    width: 71.4%;
}
.col_6{
    width: 85.68%;
}
.col_7{
    width: 100%;
}
.form-wizard-section .button-item.error strong {
    background: #fa0119;
    color: #fff;
}
.icon-box:before {
    content: ""!important;
}
.dropdown-menu.show {
    top: 5px!important;
}
.fab-button .dropdown-menu .danger{
    background: #ec4433;
}
.fab-button .dropdown-menu .success{
    background: #34c759;
}
.fab-button .dropdown-menu .primary {
    background: #1E74FD;
}
.fab-button .dropdown-menu.show {
    top: 8px!important;
}
.sidebar-buttons .dropdown-menu.show{
    top:0px!important;
}
.sidebar-buttons .dropdown{
    width:100%;
    text-align: center;
}
.sidebar-buttons .dropdown-item.active{
    background: #fe9500;
    color: #fff;
}
.list-view-project li.active{
    background: #ffd265;
}
.notification-member p {
    margin: 0px;
    font-size: 14px;
}
.img-member img{
    width:100%;
}
/* .btn{
    border: 1px solid #a6a5a5;
} */
.btn-file{
    border-radius: 0px;
}
.form-create{
    box-shadow:
    0  5px 10px rgba(154,160,185,0.05),
    0 15px 40px rgba(166,173,201,0.2);
    border:none;
}
.btn-link{
    border:none;
}
#headingOne{
    padding:0px;
}
fieldset {
    border: 1px solid #fd7802;
    padding: 10px 18px;
    border-radius: 5px;
}
legend {
    width:auto!important;
    font-size: 18px;
}
.top-user tbody tr td p {
    margin-bottom: 8px;
}
p{
    margin-bottom: 6px;
}
.badge-color2{
    background: #e4ae0f;
    color:#fff;
}
.badge-color4{
    background: #EC4433 ;
    color:#fff;
}
.badge-color3{
    background: green;
    color:#fff;
}
.badge-color1{
    background: #3a4048;
    color:#fff;
}
.badge-priority4 {
    background: #3a4048;
    color: #fff;
}
.badge-priority3 {
    background: blue;
    color: #fff;
}
.badge-priority2 {
    background: #e4ae0f;
    color: #fff;
}
.badge-priority1 {
    background: red;
    color: #fff;
}
.icon-box span{
    margin-bottom: 4px;
    font-size: 16px;
}
.show-chart{
    width: 100%;
}
.mborder-color-1{
    border-color: rgb(205, 255, 89) !important;
}
.mborder-color-2{
    border-color: rgb(89, 255, 191) !important;
}
.mborder-color-0{
    border-color: rgb(89, 255, 191) !important;
}
.mborder-color-3{
    border-color: rgb(189, 89, 255) !important;
}
.mborder-color-4{
    border-color: rgb(255, 89, 89) !important;
}
